Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix build bug
  packages/build-config-factory/src/ensureDeps.js
  packages/build-config-factory/src/generateDeps.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use @next-sdk/*
  etc/brick-kit.api.md
  packages/brick-dll/webpack.dll.js
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/checkPermissions.spec.ts
  packages/brick-kit/src/core/checkPermissions.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/core/menu.spec.ts
  packages/brick-kit/src/core/menu.ts
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
  packages/webpack-config-factory/src/dll/webpack.dll.factory.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(github): rename pull request template
  .github/workflows/pull_request_template.md
Due: prettier --write

chore(renovate): set `prHourlyLimit` to 2
  renovate.json
Due: prettier --write

chore(ci): add github actions of ci
  .github/workflows/ci.yml
Due: none

feat(icon): permission setting icon
  .size-limit.js
  packages/brick-icons/src/icons/cmdb/permission-setting.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support manage sdks in different scopes
  jest.config.js
  packages/sdk-scripts/src/constants.ts
  packages/sdk-scripts/src/main.ts
  packages/sdk-scripts/src/prompt.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update badges
  README.md
Due: prettier --write

chore(): wip ci
  .github/workflows/ci.yml
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

chore(ci): using npx
  .github/workflows/ci.yml
Due: none

chore(ci): fix publish
  .github/workflows/ci.yml
Due: none

chore(deps): Update dependency source-map-loader to v2
  packages/brick-dll/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack to v5
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update react monorepo to v17
  packages/brick-dll/package.json
  packages/brick-icons/package.json
  packages/brick-kit/package.json
  packages/editor-bricks-helper/package.json
  yarn.lock
Due: prettier --write

chore(ci): run ci in branch of next
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): Update dependency schema-utils to v3
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency less-loader to ^7.3.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency source-map-loader to ^1.1.3
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency change-case to ^4.1.2
  packages/easyops-illustrations/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prettier to ^2.2.1
  package.json
  packages/easyops-illustrations/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.38.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to v17
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(renovate): add postUpdateOptions yarnDedupeHighest
  renovate.json
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.14.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(jest): no @easyops/* now
  jest.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add public sdk: permisson
  packages/sdk-scripts/src/constants.ts
  packages/sdk-scripts/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add alias of @easyops/brick-http for legacy sdk
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.3.5
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.8.5
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
