Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support settings.locales
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/processors.spec.ts
  packages/brick-kit/src/core/processors.ts
  packages/brick-kit/src/core/setAppLocales.spec.ts
  packages/brick-kit/src/core/setAppLocales.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(preview): replace useChildren with useBrick
  packages/preview/package.json
  packages/preview/src/bootstrap.ts
  packages/preview/src/replaceUseChildren.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
Due: prettier --write

feat(): support useChildren in preview
  packages/brick-container/src/preview.ts
  packages/brick-container/src/replaceUseChildren.spec.ts
  packages/brick-container/src/replaceUseChildren.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): delete original slots for useChildren
  packages/preview/src/replaceUseChildren.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(ci): add codecov token
  .github/workflows/ci.yml
Due: none

fix(): add missing globals for preview page
  packages/brick-container/src/preview.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(ci): fix ci
  .github/workflows/ci.yml
Due: none

feat(): support setting url and app for preview rendering
  etc/runtime.api.md
  packages/brick-playground/src/index.ts
  packages/preview/src/bootstrap.ts
  packages/preview/types.d.ts
  packages/runtime/src/createRoot.spec.ts
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/compute/evaluate.spec.ts
  packages/runtime/src/internal/compute/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): bypass SSE requests
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

fix(): support sse stream in start mode
  packages/brick-container/scripts/start.js
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): sse stream
  packages/easyops-runtime/src/flowApi/FlowApi.ts
  packages/easyops-runtime/src/flowApi/FlowApiProvider.spec.ts
  packages/easyops-runtime/src/flowApi/FlowApiProvider.ts
  packages/http/src/http.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/sse.spec.ts
  packages/runtime/src/internal/sse.ts
  packages/types/src/manifest.ts
  packages/utils/package.json
  packages/utils/src/general/createSSEStream.spec.ts
  packages/utils/src/general/createSSEStream.ts
  packages/utils/src/general/index.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update docs etc
  etc/runtime.api.md
Due: none

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/http/CHANGELOG.md
  packages/http/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): replace useChildren in children
  packages/preview/package.json
  packages/preview/src/bootstrap.ts
  packages/preview/src/index.ts
  packages/preview/src/replaceUseChildren.spec.ts
  packages/preview/src/replaceUseChildren.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): keep conditional handlers if has `else`
  packages/brick-utils/src/removeDeadConditions.spec.ts
  packages/brick-utils/src/removeDeadConditions.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

feat(): allow adding coveragePathIgnorePatterns
  packages/test-next/index.d.ts
  packages/test-next/src/createJestConfig.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/create-api-sdk/CHANGELOG.md
  packages/create-api-sdk/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/http/CHANGELOG.md
  packages/http/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/pipes/CHANGELOG.md
  packages/pipes/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  packages/test-next/CHANGELOG.md
  packages/test-next/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): 修复构件仓库调试报错问题
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use `Symbol.for` instead of `Symbol`
  packages/element/src/createDecorators.ts
  packages/element/src/internal/symbols.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

feat(): support accessToken
  packages/easyops-runtime/package.json
  packages/easyops-runtime/src/auth.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support accessToken
  etc/brick-types.api.md
  packages/brick-kit/package.json
  packages/brick-kit/src/auth.ts
  packages/brick-types/src/manifest.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
Due: prettier --write

chore(size-limit): increase icons size
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

feat(preview): support _preview_only_inject
  packages/brick-playground/src/index.ts
  packages/preview/package.json
  packages/preview/src/bootstrap.ts
  packages/preview/types.d.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): debug data value
  etc/runtime.api.md
  packages/easyops-runtime/src/flowApi/CollectContracts.spec.ts
  packages/easyops-runtime/src/flowApi/CollectContracts.ts
  packages/easyops-runtime/src/flowApi/index.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: (((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
