Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency prettier to ^2.6.0
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
  packages/easyops-illustrations/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(): restrict versions of fontawesome v5
  packages/fontawesome-library/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.16.1
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

style fix
  packages/brick-container/src/styles/theme/dark.css
  packages/custom-antd-styles/src/dropdown.less
Due: prettier --write

feat(): new util function: debounceByAnimationFrame
  packages/brick-utils/src/debounceByAnimationFrame.spec.ts
  packages/brick-utils/src/debounceByAnimationFrame.ts
  packages/brick-utils/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update babel monorepo to ^7.17.8
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-dll/package.json
  packages/build-next-libs/package.json
  packages/cook/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency postcss-preset-env to ^7.4.3
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency yargs to ^17.4.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): add APP.navConfig and fix snippet add Refs: NEXT_BUILDER-1459
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-types/src/manifest.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix snippet add bug Refs: NEXT_BUILDER-1459
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(deps): Update actions/cache action to v3
  .github/workflows/ci.yml
  .github/workflows/lerna-version.yml
  .github/workflows/update-dll-manifest.yml
  .github/workflows/update-docs-etc.yml
Due: none

chore(): add icon
  .size-limit.js
  packages/brick-icons/src/icons/itsc-form/cmdb-instance-change.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): React组件支持调用skd生成的provider
  packages/brick-kit/src/hooks/useProvider/fetch.spec.ts
  packages/brick-kit/src/hooks/useProvider/fetch.ts
  packages/brick-kit/src/hooks/useProvider/fetchProviderArgs.ts
  packages/brick-kit/src/hooks/useProvider/useProvider.spec.tsx
  packages/brick-kit/src/hooks/useProvider/useProvider.ts
  packages/brick-kit/src/hooks/useProvider/useProviderArgs.spec.ts
  packages/brick-kit/src/hooks/useProvider/useProviderArgs.ts
  packages/brick-kit/src/hooks/useProvider/useProviderTypes.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rc-tabs to ~11.11.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 5.16.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support APP.getMenus Refs: NEXT_BUILDER-1459
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/scanAppInStoryboard.spec.ts
  packages/brick-utils/src/scanAppInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update unit test Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/internal/devtools.spec.ts
  packages/brick-kit/src/internal/menu.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update icon
  packages/brick-icons/src/icons/itsc-form/cmdb-instance-change.svg
Due: none

Update packages/brick-utils/src/scanAppInStoryboard.ts
  packages/brick-utils/src/scanAppInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update unit test Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/internal/devtools.spec.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/menu.ts
  packages/brick-utils/src/scanAppInStoryboard.spec.ts
  packages/brick-utils/src/scanAppInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency babel-loader to ^8.2.4
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.173.0
  package.json
  yarn.lock
Due: prettier --write

feat(): support console in storyboard functions
  packages/brick-kit/src/core/StoryboardFunctionRegistryFactory.spec.ts
  packages/brick-kit/src/core/StoryboardFunctionRegistryFactory.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/getGeneralGlobals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add types of console
  packages/storyboard-function-types/scripts/libs/general.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard-function-types/CHANGELOG.md
  packages/storyboard-function-types/package.json
Due: prettier --write

chore(): add icon
  .size-limit.js
  packages/brick-icons/src/icons/itsc-form/cmdb-instance-change.svg
  packages/brick-icons/src/icons/itsc-form/cmdb-instance-insert.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency i18next-browser-languagedetector to ^6.1.4
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(): ignore `previewSettings` when building route node
  packages/brick-utils/src/builder/normalizeBuilderNode.spec.ts
  packages/brick-utils/src/builder/normalizeBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): rename Refs: NEXT_BUILDER-1459
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-utils/src/scanAppInStoryboard.spec.ts
  packages/brick-utils/src/scanAppInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support mocked location in storyboard functions
  packages/brick-kit/src/core/StoryboardFunctionRegistryFactory.spec.ts
  packages/brick-kit/src/internal/getGeneralGlobals.ts
  packages/cook/src/__fixtures__/expressions.ts
  packages/cook/src/__fixtures__/negative/expressions.ts
  packages/cook/src/__snapshots__/cook.spec.ts.snap
  packages/supply/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support APP.getMenu (#1651)
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/internal/devtools.spec.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/scanAppInStoryboard.spec.ts
  packages/brick-utils/src/scanAppInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write
