Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

fix(): fix non-relevant nodes been removed when re-rendering nested :if
  cypress/e2e/control-nodes.spec.js
  mock-micro-apps/e2e/storyboard.yaml
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(): use abstract render nodes for routes and control nodes
  mock-micro-apps/e2e/storyboard.yaml
  packages/brick-container/scripts/start.js
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/enums.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/mount.ts
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): dispose abstract nodes
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

WIP
  mock-micro-apps/e2e/storyboard.yaml
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): createRoot supports useChildren
  etc/runtime.api.md
  packages/preview/package.json
  packages/preview/src/bootstrap.ts
  packages/runtime/src/createRoot.spec.ts
  packages/runtime/src/createRoot.ts
  packages/utils/src/storyboard/index.ts
  packages/utils/src/storyboard/replaceUseChildren.spec.ts
  packages/utils/src/storyboard/replaceUseChildren.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

feat(): support use contract params when using useProvider with contract
  etc/runtime.api.md
  packages/easyops-runtime/src/flowApi/FlowApi.spec.ts
  packages/easyops-runtime/src/flowApi/FlowApi.ts
  packages/easyops-runtime/src/flowApi/FlowApiProvider.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/data/resolveData.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

feat(): support theme variant
  etc/runtime.api.md
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/themeAndMode.spec.ts
  packages/runtime/src/themeAndMode.ts
  packages/theme/src/elevo.css
  packages/theme/src/index.css
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

WIP
  packages/runtime/src/themeAndMode.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): do not re-render controlled node after disposed
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/themeAndMode.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): dot not re-render controlled nodes before mounted
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/mount.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): using batch search contract which has serviceName while single search missing
  packages/easyops-runtime/package.json
  packages/easyops-runtime/src/flowApi/FlowApi.spec.ts
  packages/easyops-runtime/src/flowApi/FlowApi.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
Due: prettier --write

fix(): refine incremental rendering: ignore checking numeric parent route params
  packages/runtime/src/internal/Renderer.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/pipes/CHANGELOG.md
  packages/pipes/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/pipes/CHANGELOG.md
  packages/pipes/package.json
  packages/storyboard-function-types/CHANGELOG.md
  packages/storyboard-function-types/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): fix importing CommonJS modules in Node.js
  packages/easyops-runtime/src/flowApi/FlowApi.ts
  packages/utils/src/general/createProviderClass.ts
  packages/utils/src/storyboard/replaceUseChildren.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix types after upgrade @babel/types to 7.28
  packages/cook/src/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix useProvider usage with params in events
  packages/runtime/src/internal/bindListeners.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): exclude *.d.ts when build
  packages/build-next-bricks/src/build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use textmate
  packages/brick-playground/build.config.js
  packages/brick-playground/package.json
  packages/brick-playground/src/index.ts
  packages/brick-playground/tsconfig.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): remove monaco-editor-webpack-plugin
  packages/brick-playground/build.config.js
  packages/brick-playground/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
Due: prettier --write

fix(): fix useProvider without args
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/data/resolveData.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update snapshot guide link
  packages/cook/src/__snapshots__/cook.spec.ts.snap
  packages/create-api-sdk/src/loaders/__snapshots__/loadService.spec.ts.snap
  packages/create-api-sdk/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/http/src/__snapshots__/http.spec.ts.snap
  packages/inject/src/__snapshots__/syntax.spec.ts.snap
Due: none

feat(): brick_next支持服务鉴权
  conf/config.yaml
  conf/examples/application.properties
  packages/brick-container/deploy/install_postscripts.sh
  packages/brick-container/deploy/update_postscript.sh
  packages/brick-container/tools/package-union/report_union_micro_app.py
  packages/brick-container/tools/report_installed_brick_next_package.py
  packages/brick-container/tools/report_installed_theme_template.py
  packages/brick-container/tools/utils/__init__.py
  packages/brick-container/tools/utils/get_headers.py
Due: none

feat(): brick_next_v3 组件支持服务鉴权
  conf/config.yaml
  conf/examples/application.properties
  packages/brick-container/deploy/install_postscripts.sh
  packages/brick-container/deploy/update_postscript.sh
  packages/brick-container/tools/package-union/report_union_micro_app.py
  packages/brick-container/tools/report_installed_brick_next_package.py
  packages/brick-container/tools/report_installed_theme_template.py
  packages/brick-container/tools/utils/__init__.py
  packages/brick-container/tools/utils/get_headers.py
Due: none
