Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/fs-extra to ^9.0.11
  package.json
  yarn.lock
Due: prettier --write

feat(): get contract deps by brick recursively
  .eslintignore
  .eslintrc
  .prettierignore
  packages/build-config-factory/src/post-build.js
  packages/contract-analysis/fixtures/FixtureA.module.css
  packages/contract-analysis/fixtures/FixtureA.tsx
  packages/contract-analysis/fixtures/FixtureB.tsx
  packages/contract-analysis/fixtures/FixtureX.ts
  packages/contract-analysis/fixtures/FixtureY.ts
  packages/contract-analysis/fixtures/utils-circular.jsx
  packages/contract-analysis/fixtures/utils.js
  packages/contract-analysis/fixtures/wrappedBootstrap.ts
  packages/contract-analysis/package.json
  packages/contract-analysis/src/index.spec.ts
  packages/contract-analysis/src/index.ts
  packages/contract-analysis/tsconfig.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.45.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): ignore url prefix for api of api_gateway
  packages/sdk-scripts/src/lib/FunctionBlock.ts
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
  packages/sdk-scripts/src/loaders/loadService.spec.ts
  packages/sdk-scripts/yaml/api/api_gateway/auth/check_login.yaml
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): match app with longer homepage before shorter ones
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/contract-analysis/CHANGELOG.md
  packages/contract-analysis/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(release): publish
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

chore(deps): Update dependency eslint-config-prettier to ^8.2.0
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(): do not use fs.rmSync which is added in node v14.14
  packages/build-config-factory/src/post-build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add post-build script for libs
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/addPostBuildScriptForLibs.js
  packages/dev-dependencies/patches/addPostBuildScriptForLibs.spec.js
  packages/dev-dependencies/patches/index.js
  packages/dev-dependencies/template/libs/scripts/post-build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support to get contract deps from any entry
  packages/contract-analysis/fixtures/FixtureA.tsx
  packages/contract-analysis/src/index.spec.ts
  packages/contract-analysis/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support post-build for libs
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/template/libs-pkg.json
  packages/brick-scripts/template/libs-pkg/scripts/post-build.js
  packages/build-config-factory/src/post-build.js
  packages/contract-analysis/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/contract-analysis/CHANGELOG.md
  packages/contract-analysis/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): print contract as comment for sdk
  packages/sdk-scripts/src/lib/FunctionBlock.ts
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency http-proxy-middleware to ^1.1.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

feat(): enable sdk in renovate.json
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/enableSdkRenovate.js
  packages/dev-dependencies/patches/enableSdkRenovate.spec.js
  packages/dev-dependencies/patches/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): refactory sdk exports, make tree-shaking possible
  packages/build-config-factory/src/pre-build.js
  packages/sdk-scripts/src/lib/Api.ts
  packages/sdk-scripts/src/lib/Context.ts
  packages/sdk-scripts/src/lib/FunctionBlock.ts
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
  packages/sdk-scripts/src/loaders/loadService.ts
  packages/sdk-scripts/src/main.ts
  packages/sdk-scripts/src/manually.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(renovate): group sdk packages
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/groupSdkRenovate.js
  packages/dev-dependencies/patches/groupSdkRenovate.spec.js
  packages/dev-dependencies/patches/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

fix(): add prefix for interfaces too
  packages/sdk-scripts/src/lib/Api.ts
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): remove deprecated contract-analysis
  .eslintignore
  .eslintrc
  .prettierignore
  packages/build-config-factory/package.json
  packages/build-config-factory/src/post-build.js
  packages/contract-analysis/.babelrc
  packages/contract-analysis/.npmignore
  packages/contract-analysis/CHANGELOG.md
  packages/contract-analysis/fixtures/FixtureA.module.css
  packages/contract-analysis/fixtures/FixtureA.tsx
  packages/contract-analysis/fixtures/FixtureB.tsx
  packages/contract-analysis/fixtures/FixtureX.ts
  packages/contract-analysis/fixtures/FixtureY.ts
  packages/contract-analysis/fixtures/utils-circular.jsx
  packages/contract-analysis/fixtures/utils.js
  packages/contract-analysis/fixtures/wrappedBootstrap.ts
  packages/contract-analysis/package.json
  packages/contract-analysis/src/index.spec.ts
  packages/contract-analysis/src/index.ts
  packages/contract-analysis/tsconfig.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): bump sdk version by manual commit message instead of automatically
  packages/sdk-scripts/src/main.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(workflow): manually check yarn.lock after yarn install
  .github/workflows/ci.yml
Due: none

chore(): should fail
  packages/build-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.5.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency ws to ^7.4.5
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency http-proxy-middleware to ^1.2.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

feat(): enable sdk renovate after migrating official renovate
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/index.js
  packages/dev-dependencies/patches/migrateOfficialRenovate.js
  packages/dev-dependencies/patches/migrateOfficialRenovate.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency antd to ~4.15.2
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

feat(brick-icons): add & fix icons
  packages/brick-icons/src/icons/app/agent-management.svg
  packages/brick-icons/src/icons/app/ci.svg
  packages/brick-icons/src/icons/app/container-config.svg
  packages/brick-icons/src/icons/app/databases.svg
  packages/brick-icons/src/icons/app/developers.svg
  packages/brick-icons/src/icons/app/f-five.svg
  packages/brick-icons/src/icons/app/flow.svg
  packages/brick-icons/src/icons/app/idc.svg
  packages/brick-icons/src/icons/app/mongodb-resource.svg
  packages/brick-icons/src/icons/app/requirements.svg
  packages/brick-icons/src/icons/app/sqlserver-resource.svg
  packages/brick-icons/src/icons/app/tool.svg
  packages/brick-icons/src/icons/app/topology.svg
  packages/brick-icons/src/icons/assets-inventory/topology.svg
  packages/brick-icons/src/icons/common/documents.svg
  packages/brick-icons/src/icons/common/iptables.svg
  packages/brick-icons/src/icons/git.svg
  packages/brick-icons/src/icons/model/ip-address.svg
  packages/brick-icons/src/icons/object-topology-card-icon.svg
  packages/brick-icons/src/icons/overview-devops.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): use new sdk
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/checkPermissions.spec.ts
  packages/brick-kit/src/core/checkPermissions.ts
  packages/brick-kit/src/core/menu.spec.ts
  packages/brick-kit/src/core/menu.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency core-js to ^3.10.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(): support .svga file
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
