Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

fix(): 更新union_na脚本
  packages/brick-container/tools/package-union/report_union_micro_app.py
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): do not use source-map-loader for @next-core/loader, which has `??`
  packages/brick-dll/webpack.dll.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use babel-loader to load @next-core/loader which has `??`
  packages/brick-dll/webpack.dll.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

fix(): add a new event action: window.postMessage
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support widget custom editor
  packages/build-next-bricks/src/scanBricks.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): handle provider load error
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): refine brick template
  packages/yo/src/plopfile.js
  packages/yo/src/templates/brick/index.tsx.hbs
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): handle multi navigations to a page with incrementalSubRoutes
  .npmrc
  cypress/e2e/sub-routes.spec.js
  mock-micro-apps/e2e/storyboard.yaml
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): fix updating route in bricks
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): upgrade @next-core/public-scoped-sdk
  packages/create-api-sdk/package.json
  renovate.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/create-api-sdk/CHANGELOG.md
  packages/create-api-sdk/package.json
Due: prettier --write

fix(): do not call showWatermark if there is no content
  packages/runtime/src/setWatermark.spec.ts
  packages/runtime/src/setWatermark.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): tpl proxied methods should return
  packages/runtime/src/CustomTemplates.spec.ts
  packages/runtime/src/CustomTemplates.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine error display
  cypress/e2e/sub-routes.spec.js
  packages/brick-container/serve/middlewares/standaloneBootstrapJson.js
  packages/brick-container/src/BootstrapError.shadow.css
  packages/brick-container/src/BootstrapError.ts
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/styles/default.css
  packages/loader/src/stableLoadBricks.spec.ts
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/src/createRoot.spec.ts
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/ErrorNode.spec.ts
  packages/runtime/src/internal/ErrorNode.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/i18n.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): fix serve home
  packages/brick-container/serve/index.js
  packages/brick-container/serve/utils/shouldServeAsIndexHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): use `http-get://` for e2e tests
  package.json
Due: prettier --write

fix(): refine brick template
  packages/yo/src/templates/brick/index.tsx.hbs
Due: none

fix(): mark isInIframeOfVisualBuilder for visual-builder-* extension apps
  packages/runtime/src/getPageInfo.spec.ts
  packages/runtime/src/getPageInfo.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): trigger data change after updateNode
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): fix dead removal for context onChange
  packages/brick-utils/src/removeDeadConditions.spec.ts
  packages/brick-utils/src/removeDeadConditions.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): http-proxy-middleware does not support zstd encoding
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): http-proxy-middleware does not support zstd encoding
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix serve as https
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): na上报时增加字段relatedResourcePackages
  packages/brick-container/tools/package-union/report_union_micro_app.py
  packages/brick-container/tools/report_installed_micro_app_sa.py
Due: none
