Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

feat(): update dropZone add emptyClassName
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/SlotContainer/SlotContainer.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(deps): Update dependency inquirer to ^8.2.1
  packages/brick-scripts/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

fix(): refine builder node name
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rc-virtual-list to ^3.4.4
  package.json
  yarn.lock
Due: prettier --write

fix(): anchor style
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

feat(): support get widget editor brick
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getEditorBrick.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update unit test
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getEditorBrick.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): theme style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/message.less
  packages/custom-antd-styles/src/tag.less
  packages/custom-antd-styles/src/var.less
Due: prettier --write

chore(deps): Update dependency i18next to ^21.6.14
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.14.24
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): theme style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

fix(): style refine
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/menu.less
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.171.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.15.7
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency postcss-loader to v6
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react to v7.29.4
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency http-proxy-middleware to ^2.0.4
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.70.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): style modify
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

chore(deps): Update babel monorepo to ^7.17.7
  package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-dll/package.json
  packages/build-next-libs/package.json
  packages/cook/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.180
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^9.5.2
  package.json
  yarn.lock
Due: prettier --write

fix(): switch dark theme
  dll/editor-bricks-helper/manifest.snapshot.json
  etc/brick-kit.api.md
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/index.ts
  packages/brick-kit/src/themAndMode.spec.tsx
  packages/brick-kit/src/themeAndMode.ts
  packages/custom-antd-styles/src/dropdown.less
  packages/custom-antd-styles/src/var.less
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): add several preview message types
  etc/brick-types.api.md
  packages/brick-types/src/preview.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 5.15.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress/included to v9.5.2
  docker-compose.yml
Due: none

fix(): style refine
  packages/custom-antd-styles/src/var.less
Due: none

fix(): theme icon
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-icons/src/icons/dark-theme.svg
  packages/brick-icons/src/icons/light-theme.svg
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): React组件支持调用provider
  .size-limit.js
  dll/editor-bricks-helper/manifest.snapshot.json
  etc/brick-kit.api.md
  package.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/hooks/index.ts
  packages/brick-kit/src/hooks/useProvider/fetchProviderArgs.spec.ts
  packages/brick-kit/src/hooks/useProvider/fetchProviderArgs.ts
  packages/brick-kit/src/hooks/useProvider/useProvider.spec.tsx
  packages/brick-kit/src/hooks/useProvider/useProvider.ts
  packages/brick-kit/src/hooks/useProvider/useProviderArgs.spec.ts
  packages/brick-kit/src/hooks/useProvider/useProviderArgs.ts
  packages/brick-kit/src/hooks/useProvider/useProviderArgsDefaults.ts
  packages/brick-kit/src/hooks/useProvider/useProviderTypes.ts
  packages/brick-kit/src/index.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency postcss to ^8.4.12
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^12.3.7
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @fortawesome/react-fontawesome to ^0.1.18
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write
