Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix v3 widget upload error
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): update tag css variable
  packages/theme/src/default.css
  packages/theme/src/variables.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): use correct runtime context for useBrick within createRoot
  etc/runtime.api.md
  packages/react-runtime/src/ReactUseBrick.spec.tsx
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
  packages/runtime/src/internal/setupRootRuntimeContext.spec.ts
  packages/runtime/src/internal/setupRootRuntimeContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): report ingore package without stories.json
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

feat(runtime): add a readonly field: version
  packages/runtime/src/internal/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): allow property to ignore re-rendering
  packages/element/src/NextElement.spec.ts
  packages/element/src/createDecorators.ts
  packages/element/src/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): brick_next_v3相关脚本修改， 脚本读取brick_next_v3目录， 非brick_next目录， 解决brick_next_v3先于brick_next升级时找不到brick_next目录的bug
  packages/brick-container/deploy/update_postscript.sh
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

feat(): before build bricks, remove their peerDependencies
  packages/build-next-bricks/bin/post-build-next-bricks.js
  packages/build-next-bricks/bin/pre-build-next-bricks.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): brick_next脚本修改， 上报脚本调用本机的micro_app_service/micro_app_sa_service服务
  packages/brick-container/tools/report_installed_brick_next_package.py
  packages/brick-container/tools/report_installed_micro_app_sa.py
Due: none

fix(): python脚本多删除了class
  packages/brick-container/tools/report_installed_brick_next_package.py
  packages/brick-container/tools/report_installed_micro_app_sa.py
Due: none

fix(): add missing dep `@babel/runtime`
  packages/babel-preset-next/index.js
  packages/babel-preset-next/package.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
Due: prettier --write

fix(): fix async copyFile
  packages/build-next-bricks/src/generatePkgBuild.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix bootstrap.json match RegExp
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): bootstrap match RegExp
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update nav css variables
  packages/theme/src/dark.css
  packages/theme/src/default.css
Due: prettier --write

fix(): fix useBrick with v3 bricks in v2 container
  etc/brick-kit.api.md
  packages/brick-kit/src/BrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat():code-bricks.code-display支持perl语言 ref CD-6900
  packages/babel-preset-prismjs/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: (((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
