Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency react-i18next to ^11.11.3
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(brick-icons): upload some layout icons to the easyops icon repo
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-titlebar-toolbar-content.svg
Due: none

chore(deps): Update dependency eslint to v7.31.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(micro_app_service): 去除brick和snippet导入开关
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

feat(): unify builder node normalization
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-utils/src/builder/assertions.spec.ts
  packages/brick-utils/src/builder/assertions.ts
  packages/brick-utils/src/builder/index.ts
  packages/brick-utils/src/builder/normalizeBuilderNode.spec.ts
  packages/brick-utils/src/builder/normalizeBuilderNode.ts
  packages/brick-utils/src/index.ts
  packages/editor-bricks-helper/src/assertions.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support deepFreeze in brick-utils
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/processors.ts
  packages/brick-utils/src/cook/CookVisitor.ts
  packages/brick-utils/src/cook/PrecookVisitor.ts
  packages/brick-utils/src/cook/cook.ts
  packages/brick-utils/src/cook/index.ts
  packages/brick-utils/src/cook/precook.ts
  packages/brick-utils/src/deepFreeze.spec.ts
  packages/brick-utils/src/deepFreeze.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/resolveContextConcurrently.ts
  packages/brick-utils/src/scanI18NInStoryboard.ts
  packages/brick-utils/src/scanPermissionActionsInStoryboard.ts
  packages/brick-utils/src/scanProcessorsInStoryboard.ts
  packages/editor-bricks-helper/src/internal/expandTemplateEdges.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(micro_app_service): 添加日志打印和修改packageName获取
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

fix(builder): consider `transformFrom` as a yaml field
  packages/brick-utils/src/builder/normalizeBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 支持多种获取特性开关的方式
  etc/brick-kit.api.md
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/BrickWrapper.spec.tsx
  packages/brick-kit/src/BrickWrapper.tsx
  packages/brick-kit/src/__snapshots__/BrickWrapper.spec.tsx.snap
  packages/brick-kit/src/feturaFlags.spec.tsx
  packages/brick-kit/src/fetureFlags.tsx
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
Due: prettier --write

feat(): 支持多种获取特性开关的方式
  etc/brick-kit.api.md
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/BrickWrapper.tsx
  packages/brick-kit/src/featuraFlags.spec.tsx
  packages/brick-kit/src/featureFlags.tsx
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 支持多种获取特性开关的方式 (#756)
  dll/editor-bricks-helper/manifest.snapshot.json
  etc/brick-kit.api.md
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/BrickWrapper.spec.tsx
  packages/brick-kit/src/BrickWrapper.tsx
  packages/brick-kit/src/__snapshots__/BrickWrapper.spec.tsx.snap
  packages/brick-kit/src/featuraFlags.spec.tsx
  packages/brick-kit/src/featureFlags.tsx
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(): 修改 `DisplayByFeatureFlags` 注释
  packages/brick-kit/src/featureFlags.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.28.4
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v8
  docker-compose.yml
Due: none

fix(): refine feature flags
  packages/brick-kit/src/BrickWrapper.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(BrickAsComponent): wrap with React.memo to avoid unnecessary rendering
  etc/brick-kit.api.md
  packages/brick-kit/src/BrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update d3 packages
  dll/d3/package.json
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.18.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.134.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/general-auth to ^1.8.3
  package.json
  yarn.lock
Due: prettier --write

fix(builder): fix `transformFrom` in brick nodes
  packages/brick-utils/src/builder/normalizeBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @ungap/event-target to ^0.2.3
  packages/editor-bricks-helper/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^20.3.4
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.14.8
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @ant-design/icons to ^4.6.2
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(): refine feature flags
  packages/brick-kit/src/BrickWrapper.tsx
  packages/brick-kit/src/__snapshots__/BrickWrapper.spec.tsx.snap
  packages/brick-kit/src/featuraFlags.spec.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): httpError style fix
  packages/brick-kit/src/handleHttpError.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): httpError style fix unit test update
  packages/brick-kit/src/handleHttpError.spec.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
