Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency @types/node to ^12.20.37
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(Icon): add Icon and delete unUse illustrations images
  packages/brick-icons/src/icons/easy-website/fullWord.svg
  packages/brick-icons/src/icons/easy-website/ingoreCase.svg
  packages/brick-icons/src/icons/easy-website/key.svg
  packages/easyops-illustrations/src/images/default/birthday-blue.png
  packages/easyops-illustrations/src/images/default/birthday-red.png
  packages/easyops-illustrations/src/images/default/birthday-yellow.png
Due: none

chore(Icon): rename icon
  packages/brick-icons/src/icons/easy-website/full-word.svg
  packages/brick-icons/src/icons/easy-website/ingore-case.svg
Due: none

chore(Icon): rechange path
  packages/brick-icons/src/icons/full-word.svg
  packages/brick-icons/src/icons/ingore-case.svg
  packages/brick-icons/src/icons/key.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react-hooks to v4.3.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^21.4.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.14.0
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.16.3
  package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-dll/package.json
  packages/cook/package.json
  yarn.lock
Due: prettier --write

chore(): add icon
  packages/brick-icons/src/icons/monitor/close.svg
  packages/brick-icons/src/icons/monitor/rank.svg
Due: none

feat(userAnalytics): init() add userId and debugMode options
  packages/easyops-analytics/src/userAnalytics.spec.ts
  packages/easyops-analytics/src/userAnalytics.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(Kernel): init analytics add userId and debugMode options
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react to v7.27.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(): add icon
  packages/brick-icons/src/icons/monitor/apm.svg
  packages/brick-icons/src/icons/monitor/events.svg
  packages/brick-icons/src/icons/monitor/infra-monitor.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.14.1
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to v9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v9
  docker-compose.yml
Due: none

chore(deps): Update dependency rc-tabs to ~11.10.3
  package.json
  yarn.lock
Due: prettier --write

fix(websocket): refine get base url
  packages/brick-kit/src/websocket/WebSocket.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(loadscript): support script src prefix
  packages/brick-utils/src/loadScript.spec.ts
  packages/brick-utils/src/loadScript.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support standalone menu types
  etc/brick-types.api.md
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/menu.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): refine global declarations
  declarations/global.d.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine assets path
  packages/easyops-illustrations/rollup.config.js
  packages/easyops-illustrations/src/Illustrations.spec.tsx
  packages/easyops-illustrations/src/Illustrations.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): refine types
  packages/brick-utils/src/asyncProcessStoryboard.spec.ts
  packages/brick-utils/src/asyncProcessStoryboard.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support standalone micro-apps
  etc/brick-kit.api.md
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.spec.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/internal/historyExtended.spec.ts
  packages/brick-kit/src/internal/historyExtended.ts
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support standalone micro-apps
  .eslintrc
  .gitignore
  packages/brick-container/.gitignore
  packages/brick-container/src/browse-happy.ejs
  packages/brick-container/src/index.ejs
  packages/brick-container/src/index.tsx
  packages/brick-container/webpack.common.js
  packages/brick-container/webpack.dev.js
  packages/brick-container/webpack.prod.js
  packages/brick-container/webpack/common.js
  packages/brick-container/webpack/dev.js
  packages/brick-container/webpack/prod.js
  packages/brick-dll/webpack.dll.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

chore: fix devServerOptions import path
  packages/brick-container/webpack/dev.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.14.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.60.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(userAnalytics): support call init to re-initialize after initialized
  packages/easyops-analytics/src/userAnalytics.spec.ts
  packages/easyops-analytics/src/userAnalytics.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(brick-kit): update user_id of analytics when logout and login
  packages/brick-kit/src/auth.spec.ts
  packages/brick-kit/src/auth.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/initAnalytics.spec.ts
  packages/brick-kit/src/core/initAnalytics.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add e2e tests for standalone micro-apps
  cypress/integration/login.spec.js
  cypress/integration/mocked-home.spec.js
  mock-micro-apps/home/storyboard.yaml
  package.json
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/index.js
  packages/brick-container/serve/serveLocal.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

test(): remove e2e tests of login page since it's not part of this repo
  cypress/integration/login.spec.js
  package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(userAnalytics): add setUserId function
  packages/easyops-analytics/src/userAnalytics.spec.ts
  packages/easyops-analytics/src/userAnalytics.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
