Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat():brickAsComponent构件支持渲染formRender，refs:FORM_BUILDER-166
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.spec.ts
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
  packages/brick-kit/src/core/CustomForms/__snapshots__/ExpandCustomForm.spec.ts.snap
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test():单测数据修正
  packages/brick-kit/src/BrickAsComponent.spec.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test():更新快照数据
  packages/brick-kit/src/core/CustomForms/__snapshots__/ExpandCustomForm.spec.ts.snap
Due: none

fix(): clear cache if the request is failed
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix():代码调整
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): devServer支持查找仓库中的package原始路径
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/serveLocal.js
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): set displayName instead of alias
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(): update dll manifest
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

fix(): auto detect remote standalone apps
  CONTRIBUTING.md
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getIndexHtml.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serve.js
  packages/brick-container/serve/serveLocal.js
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix an issue causes setting favicon to undefined
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix serve with remote standalone apps
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serve.js
  packages/brick-container/serve/serveLocal.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): 小产品可以配置 featureFlags 和 misc
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Revert "fix(): 小产品可以配置 featureFlags 和 misc"
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add 2d-icon
  .size-limit.js
  packages/brick-icons/src/icons/colored-monitor/switch-2d.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): 支持在user_config配置feature_flags和mic配置
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(icons): add blueprint icons
  packages/brick-icons/src/icons/blueprint/app-blueprint.svg
  packages/brick-icons/src/icons/blueprint/blueprint-instances.svg
  packages/brick-icons/src/icons/blueprint/blueprint-management.svg
  packages/brick-icons/src/icons/blueprint/blueprint-resources.svg
  packages/brick-icons/src/icons/blueprint/resources-modules.svg
Due: none

fix(): ignore processors in unused tpl
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/scanBricksInStoryboard.ts
  packages/brick-utils/src/scanStoryboard.spec.ts
  packages/brick-utils/src/scanStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): disable prefetch-scripts by default
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(): fix yarn start with a remote server
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): use web fonts + css instead of svg for fontawesome icons
  packages/brick-container/src/index.tsx
  packages/brick-container/src/styles/fontawesome/brands.css
  packages/brick-container/src/styles/fontawesome/fontawesome.css
  packages/brick-container/src/styles/fontawesome/solid.css
  packages/brick-container/src/styles/webfonts/fa-brands-400.eot
  packages/brick-container/src/styles/webfonts/fa-brands-400.svg
  packages/brick-container/src/styles/webfonts/fa-brands-400.ttf
  packages/brick-container/src/styles/webfonts/fa-brands-400.woff
  packages/brick-container/src/styles/webfonts/fa-brands-400.woff2
  packages/brick-container/src/styles/webfonts/fa-regular-400.eot
  packages/brick-container/src/styles/webfonts/fa-regular-400.svg
  packages/brick-container/src/styles/webfonts/fa-regular-400.ttf
  packages/brick-container/src/styles/webfonts/fa-regular-400.woff
  packages/brick-container/src/styles/webfonts/fa-regular-400.woff2
  packages/brick-container/src/styles/webfonts/fa-solid-900.eot
  packages/brick-container/src/styles/webfonts/fa-solid-900.svg
  packages/brick-container/src/styles/webfonts/fa-solid-900.ttf
  packages/brick-container/src/styles/webfonts/fa-solid-900.woff
  packages/brick-container/src/styles/webfonts/fa-solid-900.woff2
  packages/brick-container/webpack/common.js
  packages/fontawesome-library/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add manual icon
  .size-limit.js
  packages/brick-icons/src/icons/monitor/graph-manual.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 菜单未正常使用overrideApp数据进行渲染
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(renovate): set base branch to v3
  renovate.json
Due: prettier --write

chore(): init dependencies for v3
  .github/workflows/ci.yml
  .github/workflows/lerna-version.yml
  .github/workflows/update-dll-manifest.yml
  .github/workflows/update-docs-etc.yml
  lerna.json
  package.json
  packages/brick-container/package.json
  packages/brick-dll/package.json
  packages/brick-icons/package.json
  packages/brick-kit/package.json
  packages/brick-types/package.json
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): build-next-bricks
  .eslintrc
  lerna.json
  package.json
  packages/babel-preset-next/index.js
  packages/babel-preset-next/package.json
  packages/brick-container/bnb.config.js
  packages/brick-container/package.json
  packages/brick-container/src/antd.ts
  packages/brick-container/src/index.bak.ejs
  packages/brick-container/src/index.bak.tsx
  packages/brick-container/src/index.ts
  packages/brick-container/webpack/common.js
  packages/brick-container/webpack/dev.js
  packages/brick-container/webpack/prod.js
  packages/brick-types/package.json
  packages/brick-types/src/menu.ts
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/index.js
  packages/cook/src/cook.spec.ts
  packages/element/package.json
  packages/element/src/decorators/UpdatingElement.ts
  packages/element/src/decorators/createDecorators.ts
  packages/element/src/decorators/interfaces.ts
  packages/element/src/index.ts
  packages/element/tsconfig.json
  packages/eslint-config-next/index.js
  packages/webpack-config-factory/src/bricks/index.js
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
  tsconfig.module.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): cache http request by cacheAdapter
  packages/brick-container/jest.config.js
  packages/brick-container/package.json
  packages/brick-container/src/httpCacheAdapter.spec.ts
  packages/brick-container/src/httpCacheAdapter.ts
  packages/brick-container/src/index.tsx
  packages/brick-dll/manifest.snapshot.json
  packages/brick-http/src/http.ts
  packages/brick-kit/src/core/HttpCache.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
