Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(custom-antd-styles): fix transfer style
  packages/custom-antd-styles/src/transfer.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency jest-websocket-mock to ^2.2.0
  package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency moment to ^2.28.0
  package.json
  packages/brick-dll/package.json
  packages/brick-utils/package.json
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): serve:ci remove server parameter
  package.json
Due: prettier --write

fix(serve): use remote mode by default
  CONTRIBUTING.md
  package.json
  packages/brick-container/serve/getEnv.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(renovate): revert renovate base branches
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix provider refreshing may be not reset
  packages/brick-kit/src/core/Resolver.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine bootstrap error
  packages/brick-container/src/i18n/constants.ts
  packages/brick-container/src/i18n/index.ts
  packages/brick-container/src/i18n/locales/en.ts
  packages/brick-container/src/i18n/locales/zh.ts
  packages/brick-container/src/index.tsx
  packages/brick-container/src/styles/default.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): catch empty storyboard
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(style): style6.0表格样式修复 Closes UISIX-45
  packages/custom-antd-styles/src/descriptions.less
  packages/custom-antd-styles/src/table.less
Due: none

test(): fix e2e tests
  cypress/integration/login.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.1.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/prettier to ^2.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

fix(): make renew work in both master and legacy branches
  packages/dev-dependencies/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(radio): forms.general-radio在button模式下，会跟其他form-item对不齐 Closee BRICK_STORE-1740
  packages/brick-container/src/styles/antd.less
  packages/custom-antd-styles/src/radio.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): add legacy/brick-next_1.x into base branches for next-core packages
  lerna.json
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add program language icons BRICK_STORE-1742
  packages/brick-icons/src/icons/program-language/bash.svg
  packages/brick-icons/src/icons/program-language/cpp.svg
  packages/brick-icons/src/icons/program-language/golang.svg
  packages/brick-icons/src/icons/program-language/php.svg
  packages/brick-icons/src/icons/program-language/python.svg
  packages/brick-icons/src/icons/program-language/sql.svg
  packages/brick-icons/src/icons/program-language/swift.svg
Due: none

chore(): brick-icon add size limit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): dll add size limit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @microsoft/api-documenter to ^7.8.48
  package.json
  yarn.lock
Due: prettier --write

Alren/icon
  .size-limit.js
  packages/brick-icons/src/icons/model/spring.svg
  packages/brick-icons/src/icons/program-language/c-sharp.svg
  packages/brick-icons/src/icons/program-language/c.svg
  packages/brick-icons/src/icons/program-language/java.svg
  packages/brick-icons/src/icons/program-language/javascript.svg
  packages/brick-icons/src/icons/program-language/node.svg
  packages/brick-icons/src/icons/program-language/perl.svg
  packages/brick-icons/src/icons/program-language/ruby.svg
  packages/brick-icons/src/icons/program-language/rust.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 支持构建包中的stories本地预览
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serveLocal.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(brick-kit): support if for useResolves
  packages/brick-kit/src/core/Resolver.spec.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @ant-design/compatible to ^1.0.6
  package.json
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.9.15
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^5.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency antd to ^4.6.4
  .size-limit.js
  package.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(menu): support #showKey in menu titleDataSource
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-kit/src/core/menu.spec.ts
  packages/brick-kit/src/core/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency prettier to ^2.1.2
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @microsoft/api-documenter to ^7.8.49
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.27.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
