Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): bump version only
  packages/brick-types/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(): add actions to SnippetConf
  packages/brick-types/src/story.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add actions to SnippetConf
  etc/brick-types.api.md
Due: prettier --write

feat():新增表单预览设置，Refs:FORM_BUILDER-151
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): unsupport render widget editor
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.tsx
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getEditorBrick.spec.ts
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getEditorBrick.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.spec.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

fix(): fix types of tpl state
  etc/brick-types.api.md
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support parse storyboard as AST
  .size-limit.js
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-utils/package.json
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/removeDeadConditions.spec.ts
  packages/brick-utils/src/removeDeadConditions.ts
  packages/brick-utils/src/scanAliasInStoryboard.ts
  packages/brick-utils/src/scanBricksInStoryboard.spec.ts
  packages/brick-utils/src/scanBricksInStoryboard.ts
  packages/brick-utils/src/scanStoryboard.spec.ts
  packages/brick-utils/src/scanStoryboard.ts
  packages/storyboard/README.md
  packages/storyboard/package.json
  packages/storyboard/src/index.ts
  packages/storyboard/src/interfaces.ts
  packages/storyboard/src/parseStoryboard.ts
  packages/storyboard/src/traverseStoryboard.ts
  packages/storyboard/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

feat(): 给easyopsEmpty增加noImage属性 close BRICK_STORE-3134
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update types
  packages/brick-kit/src/handleHttpError.spec.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(renovate): disable updating major babel-loader [skip ci]
  renovate.json
Due: prettier --write

feat(): 给empty增加控制不显示图片的属性 close BRICK_STORE-3134
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add new properties for easyopsEmpty close BRICK_STORE-3134
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(workflow): run `yarn install` [skip ci]
  .github/workflows/update-docs-etc.yml
Due: none

fix(): fix snippetConf.thumbnail type
  packages/brick-types/src/story.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix snippetConf.thumbnail type
  etc/brick-types.api.md
Due: prettier --write

fix(): 优化给easyopsEmpty增加noImage的方式 close BRICK_STORE-3134
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update docs etc
  etc/brick-kit.api.md
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(style): change pageTitle fontSize to 22
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

fix(useProvider): fix status filed as null problem
  packages/easyops-analytics/src/ApiAnalysis.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): allow duplicated tpl state names
  packages/brick-kit/src/core/CustomTemplates/expandCustomTemplate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): traverse with path
  packages/storyboard/src/traverseStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): keep route iid
  etc/brick-types.api.md
  packages/brick-types/src/manifest.ts
  packages/brick-utils/src/builder/normalizeBuilderNode.spec.ts
  packages/brick-utils/src/builder/normalizeBuilderNode.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): merge settings in standalone mode
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 修复standalone模式下, APP.homepage 异常的问题
  etc/brick-types.api.md
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
  packages/brick-types/src/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): remove unnecessary build scripts
  packages/build-config-factory/package.json
  packages/custom-antd-styles/package.json
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(): refine ci
  .github/workflows/ci.yml
  README.md
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
