Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support loading bar
  bricks/demo-basic/src/data-providers/haveFun.ts
  packages/brick-container/build.config.js
  packages/brick-container/package.json
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.ejs
  packages/brick-container/src/index.ts
  packages/brick-container/src/styles/default.css
  packages/brick-playground/src/preview-bootstrap.ts
  packages/brick-playground/src/preview.css
  packages/brick-playground/src/preview.ejs
  packages/loader/src/loadScript.ts
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/package.json
  packages/runtime/src/internal/Kernel.ts
  packages/runtime/src/internal/poll.ts
  packages/runtime/src/internal/secretInternals.ts
  packages/runtime/styles/default.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(): rename @next-core/brick-http to @next-core/http
  CONTRIBUTING-V3.md
  __jest__/setup.ts
  bricks/icons/src/general-icon/index.spec.ts
  lerna.json
  package.json
  packages/brick-container/package.json
  packages/brick-container/src/bootstrap.ts
  packages/brick-playground/build.config.js
  packages/build-next-bricks/src/build.js
  packages/http/README.md
  packages/http/jest.config.js
  packages/http/package.json
  packages/http/src/InterceptorManager.spec.ts
  packages/http/src/InterceptorManager.ts
  packages/http/src/__mocks__/fetch.ts
  packages/http/src/__snapshots__/http.spec.ts.snap
  packages/http/src/errors.ts
  packages/http/src/fetch.spec.ts
  packages/http/src/fetch.ts
  packages/http/src/http.spec.ts
  packages/http/src/http.ts
  packages/http/src/index.ts
  packages/http/tsconfig.build.json
  packages/http/tsconfig.json
  packages/runtime/src/handleHttpError.spec.ts
  packages/runtime/src/handleHttpError.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/loadBootstrapData.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): make some shared packages not singleton
  bricks/basic/build.config.js
  bricks/demo-form/build.config.js
  bricks/icons/build.config.js
  packages/build-next-bricks/src/build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix preview with useBrick
  packages/brick-playground/src/preview-bootstrap.ts
  packages/runtime/src/internal/secretInternals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): allow non-shadowDOM bricks
  bricks/demo-basic/src/button-group/index.tsx
  packages/element/src/NextElement.ts
  packages/element/src/createDecorators.ts
  packages/react-element/src/ReactNextElement.spec.tsx
  packages/react-element/src/ReactNextElement.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use sdk of check login
  packages/brick-container/scripts/mockAuth.js
  packages/brick-container/scripts/serve.js
  packages/brick-container/scripts/start.js
  packages/runtime/package.json
  packages/runtime/src/auth.ts
  packages/runtime/src/internal/loadCheckLogin.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): abort controller
  CONTRIBUTING-V3.md
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/abortController.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): disallow setting proto or constructor on bricks
  packages/runtime/src/internal/compute/setRealProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix mock auth
  packages/brick-container/scripts/mockAuth.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine deps
  package.json
  packages/brick-container/build.config.js
  packages/brick-container/package.json
  packages/brick-container/src/XMLHttpRequest.ts
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.ejs
  packages/brick-playground/package.json
  packages/brick-playground/src/preview-bootstrap.ts
  packages/build-next-bricks/src/build.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): move createProviderClass from utils/general to utils/storyboard
  bricks/demo-basic/src/data-providers/haveFun.ts
  packages/utils/src/general/index.ts
  packages/utils/src/storyboard/createProviderClass.ts
  packages/utils/src/storyboard/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix deps
  packages/runtime/package.json
  yarn.lock
Due: prettier --write

fix(): refine i18n
  bricks/demo-basic/package.json
  bricks/demo-basic/src/bootstrap.ts
  bricks/demo-basic/src/i18n.ts
  bricks/demo-basic/src/native-button/index.ts
  bricks/demo-basic/src/x-button/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/build.config.js
  packages/brick-playground/build.config.js
  packages/build-next-bricks/src/build.js
  packages/i18n/package.json
  packages/i18n/src/basic.ts
  packages/i18n/src/react.ts
  packages/i18n/src/text.spec.ts
  packages/i18n/src/text.ts
  packages/i18n/tsconfig.build.json
  packages/i18n/tsconfig.json
  packages/repo-config/package.json
  packages/runtime/src/history.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/getGeneralGlobals.ts
  packages/utils/package.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine i18n
  bricks/basic/src/drawer/index.tsx
  bricks/basic/src/modal/index.tsx
  bricks/demo-basic/src/native-button/index.ts
  bricks/demo-basic/src/x-button/index.spec.tsx
  bricks/demo-basic/src/x-button/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/package.json
  packages/brick-container/src/bootstrap.ts
  packages/build-next-bricks/src/build.js
  packages/i18n/package.json
  packages/i18n/src/index.ts
  packages/i18n/src/init.ts
  packages/i18n/src/react.ts
  packages/i18n/src/text.spec.ts
  packages/i18n/src/text.ts
  packages/i18n/tsconfig.json
  packages/runtime/package.json
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/getGeneralGlobals.ts
  packages/runtime/src/internal/registerAppI18n.ts
  packages/runtime/src/internal/registerCustomTemplates.ts
  tsconfig.module.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(button): fix hover, focus, and active style of text type
  packages/custom-antd-styles/src/button.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(renovate): ignore sdk [skip ci]
  renovate.json
Due: prettier --write

fix(): refine i18n usage in bricks
  CONTRIBUTING-V3.md
  bricks/demo-basic/build.config.js
  bricks/demo-basic/src/bootstrap.ts
  bricks/demo-basic/src/native-button/i18n.ts
  bricks/demo-basic/src/native-button/index.ts
  bricks/demo-basic/src/say-hello/i18n.ts
  bricks/demo-basic/src/say-hello/index.tsx
  bricks/demo-basic/src/x-button/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/i18n/src/init.ts
  packages/i18n/src/react.ts
  packages/runtime/src/internal/compute/getGeneralGlobals.ts
  packages/runtime/src/internal/registerAppI18n.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): fix tests
  bricks/demo-basic/src/y-button/index.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support flow api provider
  CONTRIBUTING-V3.md
  mock-micro-apps/test/storyboard.yaml
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/data/CollectContracts.spec.ts
  packages/runtime/src/internal/data/CollectContracts.ts
  packages/runtime/src/internal/data/FlowApi.spec.ts
  packages/runtime/src/internal/data/FlowApi.ts
  packages/runtime/src/internal/data/FlowApiProvider.ts
  packages/runtime/src/internal/data/getProviderBrick.ts
  packages/runtime/src/internal/data/resolveData.ts
  packages/types/package.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): BRICK_STORE-3257 【Next V3】表单-单选构件 refs BRICK_STORE-3257
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/formatOptions.ts
  bricks/basic/src/interface.ts
  bricks/basic/src/radio/example.html
  bricks/basic/src/radio/index.shadow.css
  bricks/basic/src/radio/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 增加general-card构件 close BRICK_STORE-3269
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/card/card.shadow.css
  bricks/basic/src/card/example.html
  bricks/basic/src/card/index.tsx
  package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add new brick: basic.http-request
  bricks/basic/package.json
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/data-providers/httpRequest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support development with remote
  mock-micro-apps/auth/storyboard.yaml
  mock-micro-apps/test/storyboard.yaml
  package.json
  packages/brick-container/build.config.js
  packages/brick-container/package.json
  packages/brick-container/scripts/bootstrapJson.js
  packages/brick-container/scripts/env.js
  packages/brick-container/scripts/getProxy.js
  packages/brick-container/scripts/middlewares/bootstrapJson.js
  packages/brick-container/scripts/middlewares/mockAuth.js
  packages/brick-container/scripts/middlewares/serveBricksWithVersions.js
  packages/brick-container/scripts/mockAuth.js
  packages/brick-container/scripts/serve.js
  packages/brick-container/scripts/start.js
  packages/brick-container/scripts/utils/getBrickPackages.js
  packages/brick-container/scripts/utils/getStandaloneConfig.js
  packages/brick-container/scripts/utils/getStoryboards.js
  packages/brick-container/scripts/utils/injectIndexHtml.js
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.ejs
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
  packages/loader/src/stableLoadBricks.ts
  packages/loader/tsconfig.json
  packages/runtime/src/auth.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/loadBootstrapData.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support Text component
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/text/example.html
  bricks/basic/src/text/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): v3-general-card构件
  bricks/basic/src/card/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix loading bar when loading brick chunks
  mock-micro-apps/auth/storyboard.yaml
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/src/internal/loadBootstrapData.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support table component
  bricks/basic/package.json
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/table/BrickTable.tsx
  bricks/basic/src/table/index.tsx
  bricks/basic/src/table/table.shadow.css
  bricks/basic/src/table/utils.tsx
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): delete tslib
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

feat(): 重新build
  yarn.lock
Due: none

feat(): add advanced package
  bricks/advanced/build.config.js
  bricks/advanced/package.json
  bricks/advanced/scripts/pre-build.js
  bricks/advanced/src/bootstrap.ts
  bricks/advanced/src/index.ts
  bricks/advanced/src/interface.ts
  bricks/advanced/src/table/BrickTable.tsx
  bricks/advanced/src/table/index.tsx
  bricks/advanced/src/table/table.shadow.css
  bricks/advanced/src/table/utils.tsx
  bricks/advanced/tsconfig.json
  bricks/basic/src/bootstrap.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): clean up
  bricks/basic/src/card/index.tsx
  package-lock.json
  packages/create-api-sdk/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update unit test
  bricks/advanced/src/table/index.spec.tsx
  bricks/advanced/src/table/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): 补充ci流水线模板图标 refs EASY_HUB-466
  packages/brick-icons/src/icons/ci/ci-template-black.svg
  packages/brick-icons/src/icons/ci/ci-template-white.svg
  packages/brick-icons/src/icons/ci/ci-template.svg
  packages/brick-icons/src/icons/easyhub/easyhub-auto-discovery-black.svg
  packages/brick-icons/src/icons/easyhub/easyhub-auto-discovery-small.svg
  packages/brick-icons/src/icons/easyhub/easyhub-auto-discovery-white.svg
  packages/brick-icons/src/icons/easyhub/easyhub-auto-discovery.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): properties doc support editor
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
