Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency html-webpack-plugin to ^4.4.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup-plugin-postcss to ^3.1.8
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typedoc to ^0.19.0
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency enzyme-adapter-react-16 to ^1.15.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.49
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.11.5
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.8.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

feat(): redirect to browse-happy if browser not compatiple
  packages/brick-container/package.json
  packages/brick-container/serve/index.js
  packages/brick-container/src/browse-happy.ejs
  packages/brick-container/src/index.ejs
  packages/brick-container/webpack.common.js
  packages/brick-container/webpack.dev.js
  packages/brick-container/webpack.prod.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(serve): disable live reload for E2E tests in CI
  package.json
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/jest to ^26.0.12
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/prettier to ^2.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency file-loader to ^6.1.0
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.26.8
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to v4
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(storyboard): support app locale name
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/core/processors.spec.ts
  packages/brick-kit/src/core/processors.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(serve): enable live reload in local development mode
  packages/brick-container/serve/getEnv.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency copy-webpack-plugin to ^6.1.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.26.9
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^5.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.8.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

test(e2e): wait-on previous server exit
  package.json
Due: prettier --write

feat(basic-provider): custom-api
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(custom-apis): resolver
  packages/brick-http/src/http.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/CustomAPIs.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(bind-listeners): support custom api in bindLiseners
  .size-limit.js
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/CustomAPIs.ts
  packages/brick-kit/src/core/CustomApis.spec.ts
  packages/brick-kit/src/core/CustomApis.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.spec.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/__mocks__/MicroAppApiOrchestrationData.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/providers/CustomApi.spec.ts
  packages/brick-kit/src/providers/CustomApi.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): dynamic menu
  .size-limit.js
  packages/brick-kit/src/core/menu.spec.ts
  packages/brick-kit/src/core/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(scan-bricks-in-storyboard): ignore custom api
  packages/brick-utils/src/scanBricksInStoryboard.spec.ts
  packages/brick-utils/src/scanBricksInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency @types/jest to ^26.0.13
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

test(cypress): allow retries in run mode, as cookies are not always cleared between tests
  cypress.json
Due: prettier --write

test(cypress): allow retries in login tests, as cookies are not always cleared between tests
  cypress.json
  cypress/integration/login.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): use local cypress download mirror which redirect to taobao
  .npmrc
Due: none

fix(): introduce loadDynamicBricksInBrickConf in developHelper
  .size-limit.js
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/developHelper.spec.ts
  packages/brick-kit/src/developHelper.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.3.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less-loader to ^7.0.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @babel/core to ^7.11.6
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.26.10
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write
