Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

chore(release): publish
  packages/babel-preset-prismjs/CHANGELOG.md
  packages/babel-preset-prismjs/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): add new action: event.stopPropagation
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): ignore incremental rendering if the direct parent route params changed
  cypress/e2e/sub-routes.spec.js
  etc/runtime.api.md
  mock-micro-apps/e2e/storyboard.yaml
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/historyExtended.spec.ts
  packages/runtime/src/internal/historyExtended.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore(): standalone-na 上报脚本修改， 增加字段usePublicDependencies/unionTags
  packages/brick-container/tools/report_installed_micro_app_sa.py
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): brick_next依赖micro_app_standalone_service
  packages/brick-container/deploy/update_postscript.sh
Due: none

fix(): brick_next依赖micro_app_standalone_service
  packages/brick-container/deploy/package.conf.yaml
Due: none

feat(): userProviderHook使用conditional expression时契约可以被收集
  packages/webpack-config-factory/src/bricks/ScanUseProviderHookContractsPlugin.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
Due: prettier --write

feat(): add window.close event
  etc/brick-types.api.md
  packages/brick-kit/src/internal/bindListeners.spec.ts
  packages/brick-kit/src/internal/bindListeners.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add window.close event
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): sa-na上报调整，软链接时， 如果standalone-na目录下bricks/core目录为空 说明需要体积精简,
  packages/brick-container/tools/link_static_file.py
Due: none

chore(): 从dependencies_lock的公共目录下的文件链接到sa-na的依赖目录时单独抽出一个函数, sa-na目录下的bricks目录是空的， 直接做硬链接即可
  packages/brick-container/tools/link_static_file.py
Due: none

chore(): discussion修改
  packages/brick-container/tools/link_static_file.py
Due: none

feat(): brick_next中sa-na脚本修改， 支持sa-na体积精简\n Ref: UC-668
  packages/brick-container/tools/link_static_file.py
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(startPoll): compute real value of expectPollEnd and expectPollStopImmediately before calling
  packages/brick-kit/src/internal/bindListeners.ts
  packages/brick-kit/src/internal/poll.spec.ts
  packages/brick-kit/src/internal/poll.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(startPoll): compute real value of expectPollEnd and expectPollStopImmediately before calling
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/poll.spec.ts
  packages/runtime/src/internal/poll.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 优化框架性能数据发送时机, 不要最后一起发送
  .size-limit.js
  packages/brick-dll/manifest.snapshot.json
  packages/easyops-analytics/package.json
  packages/easyops-analytics/src/ApiAnalysis.spec.ts
  packages/easyops-analytics/src/ApiAnalysis.ts
  v3/brick-dll-v3/manifest.snapshot.json
  v3/brick-dll-v3/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): report增加author/description字段
  packages/brick-container/tools/report_installed_micro_app_sa.py
Due: none

chore(): 判断是否体积精简的条件修改
  packages/brick-container/tools/link_static_file.py
Due: none

feat(router): brickPageNotFound support go back to homepage close INFRA-2422
  .size-limit.js
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/i18n/constants.ts
  packages/brick-kit/src/i18n/locales/en.ts
  packages/brick-kit/src/i18n/locales/zh.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
