Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update jest monorepo to ^26.6.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(brick-http): export `getUrlWithParams` and `getBodyAndHeaders` methods
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): getBasePath
  etc/brick-kit.api.md
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/getBasePath.ts
  packages/brick-kit/src/history.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

docs(): undo deprecate RouteConf.providers
  etc/brick-types.api.md
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency @sdk/cmdb-sdk to ^0.15.9
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.5.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/jest to ^26.0.15
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.1.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @sdk/user-service-sdk to ^0.2.10
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-cli to ^4.1.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react-hooks to v4.2.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to ^4.6.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): api analytics
  packages/brick-container/src/analytics/ApiAnalysis.spec.ts
  packages/brick-container/src/analytics/ApiAnalysis.ts
  packages/brick-container/src/analytics/index.ts
  packages/brick-container/src/index.tsx
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.32.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-config-prettier to ^6.14.0
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(icons):home
  packages/brick-icons/src/icons/home/link-phone.svg
  packages/brick-icons/src/icons/home/my-card.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.1.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/jest-dom to ^5.11.5
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.2.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.12.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency antd to ^4.7.3
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.8.3
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

feat(): support update dll manifest
  packages/dll-differ/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(): update manifest after upgraded antd to 4.7.3
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(): increase size limit after dependencies upgraded
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency eslint-plugin-react to v7.21.5
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(): use type alias for array types
  packages/sdk-scripts/src/lib/MixedType.ts
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
  packages/sdk-scripts/yaml/api/cd/package/auto_discovery.yaml
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/dll-differ/CHANGELOG.md
  packages/dll-differ/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(icons):新增工单icon
  packages/brick-icons/src/icons/home/finish-card.svg
  packages/brick-icons/src/icons/home/wait-card.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(patch): update brick next version for new css variables
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/updateBrickNextForNewCssVariables.js
  packages/dev-dependencies/patches/updateBrickNextForNewCssVariables.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @sdk/cmdb-sdk to ^0.15.11
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @fortawesome/react-fontawesome to ^0.1.12
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.6.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.5.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.0.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): add dependency of @easyops/webpack-config-factory for @dll/*
  dll/ace/package.json
  dll/d3/package.json
  dll/echarts/package.json
Due: prettier --write
