Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

feat(): support grid-layout component ref:BRICK_STORE-3287
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/grid-layout/example.html
  bricks/basic/src/grid-layout/grid-layout.shadow.css
  bricks/basic/src/grid-layout/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): border not effect Refs: BRICK_STORE-3287
  bricks/basic/src/grid-layout/grid-layout.shadow.css
  bricks/basic/src/grid-layout/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(ci): set code cov token
  .github/workflows/ci.yml
Due: none

feat(): v3 placeholder packages
  .eslintrc
  lerna.json
  package.json
  v3/brick-dll-v3/manifest.snapshot.json
  v3/brick-dll-v3/package.json
  v3/brick-dll-v3/webpack.dll.js
  v3/brick-http-v3/index.esm.js
  v3/brick-http-v3/package.json
  v3/brick-kit-v3/package.json
  v3/brick-kit-v3/rollup.config.js
  v3/brick-kit-v3/src/index.ts
  v3/brick-kit-v3/tsconfig.json
  v3/history-v3/index.esm.js
  v3/history-v3/package.json
  v3/i18next-v3/index.esm.js
  v3/i18next-v3/package.json
  v3/js-yaml-v3/index.esm.js
  v3/js-yaml-v3/package.json
  v3/lodash-v3/index.bundle.js
  v3/lodash-v3/package.json
  v3/moment-v3/index.bundle.js
  v3/moment-v3/package.json
  v3/react-i18next-v3/index.esm.js
  v3/react-i18next-v3/package.json
  v3/styles-v3/index.d.ts
  v3/styles-v3/package.json
  v3/styles-v3/src/index.less
  v3/styles-v3/webpack.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine dll to adopt v3
  dll/ace/package.json
  dll/d3/package.json
  dll/echarts/package.json
  dll/editor-bricks-helper/package.json
  dll/react-dnd/package.json
  packages/brick-dll/package.json
  packages/brick-dll/webpack.dll.js
  packages/brick-kit/src/decorators/utils.ts
  packages/dev-dependencies/extract.js
  packages/webpack-config-factory/src/dll/NextDllPlugin.js
  packages/webpack-config-factory/src/dll/NextHashedModuleIdsPlugin.js
  packages/webpack-config-factory/src/dll/NextLibManifestPlugin.js
  packages/webpack-config-factory/src/dll/webpack.dll.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): adjust style ref:BRICK_STORE-3287
  bricks/basic/src/grid-layout/grid-layout.shadow.css
  bricks/basic/src/grid-layout/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix antd locale name
  v3/brick-dll-v3/manifest.snapshot.json
  v3/brick-kit-v3/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): do not replace react-i18next
  packages/webpack-config-factory/src/dll/NextHashedModuleIdsPlugin.js
  packages/webpack-config-factory/src/dll/NextLibManifestPlugin.js
  packages/webpack-config-factory/src/dll/replaceIdent.js
  v3/brick-dll-v3/manifest.snapshot.json
  v3/brick-dll-v3/package.json
  v3/brick-dll-v3/webpack.dll.js
  v3/brick-kit-v3/package.json
  v3/react-i18next-v3/CHANGELOG.md
  v3/react-i18next-v3/index.esm.js
  v3/react-i18next-v3/package.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add brick-icons styles
  v3/styles-v3/package.json
  v3/styles-v3/src/index.less
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

feat(): wipGeneralSelect构件
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/select/example.html
  bricks/basic/src/select/index.shadow.css
  bricks/basic/src/select/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add editor & editorProps to generated doc
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(next-jest): fix the value of jest option is incorrectly treated as target
  packages/jest-config-factory/src/next-jest.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/jest-config-factory/CHANGELOG.md
  packages/jest-config-factory/package.json
Due: prettier --write

feat(): 替换general-icon
  bricks/basic/src/select/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(next-jest): adaptation for folder restructuring of jest-cli
  packages/jest-config-factory/src/next-jest.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): BRICK_STORE-3313 【next v3】表单-提交按钮构件 refs BRICK_STORE-3313
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/submit-buttons/example.html
  bricks/basic/src/submit-buttons/index.shadow.css
  bricks/basic/src/submit-buttons/index.spec.tsx
  bricks/basic/src/submit-buttons/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): ignore antd global.less
  v3/styles-v3/package.json
  v3/styles-v3/src/index.less
Due: prettier --write

feat(report_brick_next): report_brick_next brick_next升级脚本修改， 增加反写brick_next到制品仓库的逻辑
  packages/brick-container/deploy/update_postscript.sh
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

chore(release): publish
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): expose v2 global css
  v3/styles-v3/src/global.less
  v3/styles-v3/webpack.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix missing variable in global.css
  v3/styles-v3/src/global.less
Due: none

fix(): v2-adapter: initial
  bricks/v2-adapter/build.config.js
  bricks/v2-adapter/package.json
  bricks/v2-adapter/src/bootstrap.ts
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/LazyBrickRegistry.ts
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyRuntime.ts
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyUseBrick.ts
  bricks/v2-adapter/src/data-providers/load-bricks.ts
  bricks/v2-adapter/src/index.ts
  bricks/v2-adapter/tsconfig.json
  declarations/global.d.ts
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/scripts/env.js
  packages/brick-container/scripts/serve.js
  packages/brick-container/scripts/start.js
  packages/brick-container/scripts/utils/getBrickPackages.js
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/package.json
  packages/runtime/src/index.ts
  packages/runtime/src/internal/BrickNode.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/themeAndMode.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): v2-adapter: stage 2
  bricks/v2-adapter/build.config.js
  bricks/v2-adapter/package.json
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyErrorBoundary.ts
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyRuntime.ts
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyUseFeatureFlags.ts
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyUseRecentApps.ts
  bricks/v2-adapter/src/data-providers/load-bricks.ts
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/build.config.js
  packages/brick-container/package.json
  packages/brick-container/scripts/middlewares/bootstrapJson.js
  packages/brick-container/scripts/middlewares/serveBricksWithVersions.js
  packages/brick-container/scripts/serve.js
  packages/brick-container/scripts/start.js
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.ts
  packages/brick-container/src/styles/default.css
  packages/brick-playground/build.config.js
  packages/brick-playground/package.json
  packages/brick-playground/serve/bootstrapJson.js
  packages/brick-playground/serve/index.js
  packages/brick-playground/serve/start.js
  packages/brick-playground/src/preview-bootstrap.ts
  packages/brick-playground/src/preview.css
  packages/brick-playground/src/preview.ts
  packages/build-next-bricks/src/build.js
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/serve-helpers/index.d.ts
  packages/serve-helpers/jsconfig.json
  packages/serve-helpers/package.json
  packages/serve-helpers/src/getBrickPackages.js
  packages/serve-helpers/src/index.js
  packages/serve-helpers/src/tryFiles.js
  packages/theme/package.json
  packages/theme/src/dark.css
  packages/theme/src/index.css
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): v2-adapter: stage 3
  bricks/v2-adapter/package.json
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.ts
  packages/brick-playground/src/preview-bootstrap.ts
  packages/brick-playground/src/preview.ts
  packages/build-next-bricks/src/build.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): v2-adapter: stage 4: mix remote apps and bricks
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyRuntime.ts
  bricks/v2-adapter/src/data-providers/load-bricks.ts
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/scripts/env.js
  packages/brick-container/scripts/getProxy.js
  packages/brick-container/scripts/serve.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support basic v2-adapter
  bricks/v2-adapter/package.json
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyRuntime.ts
  bricks/v2-adapter/src/data-providers/load-bricks.ts
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/scripts/env.js
  packages/brick-container/scripts/middlewares/bootstrapJson.js
  packages/brick-container/scripts/middlewares/mockAuth.js
  packages/brick-container/scripts/middlewares/serveBricksWithVersions.js
  packages/brick-container/scripts/middlewares/standaloneBootstrapJson.js
  packages/brick-container/scripts/serve.js
  packages/brick-container/scripts/start.js
  packages/brick-container/scripts/utils/getStandaloneConfig.js
  packages/brick-container/scripts/utils/shouldServeAsIndexHtml.js
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.ts
  packages/build-next-bricks/src/getCamelPackageName.js
  packages/build-next-bricks/src/scanBricks.js
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/checkIf.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/data/resolveData.ts
  packages/runtime/src/internal/loadBootstrapData.ts
  packages/runtime/src/internal/registerAppI18n.ts
  packages/theme/package.json
  packages/theme/src/index.css
  packages/utils/src/general/deepFreeze.spec.ts
  packages/utils/src/general/deepFreeze.ts
  packages/utils/src/general/index.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(report_brick_next): report_brick_next
  packages/brick-container/deploy/package.conf.yaml
Due: none

fix(): refine legacy runtime
  bricks/v2-adapter/package.json
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyRuntime.ts
  packages/runtime/src/internal/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support basic.general-image
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/image/ImageComponent.spec.tsx
  bricks/basic/src/image/ImageComponent.tsx
  bricks/basic/src/image/ImageList.spec.tsx
  bricks/basic/src/image/ImageList.tsx
  bricks/basic/src/image/ImageListContext.ts
  bricks/basic/src/image/Preview.spec.tsx
  bricks/basic/src/image/Preview.tsx
  bricks/basic/src/image/example.html
  bricks/basic/src/image/hooks/useImage.spec.ts
  bricks/basic/src/image/hooks/useImage.ts
  bricks/basic/src/image/hooks/useTransform.spec.ts
  bricks/basic/src/image/hooks/useTransform.ts
  bricks/basic/src/image/imageComponent.shadow.css
  bricks/basic/src/image/index.spec.tsx
  bricks/basic/src/image/index.tsx
  bricks/basic/src/image/preview.shadow.css
  bricks/basic/src/image/previewConfig.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(v2-adapter): support useCurrentTheme
  bricks/v2-adapter/build.config.js
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/LazyBrickRegistry.ts
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyRuntime.ts
  bricks/v2-adapter/src/data-providers/load-bricks.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support basic.general-image
  bricks/basic/src/image/ImageList.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use __webpack_public_path__ instead of hard code
  declarations/global.d.ts
  packages/easyops-illustrations/src/Illustrations.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): copy illustrations
  v3/brick-dll-v3/package.json
  v3/brick-dll-v3/webpack.dll.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support basic.general-image
  bricks/basic/src/image/hooks/useImage.spec.ts
  bricks/basic/src/image/hooks/useTransform.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
