Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

chore(): fix cleanup caches
  .github/workflows/cleanup-caches.yml
Due: none

chore(): fix cleanup caches [skip ci]
  .github/workflows/cleanup-caches.yml
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): use @types/node v20
  package.json
  yarn.lock
Due: prettier --write

chore(): use decorator 2023-11
  packages/babel-preset-next/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): getRuntimeMicroAppStandalone with version
  packages/brick-container/src/loadBootstrapData.spec.ts
  packages/brick-container/src/loadBootstrapData.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): getRuntimeMicroAppStandalone with version
  packages/brick-kit/src/core/standaloneBootstrap.spec.ts
  packages/brick-kit/src/core/standaloneBootstrap.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): next-v3支持react hook调用provider
  packages/react-runtime/package.json
  packages/react-runtime/src/index.ts
  packages/react-runtime/src/useProvider/fetch.spec.ts
  packages/react-runtime/src/useProvider/fetch.ts
  packages/react-runtime/src/useProvider/useProvider.spec.tsx
  packages/react-runtime/src/useProvider/useProvider.ts
  packages/react-runtime/src/useProvider/useProviderArgs.spec.ts
  packages/react-runtime/src/useProvider/useProviderArgs.ts
  packages/react-runtime/src/useProvider/useProviderArgsDefaults.ts
  packages/react-runtime/src/useProvider/useProviderTypes.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
Due: prettier --write

fix(): fix brick size check
  packages/brick-container/serve/utils/sizeCheck.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): limit lerna concurrency to 2
  package.json
Due: prettier --write

feat(): support set watermark
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/setWatermark.spec.ts
  packages/runtime/src/setWatermark.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update flags
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/setWatermark.spec.ts
  packages/runtime/src/setWatermark.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support set watermark
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/setWatermark.spec.ts
  packages/brick-kit/src/core/setWatermark.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support getRealValue
  packages/runtime/src/getRealValue.spec.ts
  packages/runtime/src/getRealValue.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 联合打包app上报脚本
  packages/brick-container/tools/package-union/link_union_app_static_file.py
Due: none

feat(): 联合打包app脚本commit->report_union_app
  packages/brick-container/tools/package-union/link_union_app_static_file.py
  packages/brick-container/tools/package-union/report_union_micro_app.py
Due: none

fix(): 修复在开发者中心构件调试页本地调试失效问题
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 修复在开发者中心构件调试页本地调试失效问题
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

WIP
  cypress/e2e/sub-routes.spec.js
  etc/runtime.api.md
  mock-micro-apps/e2e/storyboard.yaml
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Runtime.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): set watermark later
  packages/runtime/src/internal/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): set watermark later
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix when message subscribe after onMessage
  packages/easyops-runtime/src/websocket/MessageDispatcher.spec.ts
  packages/easyops-runtime/src/websocket/MessageDispatcher.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
Due: prettier --write

fix(): isolate forEach access between inside and outside of template
  packages/eslint-config-next/index.js
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support new union app mode
  declarations/global.d.ts
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/utils/injectIndexHtml.js
  packages/brick-container/src/images.spec.ts
  packages/brick-container/src/images.ts
  packages/brick-container/src/loadBootstrapData.spec.ts
  packages/brick-container/src/loadBootstrapData.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/setWatermark.spec.ts
  packages/runtime/src/setWatermark.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

feat(): support new union app mode
  declarations/global.d.ts
  packages/brick-container/serve/getIndexHtml.js
  packages/brick-container/serve/getProxies.js
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/setWatermark.spec.ts
  packages/brick-kit/src/core/setWatermark.ts
  packages/brick-kit/src/core/standaloneBootstrap.ts
  packages/brick-kit/src/internal/images.spec.ts
  packages/brick-kit/src/internal/images.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Revert "fix(): isolate forEach access between inside and outside of template"
  packages/eslint-config-next/index.js
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: (((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
