Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix ReactUseBrick bug with inline refCallback
  cypress/e2e/use-brick.spec.js
  mock-micro-apps/e2e/storyboard.yaml
  packages/react-runtime/src/ReactUseBrick.spec.tsx
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/react-runtime/src/useCurrentTheme.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): separate code cove reports
  codecov.yml
Due: none

chore(ci): refine codecov
  .github/workflows/ci.yml
Due: none

chore(codecov): ignore .cache
  codecov.yml
Due: none

chore(codecov): show components
  codecov.yml
Due: none

chore(codecov): fix typo of slash
  codecov.yml
Due: none

chore(renovate): set base branch to next of v3 [skip ci]
  renovate.json
Due: prettier --write

chore(renovate): ignore v3 [skip ci]
  renovate.json
Due: prettier --write

fix(): remove unnecessary conditions
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/internal/compute/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests
  packages/react-runtime/src/ReactUseBrick.spec.tsx
  packages/runtime/src/internal/compute/evaluate.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): reset mountResult.current
  packages/react-runtime/src/ReactUseBrick.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): resume test scripts
  packages/runtime/package.json
Due: prettier --write

feat(): new api sdk of micro-app with minimal APIs
  sdk/micro-app-sdk/README.md
  sdk/micro-app-sdk/package.json
  sdk/micro-app-sdk/src/api/micro_app/permission/index.ts
  sdk/micro-app-sdk/src/api/micro_app/permission/validatePermissions.ts
  sdk/micro-app-sdk/src/index.ts
  sdk/micro-app-sdk/src/wrapper.ts
  sdk/micro-app-sdk/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use real API for validating permissions
  packages/runtime/package.json
  packages/runtime/src/internal/checkPermissions.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix isHttpAbortError usage
  packages/runtime/src/handleHttpError.ts
  packages/runtime/src/internal/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix setup useBrick for deeper useBrick
  packages/runtime/src/internal/CustomTemplates/setupUseBrickInTemplate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests
  packages/runtime/src/CustomProcessors.spec.ts
  packages/runtime/src/StoryboardFunctionRegistry.spec.ts
  packages/runtime/src/getPageInfo.spec.ts
  packages/runtime/src/handleHttpError.spec.ts
  packages/runtime/src/internal/CustomTemplates/setupUseBrickInTemplate.spec.ts
  packages/runtime/src/internal/checkPermissions.spec.ts
  packages/runtime/src/internal/compute/WidgetFunctions.spec.ts
  packages/runtime/src/internal/compute/evaluate.spec.ts
  packages/runtime/src/internal/compute/getGeneralGlobals.spec.ts
  packages/runtime/src/internal/compute/listenOnTrackingContext.spec.ts
  packages/runtime/src/internal/compute/markAsComputed.spec.ts
  packages/runtime/src/internal/historyExtended.spec.ts
  packages/runtime/src/internal/historyExtended.ts
  packages/runtime/src/internal/matchPath.spec.ts
  packages/runtime/src/internal/matchPath.ts
  packages/runtime/src/internal/mediaQuery.spec.ts
  packages/runtime/src/internal/poll.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix useBrick with non-object props
  packages/runtime/src/internal/CustomTemplates/setupUseBrickInTemplate.spec.ts
  packages/runtime/src/internal/CustomTemplates/setupUseBrickInTemplate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/data/resolveDataStore.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): grid-layout add test case
  bricks/basic/src/grid-layout/index.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix types that a string is also Iterable<string>
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/LazyBrickRegistry.ts
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/src/internal/compute/getTracks.ts
  packages/runtime/src/internal/compute/listenOnTrackingContext.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/utils/src/storyboard/expressions/track.spec.ts
  packages/utils/src/storyboard/expressions/track.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests for DataStore
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
  packages/runtime/src/internal/data/FlowApiProvider.spec.ts
  packages/runtime/src/themeAndMode.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix tpl defined props with methods
  packages/runtime/src/CustomTemplates.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests for custom templates registry
  packages/runtime/src/CustomTemplates.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support gauge-chart Component
  bricks/data-view/build.config.js
  bricks/data-view/package.json
  bricks/data-view/src/bootstrap.ts
  bricks/data-view/src/gauge-chart/index.spec.ts
  bricks/data-view/src/gauge-chart/index.tsx
  bricks/data-view/src/index.ts
  bricks/data-view/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): select support multiple mode
  bricks/basic/src/interface.ts
  bricks/basic/src/select/example.html
  bricks/basic/src/select/index.shadow.css
  bricks/basic/src/select/index.tsx
  bricks/basic/src/tag/index.tsx
  bricks/basic/src/tag/tag.shadow.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): check permissions before checking brick.if
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/checkPermissions.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests for renderer
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/secret_internals.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine useBrick
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support modern-style-component-title
  bricks/data-view/src/bootstrap.ts
  bricks/data-view/src/data-view-variables.shadow.css
  bricks/data-view/src/modern-style-component-title/example.html
  bricks/data-view/src/modern-style-component-title/index.spec.ts
  bricks/data-view/src/modern-style-component-title/index.tsx
  bricks/data-view/src/modern-style-component-title/modern-style-component-title.shadow.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix legacy useBrick
  bricks/v2-adapter/src/data-providers/legacy-brick-kit/getLegacyUseBrick.ts
  packages/react-runtime/src/ReactUseBrick.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): fix tests
  packages/react-runtime/src/ReactUseBrick.spec.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests for tpl
  packages/runtime/src/internal/Renderer.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): ignore portal orders for useBrick
  cypress/e2e/use-brick.spec.js
  cypress/support/commands.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Update codecov.yml
  codecov.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
