Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

feat(): support brick manifest fields create type
  packages/brick-manifest/index.d.ts
  packages/build-next-bricks/src/makeBrickManifest.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update code
  packages/brick-manifest/index.d.ts
  packages/build-next-bricks/src/makeBrickManifest.js
  packages/build-next-bricks/src/scanBricks.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update brick-manifest.json
  packages/brick-manifest/index.d.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-manifest/CHANGELOG.md
  packages/brick-manifest/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/jest-config-factory/CHANGELOG.md
  packages/jest-config-factory/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): export getUniqueNodeId
  packages/editor-bricks-helper/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update manifest.snapshot.json
  dll/editor-bricks-helper/manifest.snapshot.json
Due: prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

feat(): build provider manifest and types
  packages/brick-manifest/annotation.d.ts
  packages/brick-manifest/index.d.ts
  packages/build-next-bricks/jsconfig.json
  packages/build-next-bricks/src/getTypeDeclaration.js
  packages/build-next-bricks/src/makeBrickManifest.js
  packages/build-next-bricks/src/scanBricks.js
  packages/build-next-bricks/src/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): compatible with devtools
  CONTRIBUTING-V3.md
  packages/brick-container/build.config.js
  packages/brick-container/src/index.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/devtools.spec.ts
  packages/runtime/src/internal/devtools.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): infer type annotation from the default value
  packages/brick-manifest/annotation.d.ts
  packages/build-next-bricks/src/getTypeDeclaration.js
  packages/build-next-bricks/src/makeBrickManifest.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-manifest/CHANGELOG.md
  packages/brick-manifest/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): styles are in head instead of body
  packages/preview/src/bootstrap.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
Due: prettier --write

fix(): set theme before rendering
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): remove unnecessary code
  packages/runtime/src/createRoot.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

feat(): support brick alias
  bricks/e2e/src/list-by-use-brick/index.tsx
  mock-micro-apps/e2e/storyboard.yaml
  packages/brick-manifest/index.d.ts
  packages/build-next-bricks/src/makeBrickManifest.js
  packages/build-next-bricks/src/scanBricks.js
  packages/element/src/NextElement.spec.ts
  packages/element/src/createDecorators.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): separate common bricks and business-specific bricks
  packages/yo/src/plopfile.js
  packages/yo/src/templates/brick.md.hbs
  packages/yo/src/templates/brick/i18n.ts
  packages/yo/src/templates/brick/index.spec.tsx.hbs
  packages/yo/src/templates/brick/index.tsx.hbs
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-manifest/CHANGELOG.md
  packages/brick-manifest/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

feat(): support parsing brick children
  packages/brick-utils/src/scanStoryboard.ts
  packages/storyboard/src/parseStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add a test case with brick children
  packages/brick-utils/src/scanStoryboard.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): fix issue with linked monaco-contributions
  packages/monaco-contributions/html.d.ts
  packages/monaco-contributions/html.js
  packages/monaco-contributions/javascript.d.ts
  packages/monaco-contributions/javascript.js
  packages/monaco-contributions/package.json
  packages/monaco-contributions/typescript.d.ts
  packages/monaco-contributions/typescript.js
  packages/monaco-contributions/yaml.d.ts
  packages/monaco-contributions/yaml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix usage of monaco-contributions
  packages/brick-playground/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/monaco-contributions/CHANGELOG.md
  packages/monaco-contributions/package.json
Due: prettier --write

feat(): check common bricks
  bricks/e2e/package.json
  packages/build-next-bricks/src/build.js
  packages/yo/src/plopfile.js
  shared/common-bricks/common-bricks.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): throw error for conflicted common bricks
  packages/build-next-bricks/src/build.js
  packages/yo/src/plopfile.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(custom-antd-styles): antd表格没数据时不能hover
  packages/custom-antd-styles/src/table.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

fix(): 多层菜单排序失效
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 多层菜单排序失效
  packages/easyops-runtime/src/menu/fetchMenuById.spec.ts
  packages/easyops-runtime/src/menu/fetchMenuById.ts
  packages/easyops-runtime/src/menu/reorderMenuItems.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): compatible with v3 common bricks
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): history fallback to from v2 runtime
  packages/runtime/src/history.spec.ts
  packages/runtime/src/history.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine svgr options for icon font
  declarations/global.d.ts
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/getSvgrLoaders.js
  packages/test-next/src/createJestConfig.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
