Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

chore(): update story interface
  etc/brick-types.api.md
  packages/brick-types/src/story.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

test(): test templates with :forEach with INDEX
  etc/runtime.api.md
  packages/easyops-runtime/src/menu/fetchMenuById.ts
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/FormRenderer/expandFormRenderer.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/compute/evaluate.spec.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): support mock date in v3
  packages/brick-container/build.config.js
  packages/brick-container/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine preview bootstrap url
  packages/brick-container/build.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

fix(): 支持上报provider信息
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

fix(): fix rerender of control nodes with empty initial
  cypress/e2e/control-nodes.spec.js
  mock-micro-apps/e2e/storyboard.yaml
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/enums.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/mount.ts
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): fix types
  packages/http/jest.config.js
  packages/http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support api and page-view analytics
  etc/runtime.api.md
  packages/brick-container/serve/getProxy.js
  packages/brick-container/src/bootstrap.ts
  packages/easyops-runtime/package.json
  packages/easyops-runtime/src/analytics/analytics.spec.ts
  packages/easyops-runtime/src/analytics/analytics.ts
  packages/easyops-runtime/src/analytics/http.spec.ts
  packages/easyops-runtime/src/analytics/http.ts
  packages/easyops-runtime/src/analytics/index.ts
  packages/easyops-runtime/src/analytics/interfaces.ts
  packages/easyops-runtime/src/analytics/pageView.spec.ts
  packages/easyops-runtime/src/analytics/pageView.ts
  packages/easyops-runtime/src/index.ts
  packages/easyops-runtime/src/menu/fetchMenuById.spec.ts
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): refine test
  packages/easyops-runtime/src/analytics/analytics.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/http/CHANGELOG.md
  packages/http/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): fix missing time in page analytics
  packages/easyops-runtime/src/analytics/analytics.spec.ts
  packages/easyops-runtime/src/analytics/analytics.ts
  packages/easyops-runtime/src/analytics/interfaces.ts
  packages/easyops-runtime/src/analytics/pageView.spec.ts
  packages/easyops-runtime/src/analytics/pageView.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
Due: prettier --write

fix(): receive collectUsedContracts as a function
  etc/runtime.api.md
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): fix tests
  packages/runtime/src/internal/secret_internals.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support menu field
  etc/brick-types.api.md
  packages/brick-kit/src/internal/menu.ts
  packages/brick-types/src/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add menu field
  packages/easyops-runtime/src/menu/fetchMenuById.ts
  packages/easyops-runtime/src/menu/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): set prettierPath to null temporarily
  packages/test-next/src/createJestConfig.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): refactor collectMemberUsageInFunction
  packages/utils/src/storyboard/functions/collectMemberUsageInFunction.spec.ts
  packages/utils/src/storyboard/functions/collectMemberUsageInFunction.ts
  packages/utils/src/storyboard/functions/traverse.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): silent errors when editing and testing functions
  packages/runtime/src/StoryboardFunctionRegistry.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/create-api-sdk/CHANGELOG.md
  packages/create-api-sdk/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/http/CHANGELOG.md
  packages/http/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/pipes/CHANGELOG.md
  packages/pipes/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  packages/test-next/CHANGELOG.md
  packages/test-next/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): allow mark internal props
  packages/build-next-bricks/src/makeBrickManifest.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): support override user config by apps
  CONTRIBUTING.md
  packages/brick-container/index.d.ts
  packages/brick-container/package.json
  packages/brick-container/serve/env.js
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/middlewares/getMiddlewares.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 新增menu icon refs MONITOR-6769
  packages/brick-icons/src/icons/second-menu/Service-log-secong-menu.svg
  packages/brick-icons/src/icons/second-menu/api-topology-second-menu.svg
  packages/brick-icons/src/icons/second-menu/custom-monitor-second-menu.svg
  packages/brick-icons/src/icons/second-menu/easy-analysis-second-menu.svg
  packages/brick-icons/src/icons/second-menu/log-collection-second-menu.svg
  packages/brick-icons/src/icons/second-menu/metric-aggregation-second-menu.svg
  packages/brick-icons/src/icons/second-menu/metric-collection-second-menu.svg
  packages/brick-icons/src/icons/second-menu/metric-integration-second-menu.svg
  packages/brick-icons/src/icons/second-menu/public-service-dial-detact-host-second-menu.svg
  packages/brick-icons/src/icons/second-menu/service-center-second-menu.svg
  packages/brick-icons/src/icons/second-menu/system-map-second-menu.svg
  packages/brick-icons/src/icons/second-menu/trace-collection-second-menu.svg
  packages/brick-icons/src/icons/second-menu/trace-query-second-menu.svg
  packages/brick-icons/src/icons/third-menu/Service-log-third-menu.svg
  packages/brick-icons/src/icons/third-menu/api-topology-third-menu.svg
  packages/brick-icons/src/icons/third-menu/custom-monitor-third-menu.svg
  packages/brick-icons/src/icons/third-menu/easy-analysis-third-menu.svg
  packages/brick-icons/src/icons/third-menu/log-collection-third-menu.svg
  packages/brick-icons/src/icons/third-menu/metric-aggregation-third-menu.svg
  packages/brick-icons/src/icons/third-menu/metric-collection-third-menu.svg
  packages/brick-icons/src/icons/third-menu/metric-integration-third-menu.svg
  packages/brick-icons/src/icons/third-menu/public-service-third-menu.svg
  packages/brick-icons/src/icons/third-menu/service-center-third-menu.svg
  packages/brick-icons/src/icons/third-menu/system-map-third-menu.svg
  packages/brick-icons/src/icons/third-menu/trace-collection-third-menu.svg
  packages/brick-icons/src/icons/third-menu/trace-query-third-menu.svg
Due: none

feat(): 新增menu icon refs MONITOR-6769
  packages/brick-icons/src/icons/second-menu/api-topology-second-menu.svg
  packages/brick-icons/src/icons/second-menu/custom-monitor-second-menu.svg
  packages/brick-icons/src/icons/second-menu/easy-analysis-second-menu.svg
  packages/brick-icons/src/icons/second-menu/log-collection-second-menu.svg
  packages/brick-icons/src/icons/second-menu/metric-aggregation-second-menu.svg
  packages/brick-icons/src/icons/second-menu/metric-collection-second-menu.svg
  packages/brick-icons/src/icons/second-menu/metric-integration-second-menu.svg
  packages/brick-icons/src/icons/second-menu/public-service-dial-detact-host-second-menu.svg
  packages/brick-icons/src/icons/second-menu/service-center-second-menu.svg
  packages/brick-icons/src/icons/second-menu/service-log-secong-menu.svg
  packages/brick-icons/src/icons/second-menu/system-map-second-menu.svg
  packages/brick-icons/src/icons/second-menu/trace-collection-second-menu.svg
  packages/brick-icons/src/icons/second-menu/trace-query-second-menu.svg
  packages/brick-icons/src/icons/third-menu/api-topology-third-menu.svg
  packages/brick-icons/src/icons/third-menu/custom-monitor-third-menu.svg
  packages/brick-icons/src/icons/third-menu/easy-analysis-third-menu.svg
  packages/brick-icons/src/icons/third-menu/log-collection-third-menu.svg
  packages/brick-icons/src/icons/third-menu/metric-aggregation-third-menu.svg
  packages/brick-icons/src/icons/third-menu/metric-collection-third-menu.svg
  packages/brick-icons/src/icons/third-menu/metric-integration-third-menu.svg
  packages/brick-icons/src/icons/third-menu/public-service-third-menu.svg
  packages/brick-icons/src/icons/third-menu/service-center-third-menu.svg
  packages/brick-icons/src/icons/third-menu/service-log-third-menu.svg
  packages/brick-icons/src/icons/third-menu/service-third-menu-3.svg
  packages/brick-icons/src/icons/third-menu/system-map-third-menu.svg
  packages/brick-icons/src/icons/third-menu/trace-collection-third-menu.svg
  packages/brick-icons/src/icons/third-menu/trace-query-third-menu.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): support API mocks
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/loadBootstrapData.spec.ts
  packages/brick-container/src/loadBootstrapData.ts
  packages/brick-container/src/mocks.spec.ts
  packages/brick-container/src/mocks.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 新增menu icon refs MONITOR-6769
  packages/brick-icons/src/icons/second-menu/alert-history-second-menu.svg
  packages/brick-icons/src/icons/second-menu/alert-statistic-second-menu.svg
  packages/brick-icons/src/icons/second-menu/current-alert-second-menu.svg
  packages/brick-icons/src/icons/second-menu/event-flow-second-menu.svg
  packages/brick-icons/src/icons/second-menu/group-alert-second-menu.svg
  packages/brick-icons/src/icons/second-menu/hi-event-second-menu.svg
  packages/brick-icons/src/icons/second-menu/wait-confirm-event-second-menu.svg
  packages/brick-icons/src/icons/third-menu/alert-history-third-menu.svg
  packages/brick-icons/src/icons/third-menu/alert-statistic-third-menu.svg
  packages/brick-icons/src/icons/third-menu/current-alert-third-menu.svg
  packages/brick-icons/src/icons/third-menu/event-flow-third-menu.svg
  packages/brick-icons/src/icons/third-menu/group-alert-third-menu.svg
  packages/brick-icons/src/icons/third-menu/hi-event-third-menu.svg
  packages/brick-icons/src/icons/third-menu/wait-confirm-event-third-menu.svg
Due: none
