Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
Due: prettier --write

fix(table): 表格构件hover行背景颜色使用错误
  packages/custom-antd-styles/src/table.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

fix(): allow to silent errors for unknown bricks
  etc/runtime.api.md
  packages/brick-playground/src/preview/bootstrap.ts
  packages/runtime/src/createRoot.spec.ts
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

docs(): fix codecov badge url [skip ci]
  README.md
Due: prettier --write

fix(): allow to silent errors when loading widgets
  packages/runtime/src/internal/Renderer.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix local micro app not working in start mode with remote
  packages/brick-container/serve/middlewares/getMiddlewares.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support Menu Image
  packages/brick-container/serve/getIndexHtml.js
  packages/brick-container/serve/getProxies.js
  packages/brick-kit/src/internal/getGeneralGlobals.ts
  packages/brick-kit/src/internal/images.spec.ts
  packages/brick-kit/src/internal/images.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support form-renderer
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/utils.ts
  packages/runtime/src/internal/FormRenderer/constants.ts
  packages/runtime/src/internal/FormRenderer/expandFormRenderer.ts
  packages/runtime/src/internal/FormRenderer/getDefaultProperties.ts
  packages/runtime/src/internal/FormRenderer/interfaces.ts
  packages/runtime/src/internal/FormRenderer/utils.spec.ts
  packages/runtime/src/internal/FormRenderer/utils.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/compute/listenOnTrackingContext.spec.ts
  packages/runtime/src/internal/compute/listenOnTrackingContext.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update code
  packages/brick-kit/src/internal/images.spec.ts
  packages/brick-kit/src/internal/images.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update unit test
  packages/brick-kit/src/core/StoryboardFunctionRegistryFactory.spec.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(): move bootstrap fetching outside of runtime
  CONTRIBUTING-V3.md
  etc/runtime.api.md
  packages/brick-container/package.json
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/loadBootstrapData.spec.ts
  packages/brick-container/src/loadBootstrapData.ts
  packages/brick-container/src/loadCheckLogin.ts
  packages/brick-playground/src/preview/bootstrap.ts
  packages/runtime/src/Dialog.spec.ts
  packages/runtime/src/Dialog.ts
  packages/runtime/src/Notification.spec.ts
  packages/runtime/src/Notification.ts
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bootstrapData.ts
  packages/runtime/src/internal/fulfilStoryboard.ts
  packages/runtime/src/internal/menu/fetchMenuById.spec.ts
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(icons): add icons
  packages/brick-icons/src/icons/blueprint/resize.svg
  packages/brick-icons/src/icons/blueprint/toggle-blueprint.svg
  packages/brick-icons/src/icons/blueprint/upgrade.svg
Due: none

Update packages/brick-kit/src/internal/images.ts
  packages/brick-kit/src/internal/images.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests
  packages/runtime/src/internal/Runtime.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

feat(): inject brick packages instead
  packages/webpack/src/RuntimePlugin.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): inject brick packages only
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bootstrapData.ts
  packages/runtime/src/internal/injected.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/webpack/CHANGELOG.md
  packages/webpack/package.json
Due: prettier --write

fix(): allow bootstrap with initializing data
  packages/brick-container/src/bootstrap.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix set props of useBrick
  packages/brick-kit/src/internal/setProperties.spec.ts
  packages/brick-kit/src/internal/setProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support using v3 bricks in v2 container
  packages/brick-dll/webpack.dll.js
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): increase size-limit of brick-kit by 2KB
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix a problem of v3 brick entries getting loaded twice
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): fix asset stage
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): move createProviderClass and unwrapProvider to general
  packages/utils/src/general/createProviderClass.spec.ts
  packages/utils/src/general/createProviderClass.ts
  packages/utils/src/general/index.ts
  packages/utils/src/general/unwrapProvider.spec.ts
  packages/utils/src/general/unwrapProvider.ts
  packages/utils/src/storyboard/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine utils usage
  bricks/e2e/src/data-providers/return-by-timeout.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
  packages/runtime/src/internal/data/FlowApiProvider.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore(): add icons
  packages/brick-icons/src/icons/colored-big-screen/app.svg
  packages/brick-icons/src/icons/colored-big-screen/cluster.svg
  packages/brick-icons/src/icons/colored-big-screen/host.svg
  packages/brick-icons/src/icons/colored-big-screen/pod.svg
Due: none

fix(): allow undefined prop value
  packages/runtime/src/internal/compute/computeRealProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): should also report nt packges
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none
