Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): some optimization
  packages/brick-kit/src/providers/CustomApi.spec.ts
  packages/brick-kit/src/providers/CustomApi.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(devtools): try to emit only in idle time
  packages/brick-kit/src/internal/devtools.spec.ts
  packages/brick-kit/src/internal/devtools.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix style
  packages/custom-antd-styles/src/calendar.less
Due: none

chore(): update icons
  packages/easyops-illustrations/src/images/easyops2/add-app-dynamic-dark.gif
  packages/easyops-illustrations/src/images/easyops2/add-app-dynamic.gif
  packages/easyops-illustrations/src/images/easyops2/internet-disconnected-dynamic-dark.gif
  packages/easyops-illustrations/src/images/easyops2/internet-disconnected-dynamic.gif
  packages/easyops-illustrations/src/images/easyops2/no-content-dynamic-dark.gif
  packages/easyops-illustrations/src/images/easyops2/no-content-dynamic.gif
  packages/easyops-illustrations/src/images/easyops2/no-history-dynamic-dark.gif
  packages/easyops-illustrations/src/images/easyops2/no-history-dynamic.gif
  packages/easyops-illustrations/src/images/easyops2/search-empty-dynamic-dark.gif
  packages/easyops-illustrations/src/images/easyops2/search-empty-dynamic.gif
  packages/easyops-illustrations/src/images/easyops2/search-no-content-dynamic-dark.gif
  packages/easyops-illustrations/src/images/easyops2/search-no-content-dynamic.gif
  packages/easyops-illustrations/src/images/easyops2/searching-dynamic-dark.gif
  packages/easyops-illustrations/src/images/easyops2/searching-dynamic.gif
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): use core-js 3.24
  packages/babel-preset-next/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): 添加颜色变量
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): 资源自动发现新图标
  packages/brick-icons/src/icons/service-discovery-app.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): support local source change builderData
  etc/brick-kit.api.md
  packages/brick-http/src/http.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/developHelper.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(): update dll manifest
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

feat(): remove worker in http
  packages/brick-dll/manifest.snapshot.json
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add public-scoped-sdk
  packages/public-scoped-sdk/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/public-scoped-sdk/CHANGELOG.md
  packages/public-scoped-sdk/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

fix():修复ip正则校验规则，补充校验失败默认提示信息
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.spec.ts
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): use lerna with nx
  lerna.json
  nx.json
Due: prettier --write

feat(): support INSTALLED_APPS in standalone mode
  etc/brick-types.api.md
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.spec.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/internal/getStandaloneInstalledApps.spec.ts
  packages/brick-kit/src/internal/getStandaloneInstalledApps.ts
  packages/brick-types/src/manifest.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/scanInstalledAppsInStoryboard.spec.ts
  packages/brick-utils/src/scanInstalledAppsInStoryboard.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(runtime): support runtime FLAGS and MISC on standalone mode
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/package.json
  packages/brick-kit/src/core/standaloneBootstrap.spec.ts
  packages/brick-kit/src/core/standaloneBootstrap.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(): remove unused code
  packages/brick-utils/src/scanInstalledAppsInStoryboard.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix linting with var in muti-line
  packages/cook/src/lint.spec.ts
  packages/cook/src/lint.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support userConfig & injectMenus in standalone mode
  etc/brick-types.api.md
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): support abstract path for standalone micro app dir in yarn serve
  packages/brick-container/serve/serve.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support updateNode update edges
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(): make loose dependency on backend runtime api
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/standaloneBootstrap.spec.ts
  packages/brick-kit/src/core/standaloneBootstrap.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): do not report 404 when page is empty
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support drag snippet not update builder data
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
