Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency @types/echarts to ^4.9.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(api-orchestration): set fields
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/d3 to ^6.2.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

refactor(): refactor and split source code of custom templates
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/CustomTemplates/__snapshots__/expandCustomTemplate.spec.ts.snap
  packages/brick-kit/src/core/CustomTemplates/assertions.ts
  packages/brick-kit/src/core/CustomTemplates/collectRefsInTemplate.spec.ts
  packages/brick-kit/src/core/CustomTemplates/collectRefsInTemplate.ts
  packages/brick-kit/src/core/CustomTemplates/constants.ts
  packages/brick-kit/src/core/CustomTemplates/expandCustomTemplate.spec.ts
  packages/brick-kit/src/core/CustomTemplates/expandCustomTemplate.ts
  packages/brick-kit/src/core/CustomTemplates/getTagNameOfCustomTemplate.ts
  packages/brick-kit/src/core/CustomTemplates/handleProxyOfCustomTemplate.spec.ts
  packages/brick-kit/src/core/CustomTemplates/handleProxyOfCustomTemplate.ts
  packages/brick-kit/src/core/CustomTemplates/index.ts
  packages/brick-kit/src/core/CustomTemplates/propertyMerge.spec.ts
  packages/brick-kit/src/core/CustomTemplates/propertyMerge.ts
  packages/brick-kit/src/core/CustomTemplates/registerCustomTemplate.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(): refactor and split source code of custom templates
  packages/brick-kit/src/core/CustomTemplates/collectMergeBases.ts
  packages/brick-kit/src/core/CustomTemplates/expandCustomTemplate.ts
  packages/brick-kit/src/core/CustomTemplates/handleProxyOfCustomTemplate.spec.ts
  packages/brick-kit/src/core/CustomTemplates/propertyMerge.spec.ts
  packages/brick-kit/src/core/CustomTemplates/propertyMerge.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.12.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.33.3
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to ^4.8.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.8.4
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(BrickAsComponent): fix throw error when running in test env
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(package_conf): 修改依赖 refs NEXT_BUILDER-448
  packages/brick-container/deploy/package.conf.yaml
Due: none

feat(modal): UI 6.1 样式
  packages/custom-antd-styles/src/var.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(select): 修复表单中验证失败是select变红样式不对问题
  packages/custom-antd-styles/src/select.less
Due: none

chore(deps): Update dependency file-saver to ^2.0.5
  packages/brick-utils/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency copy-webpack-plugin to ^6.3.2
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.1.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prettier to ^2.2.0
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency timers-browserify to ^2.0.12
  package.json
  yarn.lock
Due: prettier --write

fix(): fix not loading bricks in useBrick.slots
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-utils/src/scanBricksInStoryboard.spec.ts
  packages/brick-utils/src/scanBricksInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(custom-template): support template properties as variables
  .size-limit.js
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/BrickNode.ts
  packages/brick-kit/src/core/CustomTemplates/CustomTemplateContext.spec.ts
  packages/brick-kit/src/core/CustomTemplates/CustomTemplateContext.ts
  packages/brick-kit/src/core/CustomTemplates/__snapshots__/expandCustomTemplate.spec.ts.snap
  packages/brick-kit/src/core/CustomTemplates/assertions.ts
  packages/brick-kit/src/core/CustomTemplates/collectMergeBases.ts
  packages/brick-kit/src/core/CustomTemplates/constants.ts
  packages/brick-kit/src/core/CustomTemplates/expandCustomTemplate.spec.ts
  packages/brick-kit/src/core/CustomTemplates/expandCustomTemplate.ts
  packages/brick-kit/src/core/CustomTemplates/handleProxyOfCustomTemplate.spec.ts
  packages/brick-kit/src/core/CustomTemplates/handleProxyOfCustomTemplate.ts
  packages/brick-kit/src/core/CustomTemplates/index.ts
  packages/brick-kit/src/core/CustomTemplates/internalInterfaces.ts
  packages/brick-kit/src/core/CustomTemplates/propertyMerge.spec.ts
  packages/brick-kit/src/core/CustomTemplates/propertyMerge.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/TemplateRegistries.spec.ts
  packages/brick-kit/src/evaluate.spec.ts
  packages/brick-kit/src/evaluate.ts
  packages/brick-kit/src/makeProviderRefreshable.ts
  packages/brick-kit/src/setProperties.spec.ts
  packages/brick-kit/src/setProperties.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update babel monorepo to ^7.12.7
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.14.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.14.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react-dom to v17
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to ^4.9.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react-test-renderer to v17
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(event): add a new event action: "menu.clearMenuTitleCache"
  etc/brick-types.api.md
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/menu.spec.ts
  packages/brick-kit/src/core/menu.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add permission-app icon
  packages/brick-icons/src/icons/app/permission-inheritance.svg
Due: none

feat(develop-helper): support useProvider and template lifeCycle in developer preview
  etc/brick-kit.api.md
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/processors.spec.ts
  packages/brick-kit/src/core/processors.ts
  packages/brick-kit/src/developHelper.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(custom-template): fix TPL.* not working in lifeCycle events
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): export anonymous interfaces
  packages/sdk-scripts/src/lib/Api.ts
  packages/sdk-scripts/src/lib/InternalInterfaces.ts
  packages/sdk-scripts/src/lib/MixedType.ts
  packages/sdk-scripts/src/lib/Model.ts
  packages/sdk-scripts/src/lib/ObjectType.ts
  packages/sdk-scripts/src/lib/PartialModelType.ts
  packages/sdk-scripts/src/lib/ProbablyObjectType.ts
  packages/sdk-scripts/src/lib/SourceFile.ts
  packages/sdk-scripts/src/lib/UnionType.ts
  packages/sdk-scripts/src/lib/internal.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(select): 所有下拉框增加与卡片2px间距，选项增加圆角，选项颜色改变
  packages/custom-antd-styles/src/select.less
Due: none

feat(): export named literal interfaces
  packages/sdk-scripts/src/lib/Api.ts
  packages/sdk-scripts/src/lib/Context.ts
  packages/sdk-scripts/src/lib/InternalInterfaces.ts
  packages/sdk-scripts/src/lib/MixedType.ts
  packages/sdk-scripts/src/lib/ObjectType.ts
  packages/sdk-scripts/src/lib/PartialModelType.ts
  packages/sdk-scripts/src/lib/ProbablyObjectType.ts
  packages/sdk-scripts/src/lib/SourceFile.ts
  packages/sdk-scripts/src/lib/TypeDefinition.ts
  packages/sdk-scripts/src/lib/UnionType.ts
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
