Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(brick-icons): add app ipn
  packages/brick-icons/src/icons/app/collector-plugin.svg
  packages/brick-icons/src/icons/app/iptables-management.svg
  packages/brick-icons/src/icons/app/launchpad-collection.svg
  packages/brick-icons/src/icons/app/middleware-maintenance.svg
  packages/brick-icons/src/icons/app/resource-orchestration.svg
Due: none

chore(brick-icons): add app icon
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(custom-antd-style): change sm-circleBtn min-width
  packages/custom-antd-styles/src/button.less
Due: none

feat(): empty icon
  packages/brick-icons/src/icons/common/empty-icon.svg
Due: none

feat(): support allow recursive evaluations flag
  .size-limit.js
  etc/brick-kit.api.md
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/evaluate.spec.ts
  packages/brick-kit/src/evaluate.ts
  packages/brick-kit/src/setProperties.spec.ts
  packages/brick-kit/src/setProperties.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
  packages/brick-utils/src/cook/preevaluate.spec.ts
  packages/brick-utils/src/cook/preevaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add icon
  .size-limit.js
  packages/brick-icons/src/icons/colored-common/es.svg
  packages/brick-icons/src/icons/colored-common/middleware.svg
  packages/brick-icons/src/icons/colored-common/restart.svg
  packages/brick-icons/src/icons/colored-common/start.svg
  packages/brick-icons/src/icons/colored-common/stop.svg
  packages/brick-icons/src/icons/colored-common/uninstall.svg
  packages/brick-icons/src/icons/colored-common/upgrade.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(calendar): change style
  packages/custom-antd-styles/src/calendar.less
Due: none

fix(): clone with injected-mark for useBrick.properties
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/injected.spec.ts
  packages/brick-kit/src/injected.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): pass context when resolve useBrick.lifeCycle
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(brick-scripts): useLocalSdk时获取本地sdk版本号
  packages/brick-scripts/src/loaders/loadTemplate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(editors): fix node.parsedProperties
  packages/editor-bricks-helper/src/DropZone/DropZone.module.css
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.module.css
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
  packages/editor-bricks-helper/src/SlotContainer/SlotContainer.tsx
  packages/editor-bricks-helper/src/hooks/useBuilderNode.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): run `yarn yo` to create a editor brick
  packages/brick-scripts/src/ask.spec.ts
  packages/brick-scripts/src/ask.ts
  packages/brick-scripts/src/constant.ts
  packages/brick-scripts/src/interface.ts
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/src/loaders/loadTemplate.spec.ts
  packages/brick-scripts/src/loaders/loadTemplate.ts
  packages/brick-scripts/src/main.ts
  packages/brick-scripts/src/questions/askEditorBrickName.spec.ts
  packages/brick-scripts/src/questions/askEditorBrickName.ts
  packages/brick-scripts/src/questions/askPackageName.spec.ts
  packages/brick-scripts/src/questions/askPackageName.ts
  packages/brick-scripts/src/questions/askTargetType.ts
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.module.css
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.spec.tsx
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(custom-antd-styles): 修改table排序样式
  packages/custom-antd-styles/src/table.less
Due: none

chore(radio): change style
  packages/custom-antd-styles/src/radio.less
Due: none

feat(): support autocomplete in some questions
  packages/brick-scripts/package.json
  packages/brick-scripts/src/questions/askEditorBrickName.spec.ts
  packages/brick-scripts/src/questions/askEditorBrickName.ts
  packages/brick-scripts/src/questions/askPackageName.spec.ts
  packages/brick-scripts/src/questions/askPackageName.ts
  packages/brick-scripts/src/questions/translateListToAutocomplete.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix editor brick test template
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/src/questions/askEditorBrickName.spec.ts
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.spec.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine editor template
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.spec.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): serve local bricks and editors separately
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serveLocal.js
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(deps): Update Font Awesome
  packages/brick-dll/package.json
  packages/fontawesome-library/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v6.2.1
  docker-compose.yml
Due: none

chore(deps): Update dependency @testing-library/jest-dom to ^5.11.9
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): update resolutions for rc-*
  package.json
  yarn.lock
Due: prettier --write

chore(): update dll manifest after upgrade antd
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(deps): Update dependency antd to ^4.10.2
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.12.12
  package.json
  packages/babel-preset-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.13.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.167
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less to ^3.13.1
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.36.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-merge to ^5.7.3
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.13.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency chokidar to ^3.5.1
  packages/brick-container/package.json
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.8.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^6.2.1
  package.json
  yarn.lock
Due: prettier --write
