Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): style refine
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(deps): Update dependency i18next to ^21.6.9
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mock-socket to ^9.1.2
  package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): menu style
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

feat(): adapt to the dark theme and add dark icons
  packages/easyops-illustrations/package.json
  packages/easyops-illustrations/src/Illustrations.spec.tsx
  packages/easyops-illustrations/src/Illustrations.ts
  packages/easyops-illustrations/src/images/default/browser-version-low-dark.png
  packages/easyops-illustrations/src/images/default/create-content-dark.png
  packages/easyops-illustrations/src/images/default/no-content-dark.png
  packages/easyops-illustrations/src/images/default/no-history-dark.png
  packages/easyops-illustrations/src/images/default/search-empty-dark.png
  packages/easyops-illustrations/src/images/exception/http-403-dark.png
  packages/easyops-illustrations/src/images/exception/http-404-dark.png
  packages/easyops-illustrations/src/images/exception/http-500-dark.png
  packages/easyops-illustrations/src/images/feedback/exception-dark.png
  packages/easyops-illustrations/src/images/feedback/fail-dark.png
  packages/easyops-illustrations/src/images/feedback/info-dark.png
  packages/easyops-illustrations/src/images/feedback/success-dark.png
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): rebase master
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

fix(style): 增加cascade样式
  packages/brick-container/src/styles/antd.less
  packages/brick-container/src/styles/theme/dark.css
  packages/custom-antd-styles/src/cascader.less
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(style): 挪动timeline样式到antd custom
  packages/brick-container/src/styles/theme/dark.css
  packages/custom-antd-styles/src/timeline.less
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(style): cascader在light模式下缺少样式
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.166.2
  package.json
  yarn.lock
Due: prettier --write

chore(): add icon
  packages/brick-icons/src/icons/monitor/bind-strategy.svg
  packages/brick-icons/src/icons/monitor/create-strategy.svg
Due: none

chore(): change icons
  packages/easyops-illustrations/src/images/default/search-empty-dark.png
  packages/easyops-illustrations/src/images/exception/http-403-dark.png
  packages/easyops-illustrations/src/images/exception/http-404-dark.png
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency i18next to ^21.6.10
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(cascader): cascader的options有空数组children时显示空白下级选项
  packages/custom-antd-styles/src/cascader.less
Due: none

chore(deps): Update dependency lint-staged to ^12.3.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): fix the bug that the svg files cannot be displayed completely when in the same page
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.tsx
  packages/brick-kit/src/EasyopsEmpty/EmptySvg.tsx
  packages/brick-kit/src/images/big-empty-image.svg
  packages/brick-kit/src/images/empty-image.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): set color-scheme for specific theme
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.167.0
  package.json
  yarn.lock
Due: prettier --write

fix(cascader): cascader的options有空数组children时异常显示分割线
  packages/custom-antd-styles/src/cascader.less
Due: none

fix(dark): gray色板区分color和rgba color
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

fix(): modal style
  packages/brick-container/src/styles/antd-compatible.less
  packages/brick-container/src/styles/antd.less
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/mixin.less
  packages/custom-antd-styles/src/select.less
  packages/custom-antd-styles/src/var.less
  packages/less-plugin-css-variables/src/LessReplacer.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency markdown-loader to v7
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency markdown-loader to v8
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): empty image
  .size-limit.js
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.spec.tsx
  packages/brick-kit/src/EasyopsEmpty/EmptySvg.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(style): cascader隐藏border-right带来的细小空白问题
  packages/custom-antd-styles/src/cascader.less
Due: none

fix(): fix yarn start error
  packages/brick-container/dev-server/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.167.1
  package.json
  yarn.lock
Due: prettier --write

fix(): timeline调整后cmdb实例变更历史构件样式异常
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

fix(): timeline调整后cmdb实例变更历史构件样式异常
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/timeline.less
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
