Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency rollup to ^2.38.5
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(brick-icons): change-icon
  packages/brick-icons/src/icons/product/easy-auto-ops.svg
  packages/brick-icons/src/icons/product/easy-cmdb.svg
  packages/brick-icons/src/icons/product/easy-data-viz.svg
  packages/brick-icons/src/icons/product/easy-dev-ops.svg
  packages/brick-icons/src/icons/product/easy-itsc.svg
  packages/brick-icons/src/icons/product/easy-ma-builder.svg
  packages/brick-icons/src/icons/product/easy-observe.svg
  packages/brick-icons/src/icons/product/easy-tracing.svg
  packages/brick-icons/src/icons/product/easy-work-space.svg
Due: none

chore(deps): Update dependency @testing-library/react to ^11.2.5
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.13.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.5.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/prettier to ^2.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency node-stream-zip to ^1.13.0
  packages/create-next-repo/package.json
  yarn.lock
Due: prettier --write

fix(): refine standalone login api
  packages/brick-container/serve/serveLocal.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): remove feature flag for api analyzer
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-container/src/index.tsx
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): remove feature flag for api analyzer
  packages/brick-container/deploy/package.conf.yaml
Due: none

fix(): catch all methods for missed APIs
  packages/brick-container/serve/serveLocal.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): ignore updating license if root is unlicensed
  packages/dev-dependencies/patches/updateLicense.js
  packages/dev-dependencies/patches/updateLicense.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): patch license for internal repositories
  packages/create-next-repo/src/patches/patchInternalTemplate.spec.ts
  packages/create-next-repo/src/patches/patchInternalTemplate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): disable analyzer in dev mode
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

docs(): refine readme
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore(tools): script add env supported
  packages/brick-container/tools/report_installed_micro_app.py
Due: none

chore(workflows): rename lerna version
  .github/workflows/lerna-version.yml
Due: none

docs(): refine readme
  README.md
Due: prettier --write

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore(deps): Update dependency @ant-design/icons to ^4.4.0
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency neo-async to ^2.6.2
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.3.6
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.15.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency husky to v5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.8.6
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.8.7
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.1.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.1.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.12.16
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.39.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.14.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.20.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency node-stream-zip to ^1.13.1
  packages/create-next-repo/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-loader to v2
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.3.7
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write
