Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

WIP: preview
  .eslintrc
  packages/brick-playground/bin/brick-playground-serve.js
  packages/brick-playground/build.config.js
  packages/brick-playground/package.json
  packages/brick-playground/serve/serve.js
  packages/brick-playground/serve/serveBricks.js
  packages/brick-playground/serve/start.js
  packages/brick-playground/src/index.css
  packages/brick-playground/src/index.ejs
  packages/brick-playground/src/index.ts
  packages/brick-playground/src/preview.css
  packages/brick-playground/src/preview.ejs
  packages/brick-playground/src/preview.ts
  packages/brick-playground/tsconfig.json
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/build.js
  packages/loader/src/index.ts
  packages/loader/src/stableLoadBricks.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): brick-docs add enums field
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): add new icons close DEVOPS_MANAGEMENT-748
  .size-limit.js
  packages/brick-icons/src/icons/blueprint/change-history.svg
  packages/brick-icons/src/icons/blueprint/resouce-instance.svg
  packages/brick-icons/src/icons/blueprint/resource-pool.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): 修复预览状态下，除表单校验外，其他表单事件无法生效问题
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): 给blueprint增加icons close DEVOPS_MANAGEMENT-748
  packages/brick-icons/src/icons/blueprint/resource-pools.svg
Due: none

fix(): 删除多余的icon close DEVOPS_MANAGEMENT-748
  packages/brick-icons/src/icons/blueprint/resource-pool.svg
  packages/brick-icons/src/icons/blueprint/resource-pools.svg
Due: none

fix(): 更换资源池icon close DEVOPS_MANAGEMENT-748
  packages/brick-icons/src/icons/blueprint/resource-pool.svg
Due: none

fix(): typo
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): typo
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

feat(): preview
  .eslintrc
  packages/brick-playground/bin/brick-playground-serve.js
  packages/brick-playground/build.config.js
  packages/brick-playground/package.json
  packages/brick-playground/serve/index.js
  packages/brick-playground/serve/serveBricks.js
  packages/brick-playground/serve/start.js
  packages/brick-playground/src/index.css
  packages/brick-playground/src/index.ejs
  packages/brick-playground/src/index.ts
  packages/brick-playground/src/preview.css
  packages/brick-playground/src/preview.ejs
  packages/brick-playground/src/preview.ts
  packages/brick-playground/tsconfig.json
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/build.js
  packages/loader/src/index.ts
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/src/internal/Kernel.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): refine http
  bricks/basic/package.json
  bricks/basic/src/x-button/index.tsx
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.bak.tsx
  packages/brick-container/src/index.ts
  packages/brick-http/package.json
  packages/brick-http/src/InterceptorManager.spec.ts
  packages/brick-http/src/InterceptorManager.ts
  packages/brick-http/src/__mocks__/fetch.ts
  packages/brick-http/src/errors.ts
  packages/brick-http/src/fetch.spec.ts
  packages/brick-http/src/fetch.ts
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
  packages/brick-http/src/index.ts
  packages/brick-http/tsconfig.build.json
  packages/brick-http/tsconfig.json
  packages/brick-playground/src/index.css
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/build.js
  packages/easyops-analytics/src/ApiAnalysis.ts
  packages/runtime/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): catch when shared package is not found
  packages/build-next-bricks/src/build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): 添加模型icon refs SERVICE_OBSERVE-2040
  .size-limit.js
  packages/brick-icons/src/icons/model/amqp.svg
  packages/brick-icons/src/icons/model/clickhouse.svg
  packages/brick-icons/src/icons/model/etcd.svg
  packages/brick-icons/src/icons/model/http.svg
  packages/brick-icons/src/icons/model/mssql.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix standalone bootstrap failed to inject menus
  packages/brick-kit/src/core/standaloneBootstrap.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

wip
  bricks/basic/package.json
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/button-group/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/src/bootstrap.ts
  packages/brick-playground/src/preview.ts
  packages/brick-types/src/brick.ts
  packages/brick-types/src/index.ts
  packages/brick-types/src/manifest.ts
  packages/build-next-bricks/src/build.js
  packages/loader/src/index.ts
  packages/loader/src/stableLoadBricks.ts
  packages/react-use-brick/package.json
  packages/react-use-brick/src/ReactUseBrick.tsx
  packages/react-use-brick/src/index.ts
  packages/react-use-brick/tsconfig.build.json
  packages/react-use-brick/tsconfig.json
  packages/runtime/src/internal/Kernel.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Transpiler.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update pageNotFound page style Refs: LAUNCHPAD-127
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): refactor stableLoadBricks
  packages/brick-container/src/bootstrap.ts
  packages/brick-playground/src/preview.ts
  packages/brick-types/src/brick.ts
  packages/brick-types/src/index.ts
  packages/brick-types/src/manifest.ts
  packages/loader/src/index.ts
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/src/internal/Kernel.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Transpiler.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update i18n and e2e test Refs: LAUNCHPAD-127
  cypress/e2e/404.spec.js
  package.json
  packages/brick-container/serve/serve.js
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/i18n/constants.ts
  packages/brick-kit/src/i18n/locales/en.ts
  packages/brick-kit/src/i18n/locales/zh.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update pageNotFound page style (#2570)
  cypress/e2e/404.spec.js
  package.json
  packages/brick-container/serve/serve.js
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/i18n/constants.ts
  packages/brick-kit/src/i18n/locales/en.ts
  packages/brick-kit/src/i18n/locales/zh.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): 添加icon
  packages/brick-icons/src/icons/monitor/metricbeat.svg
Due: none

fix(): 增加AuthInfo接口字段 refs USER-4
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

docs(): 修改brick-type.api.md文件 refs USER-4
  etc/brick-types.api.md
Due: prettier --write

fix(): 增加AuthInfo接口userShowValue字段 refs USER-4
  etc/brick-types.api.md
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(): 修复formRender中properties的表达式无法解析
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(table-less): 复原filter图标位置样式 ref: MONITOR-4549
  packages/custom-antd-styles/src/table.less
Due: none
