Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

fix(): get local bricks from both @bricks/* and @next-bricks/*
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat():新增form-render渲染器，Refs:ITSERVICE_NEXT-4069
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.spec.ts
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
  packages/brick-kit/src/core/CustomForms/constants.ts
  packages/brick-kit/src/core/CustomForms/getTagNameOfCustomForm.ts
  packages/brick-kit/src/core/CustomForms/registerCustomForm.ts
  packages/brick-kit/src/core/CustomForms/registerFormRender.spec.ts
  packages/brick-kit/src/core/CustomForms/registerFormRender.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor():代码调整
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor():代码调整
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test():补充单测
  packages/brick-kit/src/core/LocationContext.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): increase size limit for polyfill
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor():代码调整
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.spec.ts
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
  packages/brick-kit/src/core/CustomForms/constants.ts
  packages/brick-kit/src/core/CustomForms/registerFormRender.spec.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat():数据结构变更，将formSchema解析成storyboard
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.spec.ts
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
  packages/brick-kit/src/core/CustomForms/constants.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore():更新api
  etc/brick-kit.api.md
Due: prettier --write

test:补充单元测试
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

build:修正错误导致build失败
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor():代码调整
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.spec.ts
  packages/brick-kit/src/core/CustomForms/constants.ts
  packages/brick-kit/src/core/CustomForms/registerFormRender.spec.ts
  packages/brick-kit/src/core/CustomForms/registerFormRender.ts
  packages/brick-kit/src/core/CustomForms/registerFormRenderer.spec.ts
  packages/brick-kit/src/core/CustomForms/registerFormRenderer.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add rocket icon
  packages/brick-icons/src/icons/leaning-rocket.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(generateBrickDocs): add support for index signature
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(generateBrickDocs): type will not be traversed in another module once traversed
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(story): StoryDocInterface add extendedTypes and indexSignature properties
  etc/brick-types.api.md
  packages/brick-types/src/story.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(generateBrickDocs): add support for extendedTypes
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

feat(generateBrickDocs): support infer required and default of property and detail of event from declaration
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(generateBrickDocs): support description of enum and interface
  etc/brick-types.api.md
  packages/brick-types/src/story.ts
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(generateBrickDocs): support get property type from setter
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(generateBrickDocs): support get detail of reflection type from declaration
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(generateBrickDocs): remove unnecessary parameter of extractRealInterfaceType
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(generateBrickDocs): support get parameters type of method from declaration
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Revert "chore(deps): Update dependency react-i18next to ^11.18.0"
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

Revert "Revert "chore(deps): Update dependency react-i18next to ^11.18.0""
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(): update dll manifest
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

feat():新增初始化属性iid，testid支持hover，点击，拖拽效果，Refs:FORM_BUILDER-19
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.spec.ts
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
  packages/brick-kit/src/core/CustomForms/constants.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(generateBrickDocs): support function type
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(generateBrickDocs): support typle types
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(generateBrickDocs): filter inherited properties
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(type): breadcrumbConf add useCurrentMenuTitle
  etc/brick-types.api.md
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): support THEME method getCssPropertyValue
  packages/brick-kit/src/internal/getGeneralGlobals.spec.ts
  packages/brick-kit/src/internal/getGeneralGlobals.ts
  packages/brick-kit/src/themAndMode.spec.tsx
  packages/brick-kit/src/themeAndMode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
