Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency @types/react to ^16.9.27
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.0.3
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.0.10
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.3.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^25.2.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(custom-template): support transform proxy properties
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/__snapshots__/CustomTemplates.spec.ts.snap
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(brick-scripts): put `proxy` before `bricks` in custom template sample code
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/template/custom-template/$kebab-brick-last-name$.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(brick-scripts): move `deploy` to `deploy-default` for bricks package
  packages/brick-scripts/template/bricks-pkg/deploy-default/package.conf.yaml
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(custom-template): support set style in proxy properties
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/__snapshots__/CustomTemplates.spec.ts.snap
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): allow missing namespace for custom templates defined in an app
  packages/brick-kit/src/core/BrickNode.ts
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/exports.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency lint-staged to ^10.1.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 2.26.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.3.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): new menu type, `resolve`, refs BRICK_STORE-1338
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(utils): scanBricksInStoryboard and scanTemplatesInStoryboard support isUniq param
  packages/brick-utils/src/getTemplateDepsOfStoryboard.ts
  packages/brick-utils/src/scanBricksInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency @testing-library/react to ^10.0.2
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.4.4
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.29
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(scanDll): deduplicate scanned dll
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): now we can disable transform auto map array
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/makeProviderRefreshable.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency lint-staged to ^10.1.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.30
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.31
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react-dom to ^16.9.6
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.3.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(brick-container): `yarn serve` support to listen on specified host
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.0.4
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(cook): fix ObjectPattern meet nil
  packages/brick-utils/src/cook/CookVisitor.ts
  packages/brick-utils/src/cook/PrecookVisitor.ts
  packages/brick-utils/src/cook/__snapshots__/cook.spec.ts.snap
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(cook): sanitize
  packages/brick-utils/src/cook/CookVisitor.ts
  packages/brick-utils/src/cook/__snapshots__/cook.spec.ts.snap
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/supply.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(brick-container): fix `yarn serve` support to listen on specified host
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @size-limit/file to ^4.4.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency size-limit to ^4.4.4
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): tree style
  packages/brick-container/src/styles/antd.less
  packages/custom-antd-styles/src/tree.less
Due: none

chore(): injectable resolve menu
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency chalk to v4
  packages/brick-container/package.json
  packages/brick-scripts/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @size-limit/file to ^4.4.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/jest to ^25.1.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^25.2.6
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write
