Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency style-loader to ^1.2.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): generate sdk and provider brick refs BRICK_STORE-1434
  packages/brick-scripts/src/ask.spec.ts
  packages/brick-scripts/src/getEasyopsConfig.ts
  packages/brick-scripts/src/loaders/loadTemplate.spec.ts
  packages/brick-scripts/src/loaders/loadTemplate.ts
  packages/brick-scripts/src/main.ts
  packages/brick-scripts/src/questions/askPackageName.spec.ts
  packages/brick-scripts/src/questions/askPackageName.ts
  packages/build-config-factory/src/generateProviderDocs.js
  packages/build-config-factory/src/getEasyopsConfig.js
  packages/build-config-factory/src/pre-build.js
  packages/sdk-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.2.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^25.5.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): portal-mount-point支持挂载slots中的brick组件
  packages/brick-container/src/styles/default.css
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): generate sdk and provider brick refs BRICK_STORE-1434
  packages/brick-scripts/src/ask.spec.ts
  packages/brick-scripts/src/getEasyopsConfig.spec.ts
  packages/brick-scripts/src/getEasyopsConfig.ts
  packages/brick-scripts/src/loaders/loadTemplate.spec.ts
  packages/brick-scripts/src/loaders/loadTemplate.ts
  packages/brick-scripts/src/main.ts
  packages/brick-scripts/src/questions/askPackageName.spec.ts
  packages/brick-scripts/src/questions/askPackageName.ts
  packages/brick-scripts/template/providers-internal-pkg.json
  packages/build-config-factory/src/generateProviderDocs.js
  packages/build-config-factory/src/getEasyopsConfig.js
  packages/build-config-factory/src/pre-build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

feat(): transformElementProperties
  packages/brick-kit/src/makeProviderRefreshable.ts
  packages/brick-kit/src/setProperties.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update babel monorepo to ^7.9.6
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.7.5
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(use-brick): evaluate in lazy mode for `useBrick.events`
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/evaluate.spec.ts
  packages/brick-kit/src/evaluate.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): warn if using a native property as brick's property
  .size-limit.js
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/decorators/property.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(less-loader): update config after upgrade less-loader from v5 to v6
  packages/brick-container/webpack.dev.js
  packages/brick-container/webpack.prod.js
  packages/webpack-config-factory/src/bricks/webpack.common.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

fix(): refine warning if using a native property as brick's property
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/decorators/property.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @testing-library/react to ^10.0.4
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.3.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.7.6
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.2.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react-hooks to v4
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency jest to ^25.5.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency meow to ^6.1.1
  packages/brick-container/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency moment to ^2.25.3
  packages/brick-dll/package.json
  packages/brick-utils/package.json
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @size-limit/file to ^4.5.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency size-limit to ^4.5.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to v26
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-transition-group to ^4.4.0
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

chore(): use resolutions of moment@25
  package.json
  yarn.lock
Due: prettier --write

fix(): warn unexpected condition result
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): log errors for invalid properties of custom elements in dev mode
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/utils.js
  packages/brick-kit/src/decorators/property.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update typescript-eslint monorepo to >= 2.31.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

docs(): refine contributing guide
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore(deps): Update dependency rollup to ^2.8.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-transition-group to ^4.4.1
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

fix(): remove jest-environment-jsdom-sixteen since jest v26 includes it
  jest.config.js
  package.json
  packages/create-next-repo/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/create-next-repo/template/jest.config.js
  packages/dev-dependencies/package.json
  packages/dev-dependencies/patch.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.8.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(brick-http): getBodyAndHeaders 将为 null 或 undefined 的值转为空字符串
  packages/brick-http/src/__snapshots__/http.spec.ts.snap
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
