Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(brick-kit): add forwardRefBrickAsComponent
  packages/brick-kit/src/BrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(brick-container): reset container deps
  packages/brick-container/deploy/package.conf.yaml
Due: none

feat(brick-kit): update version
  packages/brick-kit/src/BrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency enzyme-to-json to ^3.6.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(brick-container): restore container conf deps version
  packages/brick-container/deploy/package.conf.yaml
Due: none

fix(): update MR templates after update fileFilters
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.3.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^5.3.0
  package.json
  yarn.lock
Due: prettier --write

refactor(checkbox): convert to mixin
  packages/custom-antd-styles/src/checkbox.less
  packages/custom-antd-styles/src/checkbox/index.less
  packages/custom-antd-styles/src/checkbox/mixin.less
Due: none

refactor(tree): convert to mixin
  packages/custom-antd-styles/src/tree.less
  packages/custom-antd-styles/src/tree/index.less
  packages/custom-antd-styles/src/tree/mixin.less
Due: none

feat(tree-select): custom styles
  packages/brick-container/src/styles/antd.less
  packages/custom-antd-styles/src/tree-select.less
Due: none

fix(update_deploy_script): 回滚更新脚本，去掉错误处理 Refs NEXT_BUILDER-401
  packages/build-config-factory/template/deploy/update_postscript.sh
Due: none

chore(deps): Update dependency markdown-loader to v6
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @easyops-cn/brick-next-pipes to ^0.3.5
  packages/brick-utils/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency path-to-regexp to ^6.2.0
  packages/brick-utils/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/d3 to ^5.9.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(deps): Update dependency @types/d3 to ^5.9.2
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(runtime): support getMiscSettings, also freeze app.config and settings
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-container/serve/utils.js
  packages/brick-kit/src/core/Runtime.spec.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/core/processors.spec.ts
  packages/brick-kit/src/core/processors.ts
  packages/brick-kit/src/deepFreeze.spec.ts
  packages/brick-kit/src/deepFreeze.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.10.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.10.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/d3 to ^5.9.5
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/d3 to ^5.16.2
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.50
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency copy-webpack-plugin to ^6.2.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react to v7.21.3
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.8.1
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^0.11.3
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency style-loader to ^1.3.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): refine docs
  .gitignore
  api-extractor.json
  etc/brick-kit.api.md
  etc/brick-types.api.md
  package.json
  packages/brick-kit/package.json
  packages/brick-types/package.json
  packages/next-docs/.gitignore
  packages/next-docs/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @easyops-cn/api-documenter to ^7.9.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency echarts to ^4.9.0
  dll/echarts/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^26.5.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.10.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update Font Awesome
  packages/fontawesome-library/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
