Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): avoid re-cooking
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/injected.spec.ts
  packages/brick-kit/src/injected.ts
  packages/brick-kit/src/makeProviderRefreshable.ts
  packages/brick-kit/src/setProperties.ts
  packages/brick-kit/src/transformProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency semver to ^7.3.2
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

fix(route-alias): warn instead error for duplicated route alias
  packages/brick-utils/src/scanAliasInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(custom-template): support using `targetRef` inside a custom template
  packages/brick-kit/src/UpdatingElement.ts
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine slot positions inside custom templates
  packages/brick-kit/src/core/CustomTemplates.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency i18next to ^19.4.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency raw-loader to ^4.0.1
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency null-loader to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup-plugin-postcss to ^2.6.4
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): 增加portal-mount-point
  packages/brick-container/src/index.ejs
  packages/brick-container/src/index.ts
  packages/brick-container/src/styles/default.css
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support `if` in events
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency style-loader to ^1.1.4
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.4.6
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next-browser-languagedetector to ^4.1.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(segue): compute real route path for segues
  packages/brick-kit/src/segue.spec.ts
  packages/brick-kit/src/segue.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add icon
  packages/brick-icons/src/icons/calendar.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency i18next-browser-languagedetector to ^4.1.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.150
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(devtools): notify evaluations and transformations
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/devtools.ts
  packages/brick-kit/src/evaluate.ts
  packages/brick-kit/src/transformProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(devtools): refine remembered event listeners
  packages/brick-kit/src/bindListeners.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(inject): ignore to mark properties of non-pure-objects as injected
  packages/brick-kit/src/injected.spec.ts
  packages/brick-kit/src/injected.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): unit format pipe refs MONITOR-471
  packages/brick-utils/src/placeholder/pipes/PipeRegistry.ts
  packages/brick-utils/src/placeholder/pipes/index.ts
  packages/brick-utils/src/placeholder/pipes/processPipes.spec.ts
  packages/brick-utils/src/placeholder/pipes/unit/constants/byteRates.ts
  packages/brick-utils/src/placeholder/pipes/unit/constants/bytes.ts
  packages/brick-utils/src/placeholder/pipes/unit/constants/index.ts
  packages/brick-utils/src/placeholder/pipes/unit/constants/interface.ts
  packages/brick-utils/src/placeholder/pipes/unit/constants/numbers.ts
  packages/brick-utils/src/placeholder/pipes/unit/constants/percent.ts
  packages/brick-utils/src/placeholder/pipes/unit/constants/times.ts
  packages/brick-utils/src/placeholder/pipes/unit/constants/unitMap.ts
  packages/brick-utils/src/placeholder/pipes/unit/func/data.ts
  packages/brick-utils/src/placeholder/pipes/unit/func/dataRate.ts
  packages/brick-utils/src/placeholder/pipes/unit/func/number.ts
  packages/brick-utils/src/placeholder/pipes/unit/func/percent.ts
  packages/brick-utils/src/placeholder/pipes/unit/func/time.ts
  packages/brick-utils/src/placeholder/pipes/unit/func/valueFormatter.spec.ts
  packages/brick-utils/src/placeholder/pipes/unit/func/valueFormatter.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency lint-staged to ^10.1.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup-plugin-postcss to ^2.8.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup-plugin-postcss to ^2.8.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): unit format pipe refs MONITOR-471
  packages/brick-utils/src/placeholder/index.ts
  packages/brick-utils/src/placeholder/pipes/PipeRegistry.ts
  packages/brick-utils/src/placeholder/pipes/index.ts
  packages/brick-utils/src/placeholder/pipes/unit/func/valueFormatter.spec.ts
  packages/brick-utils/src/placeholder/unit/constants/byteRates.ts
  packages/brick-utils/src/placeholder/unit/constants/bytes.ts
  packages/brick-utils/src/placeholder/unit/constants/index.ts
  packages/brick-utils/src/placeholder/unit/constants/interface.ts
  packages/brick-utils/src/placeholder/unit/constants/numbers.ts
  packages/brick-utils/src/placeholder/unit/constants/percent.ts
  packages/brick-utils/src/placeholder/unit/constants/times.ts
  packages/brick-utils/src/placeholder/unit/constants/unitMap.ts
  packages/brick-utils/src/placeholder/unit/func/data.ts
  packages/brick-utils/src/placeholder/unit/func/dataRate.ts
  packages/brick-utils/src/placeholder/unit/func/number.ts
  packages/brick-utils/src/placeholder/unit/func/percent.ts
  packages/brick-utils/src/placeholder/unit/func/time.ts
  packages/brick-utils/src/placeholder/unit/func/valueFormatter.spec.ts
  packages/brick-utils/src/placeholder/unit/func/valueFormatter.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): unit format pipe refs MONITOR-471
  packages/brick-utils/src/placeholder/unit/func/valueFormatter.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency lint-staged to ^10.1.6
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^25.4.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(debug-mode): no longer log brick tree and transformations to console
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/reconciler.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency i18next to ^19.4.3
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 2.29.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/react to ^10.0.3
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.3.5
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup-plugin-postcss to ^2.9.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prettier to ^2.0.5
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
