Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix i18next types, update tsconfig module resolution
  bricks/e2e/tsconfig.json
  packages/brick-container/tsconfig.json
  packages/i18n/src/index.ts
  packages/i18n/src/init.ts
  packages/runtime/src/internal/bindListeners.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): adopt lerna v7+
  .github/workflows/ci.yml
  .github/workflows/cleanup-caches.yml
  .github/workflows/lerna-version.yml
  .github/workflows/update-docs-etc.yml
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
  lerna.json
  package.json
  packages/cook/src/__snapshots__/cook.spec.ts.snap
  packages/inject/src/__snapshots__/syntax.spec.ts.snap
Due: prettier --write

fix(): dispatch route.render in v2 as well
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): 替换前端埋点接口
  packages/brick-container/src/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): v3框架替换前端埋点接口
  packages/brick-container/src/bootstrap.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): ignore .nx
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
Due: prettier --write

chore(): ignore .nx [skip ci]
  .gitignore
Due: none

fix(): use prop instead of flags to enable incremental sub-routes
  mock-micro-apps/e2e/storyboard.yaml
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): 新增图标
  packages/brick-icons/src/icons/second-menu/active-monitor-second-menu.svg
  packages/brick-icons/src/icons/second-menu/apm-second-menu.svg
  packages/brick-icons/src/icons/second-menu/app-deploy-statistics-second-menu.svg
  packages/brick-icons/src/icons/second-menu/architecture-observe-second-menu.svg
  packages/brick-icons/src/icons/second-menu/auto-discovery-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ci-statistic-second-menu.svg
  packages/brick-icons/src/icons/second-menu/cmdb-data-operations-second-menu.svg
  packages/brick-icons/src/icons/second-menu/cmdb-data-quality-second-menu.svg
  packages/brick-icons/src/icons/second-menu/cmdb-relation-query-second-menu.svg
  packages/brick-icons/src/icons/second-menu/continuous-integration-second-menu.svg
  packages/brick-icons/src/icons/second-menu/customization-second-menu.svg
  packages/brick-icons/src/icons/second-menu/data-builder-second-menu.svg
  packages/brick-icons/src/icons/second-menu/easy-agile-ideas-second-menu.svg
  packages/brick-icons/src/icons/second-menu/flow-builder-second-menu.svg
  packages/brick-icons/src/icons/second-menu/hyper-deploy-second-menu.svg
  packages/brick-icons/src/icons/second-menu/it-resource-management-second-menu.svg
  packages/brick-icons/src/icons/second-menu/knowledge-base-second-menu.svg
  packages/brick-icons/src/icons/second-menu/monitoring-platform-second-menu.svg
  packages/brick-icons/src/icons/second-menu/next-artifact-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ops-statistic.svg
  packages/brick-icons/src/icons/second-menu/ops-tool-second-menu.svg
  packages/brick-icons/src/icons/second-menu/product-agile-management-second-menu.svg
  packages/brick-icons/src/icons/second-menu/product-managemen-second-menu.svg
  packages/brick-icons/src/icons/second-menu/project-management-second-menu.svg
  packages/brick-icons/src/icons/second-menu/scenario-ops-second-menu.svg
  packages/brick-icons/src/icons/second-menu/service-catalog-second-menu.svg
  packages/brick-icons/src/icons/second-menu/service-drm-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ticket-center-second-menu.svg
  packages/brick-icons/src/icons/second-menu/tuna-second-menu.svg
Due: none

chore(): 新增图标
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): 新增图标
  packages/brick-icons/src/icons/active-monitor.svg
Due: none

chore(): 新增图标
  packages/brick-icons/src/icons/second-menu/active-monitor-second-menu.svg
  packages/brick-icons/src/icons/second-menu/visual-builder-second-menu.svg
Due: none

WIP: webpack cache
  .gitignore
  package.json
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/src/build.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support real time data inspect
  etc/runtime.api.md
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/FormRenderer/expandFormRenderer.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/data/realTimeDataInspect.spec.ts
  packages/runtime/src/internal/data/realTimeDataInspect.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support real time data inspect
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/StoryboardContext.ts
  packages/brick-kit/src/core/realTimeDataInspect.spec.ts
  packages/brick-kit/src/core/realTimeDataInspect.ts
  packages/brick-kit/src/developHelper.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(workflow): fix update-docs-etc
  .github/workflows/update-docs-etc.yml
Due: none

chore(): NX_REJECT_UNKNOWN_LOCAL_CACHE
  .github/workflows/ci.yml
Due: none

chore(): update docs etc
  etc/brick-kit.api.md
Due: none

test(): refine tests
  packages/runtime/src/internal/data/DataStore.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore(): add icons
  packages/brick-icons/src/icons/alert-ledger.svg
  packages/brick-icons/src/icons/second-menu/alert-ledger-second-menu.svg
  packages/brick-icons/src/icons/second-menu/application-deployment-second-menu.svg
  packages/brick-icons/src/icons/second-menu/compute-drm-second-menu.svg
  packages/brick-icons/src/icons/third-menu/alert-ledger-third-menu.svg
  packages/brick-icons/src/icons/third-menu/application-deployment-third-menu.svg
  packages/brick-icons/src/icons/third-menu/compute-drm-third-menu.svg
Due: none

chore(): update css variables
  packages/theme/src/version/ui-v8-2.css
Due: prettier --write

feat(): build bricks with insider tag
  packages/brick-manifest/index.d.ts
  packages/build-next-bricks/src/makeBrickManifest.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-manifest/CHANGELOG.md
  packages/brick-manifest/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore(): add icons
  packages/brick-icons/src/icons/app/topology-center.svg
  packages/brick-icons/src/icons/second-menu/layout-second-menu.svg
  packages/brick-icons/src/icons/second-menu/release-second-menu.svg
  packages/brick-icons/src/icons/second-menu/topology-center-second-menu.svg
  packages/brick-icons/src/icons/second-menu/view-arrangement-second-menu.svg
  packages/brick-icons/src/icons/second-menu/view-settings-second-menu.svg
  packages/brick-icons/src/icons/third-menu/cmdb-relation-query-third-menu.svg
  packages/brick-icons/src/icons/third-menu/layout-third-menu.svg
  packages/brick-icons/src/icons/third-menu/release-third-menu.svg
  packages/brick-icons/src/icons/third-menu/topology-center-third-menu.svg
  packages/brick-icons/src/icons/third-menu/view-arrangement-third-menu.svg
Due: none

fix(): add @babel/parser as shared singleton package
  packages/webpack/src/RuntimePlugin.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): mock some builtin API calls in no-remote mode
  packages/brick-container/serve/middlewares/getMiddlewares.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/webpack/CHANGELOG.md
  packages/webpack/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore(): add icons
  packages/brick-icons/src/icons/app/incident-management.svg
  packages/brick-icons/src/icons/common/analysis.svg
  packages/brick-icons/src/icons/common/association.svg
  packages/brick-icons/src/icons/common/edit-square.svg
  packages/brick-icons/src/icons/common/emergency-plan.svg
  packages/brick-icons/src/icons/common/end.svg
  packages/brick-icons/src/icons/common/play-circle.svg
  packages/brick-icons/src/icons/common/snippets.svg
  packages/brick-icons/src/icons/common/upgradation.svg
  packages/brick-icons/src/icons/second-menu/fault-pool-second-menu.svg
  packages/brick-icons/src/icons/second-menu/incident-management-second-menu.svg
  packages/brick-icons/src/icons/third-menu/fault-pool-third-menu.svg
  packages/brick-icons/src/icons/third-menu/incident-management-third-menu.svg
Due: none

chore(): update top nav shadow
  packages/theme/src/default.css
  packages/theme/src/version/ui-v8-2.css
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: (((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
