Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.18.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): support web workers in brick packages
  packages/create-next-repo/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/create-next-repo/template/declarations/global.d.ts
  packages/webpack-config-factory/package.json
  packages/webpack-config-factory/src/bricks/webpack.common.factory.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/CHANGELOG.md
  packages/babel-runtime-helpers/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/fontawesome-library/CHANGELOG.md
  packages/fontawesome-library/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency i18next to ^19.5.3
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @size-limit/file to ^4.5.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency size-limit to ^4.5.3
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.5.4
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less-loader to ^6.2.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.4.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency postcss-nested to ^4.2.2
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.19.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency ws to ^7.3.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/react to ^10.4.4
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(brick-icons): add icons for the blueprint
  packages/brick-icons/src/icons/blueprint/ali-cloud.svg
  packages/brick-icons/src/icons/blueprint/datasource.svg
  packages/brick-icons/src/icons/blueprint/dns.svg
  packages/brick-icons/src/icons/blueprint/easyops.svg
  packages/brick-icons/src/icons/blueprint/host.svg
  packages/brick-icons/src/icons/blueprint/lb.svg
  packages/brick-icons/src/icons/blueprint/parameter.svg
  packages/brick-icons/src/icons/blueprint/service.svg
Due: none

feat(brick-icons): add icons for the blueprint
  .size-limit.js
  packages/brick-icons/src/icons/blueprint/ali-cloud.svg
  packages/brick-icons/src/icons/blueprint/datasource.svg
  packages/brick-icons/src/icons/blueprint/dns.svg
  packages/brick-icons/src/icons/blueprint/easyops.svg
  packages/brick-icons/src/icons/blueprint/host.svg
  packages/brick-icons/src/icons/blueprint/lb.svg
  packages/brick-icons/src/icons/blueprint/parameter.svg
  packages/brick-icons/src/icons/blueprint/service.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/CHANGELOG.md
  packages/babel-runtime-helpers/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/fontawesome-library/CHANGELOG.md
  packages/fontawesome-library/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(): log errors if bootstrap failed
  packages/brick-container/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update typescript-eslint monorepo to >= 3.6.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-merge to v5
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/jest to ^26.0.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.20.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/prettier to ^2.0.2
  package.json
  yarn.lock
Due: prettier --write

fix(webpack): fix after upgraded webpack-merge to v5
  packages/brick-container/webpack.dev.js
  packages/brick-container/webpack.prod.js
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/template/bricks-pkg/webpack.config.js
  packages/brick-scripts/template/templates-pkg/webpack.config.js
  packages/dev-dependencies/patch.js
  packages/webpack-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

feat(): route by alias
  packages/brick-kit/src/alias.spec.ts
  packages/brick-kit/src/alias.ts
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/evaluate.spec.ts
  packages/brick-kit/src/evaluate.ts
  packages/brick-kit/src/segue.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency webpack-merge to ^5.0.8
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency execa to ^4.0.3
  packages/brick-scripts/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.21.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(brick-container): 当以 subDir 模式 serve 时，将非 next 目录下的请求代理至 console
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react-hooks to v4.0.6
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(menu): fix menu title not changed if using titleDataSource
  packages/brick-kit/src/core/menu.spec.ts
  packages/brick-kit/src/core/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency whatwg-fetch to ^3.1.1
  packages/brick-http/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lodash to ^4.17.19
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  packages/brick-utils/package.json
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/react to ^10.4.5
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): ignore to warn native-conflicted properties that explicitly specified
  packages/brick-kit/src/UpdatingElement.ts
  packages/brick-kit/src/decorators/property.ts
  packages/brick-kit/src/decorators/utils.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): throw error at test to avoid new conflicted properties
  packages/brick-kit/src/decorators/utils.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
