Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): fix react tests [skip ci]
  packages/react-runtime/package.json
  packages/test-next/package.json
  packages/test-next/src/transforms/file.js
  packages/yo/src/templates/brick/i18n.ts
  packages/yo/src/templates/brick/index.tsx.hbs
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/create-api-sdk/CHANGELOG.md
  packages/create-api-sdk/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/http/CHANGELOG.md
  packages/http/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/pipes/CHANGELOG.md
  packages/pipes/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  packages/test-next/CHANGELOG.md
  packages/test-next/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): fix svg mock
  packages/test-next/src/transforms/file.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): fix react tests
  packages/react-runtime/package.json
  packages/react-runtime/src/useProvider/useProvider.spec.tsx
  packages/react-runtime/src/useProvider/useProviderArgs.spec.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(i18n): make react-i18next as optional peer deps
  package.json
  packages/i18n/package.json
  packages/react-runtime/package.json
  packages/test-next/package.json
  packages/test-next/src/transforms/file.js
  packages/yo/src/templates/brick/i18n.ts
  packages/yo/src/templates/brick/index.tsx.hbs
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use common-bricks as a dep
  bricks/e2e/package.json
  package.json
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/build.js
  shared/common-bricks/common-bricks.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update typescript
  package.json
  packages/build-next-bricks/package.json
  packages/test-next/package.json
Due: prettier --write

chore(): sync deps in babel config
  packages/babel-preset-next/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update i18next-browser-languagedetector
  packages/i18n/package.json
  yarn.lock
Due: prettier --write

feat(): upgrade to react 19
  bricks/e2e/package.json
  lerna.json
  package.json
  packages/react-element/package.json
  packages/react-element/src/ReactNextElement.spec.tsx
  packages/react-element/src/wrapBrick.tsx
  packages/react-runtime/package.json
  packages/react-runtime/src/ReactUseBrick.spec.tsx
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/react-runtime/src/useProvider/useProvider.ts
  packages/yo/package.json
  packages/yo/src/templates/brick/index.spec.tsx.hbs
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): support prerelease [skip ci]
  .github/workflows/ci.yml
  .github/workflows/lerna-version-prerelease.yml
Due: none

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): use all local bricks if localBricks is unset
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/utils/getProcessedPublicDeps.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): automatic set requiredVersion for non-singleton shared packages
  packages/build-next-bricks/src/build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): set noAbortOnRouteChange for installed apps checking
  packages/easyops-runtime/src/checkInstalledApps.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
Due: prettier --write

fix(): use v2 doTransform if in v2 container
  packages/runtime/src/getV2RuntimeFromDll.ts
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

docs(): fix ci status badge [skip ci]
  README.md
Due: none

docs(): fix status link [skip ci]
  README.md
Due: none

docs(): fix ci status link [skip ci]
  README.md
Due: none

fix(): refine loading bar custom event
  packages/brick-container/src/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

Fix code scanning alert no. 34: Incomplete string escaping or encoding
  packages/runtime/src/internal/fulfilStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(segue): fix a regex to match full param name
  packages/runtime/src/internal/fulfilStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support segues
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/fulfilStoryboard.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

WIP
  packages/runtime/src/internal/fulfilStoryboard.ts
  packages/utils/src/storyboard/index.ts
  packages/utils/src/storyboard/parser/index.ts
  packages/utils/src/storyboard/parser/interfaces.ts
  packages/utils/src/storyboard/parser/parser.spec.ts
  packages/utils/src/storyboard/parser/parser.ts
  packages/utils/src/storyboard/parser/traverse.spec.ts
  packages/utils/src/storyboard/parser/traverse.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update size-limit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): prefer default "" slot over "content" when drag bricks
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

fix(): dataSource is a json field
  packages/editor-bricks-helper/src/DropZone/reverseNormalize.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support multipart range requests for bricks
  packages/brick-container/serve/middlewares/getMiddlewares.js
  packages/brick-playground/scripts/start.js
  packages/brick-playground/serve/index.js
  packages/serve-helpers/index.d.ts
  packages/serve-helpers/src/index.js
  packages/serve-helpers/src/serveBricks.js
  packages/serve-helpers/src/tryFiles.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): merge chunks
  packages/brick-container/build.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/serve-helpers/CHANGELOG.md
  packages/serve-helpers/package.json
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: (((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
