Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency typescript to ~4.5.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): refine style of avatar using css variables
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/var.less
Due: prettier --write

feat(): use css variables for new theme colors
  packages/brick-container/scripts/pre-build.js
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/brick-container/src/styles/variables.css
  packages/color-theme/src/index.spec.ts
  packages/color-theme/src/index.ts
  packages/custom-antd-styles/src/var.less
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): fix tests
  packages/brick-kit/src/internal/applyColorTheme.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/color-theme/CHANGELOG.md
  packages/color-theme/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): slider style
  packages/brick-container/src/styles/antd.less
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/slider.less
  packages/custom-antd-styles/src/var.less
Due: prettier --write

feat(): dashboard style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): chart tooltip
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(deps): Update dependency terser-webpack-plugin to v5
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency rollup to ^2.66.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): input style
  packages/custom-antd-styles/src/input.less
  packages/custom-antd-styles/src/select.less
Due: none

feat(): tag style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/tag.less
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.165.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.16.12
  package.json
  packages/build-next-libs/package.json
  packages/cook/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency http-proxy-middleware to ^2.0.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(): support connect remote in standalone app
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serveLocal.js
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(theme_report): 主题模板数据上报 Refs NEXT_BUILDER-1346
  packages/brick-container/tools/report_installed_theme_template.py
Due: none

chore(deps): Update dependency i18next to ^21.6.7
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^12.3.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): typo
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/tag.less
Due: prettier --write

fix(): fix remote asset root
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency globby to v13
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): refine css
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/date-picker.less
  packages/custom-antd-styles/src/radio.less
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.166.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-cli to ^4.9.2
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 5.10.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(): modal style
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

fix(): tag style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

feat(theme_report): 主题模板数据上报, 被调服务修改 Refs NEXT_BUILDER-1346
  packages/brick-container/tools/report_installed_theme_template.py
Due: none

chore(deps): Update dependency i18next-browser-languagedetector to ^6.1.3
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.66.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.166.1
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
