Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency lint-staged to ^12.1.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^21.6.3
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency concurrently to ^6.5.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.158.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 5.8.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency ws to ^8.4.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(): remember clear model i8n
  packages/sdk-scripts/src/loaders/loadService.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

chore(deps): Update dependency cypress to ^9.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-dev-server to ^4.7.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(): adopt webpack-dev-server 4.7.0
  packages/brick-container/dev-server/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Revert "Merge pull request #1014 from easyops-cn/nlicro/NEXT_BUILDER-1002"
  etc/brick-types.api.md
  packages/brick-container/src/index.ejs
  packages/brick-container/src/index.tsx
  packages/brick-container/src/styles/default.css
  packages/brick-container/src/styles/default.less
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency postcss-preset-env to ^7.1.0
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v9.2.0
  docker-compose.yml
Due: none

chore(deps): Update dependency webpack-dev-server to ^4.7.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react to v7.28.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

feat(): display brick alias/id/dataset.testid/brick.name in order
  package.json
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support prepending rules
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency core-js to ^3.20.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency yargs to ^17.3.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): refine storyboard functions and expressions
  packages/brick-kit/src/core/StoryboardFunctionRegistryFactory.spec.ts
  packages/brick-kit/src/core/StoryboardFunctionRegistryFactory.ts
  packages/brick-kit/src/core/WidgetFunctions.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/getGeneralGlobals.ts
  packages/brick-kit/src/internal/proxyFactories.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/resolveContextConcurrently.ts
  packages/brick-utils/src/scanI18NInStoryboard.ts
  packages/brick-utils/src/scanPermissionActionsInStoryboard.spec.ts
  packages/brick-utils/src/scanPermissionActionsInStoryboard.ts
  packages/brick-utils/src/scanProcessorsInStoryboard.ts
  packages/brick-utils/src/visitStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

test(): add tests for visiting invalid storyboard code
  packages/brick-utils/src/visitStoryboard.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.62.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): support request use mock
  etc/brick-types.api.md
  packages/brick-container/src/index.tsx
  packages/brick-kit/src/core/MockRegistry.spec.ts
  packages/brick-kit/src/core/MockRegistry.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/index.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update api.md
  etc/brick-kit.api.md
Due: prettier --write

feat(): update manifest.snapshot.json
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(deps): Update dependency lint-staged to ^12.1.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

Update packages/brick-kit/src/index.ts
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update code
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-kit/src/core/MockRegistry.spec.ts
  packages/brick-kit/src/core/MockRegistry.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update mainfest.snapshot.json
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

feat(): update mainfest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(deps): Update dependency semver to ^7.3.5
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
Due: prettier --write

feat(): update code
  packages/brick-kit/src/core/MockRegistry.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support request use mock (#1293)
  dll/editor-bricks-helper/manifest.snapshot.json
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-container/src/index.tsx
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/core/MockRegistry.spec.ts
  packages/brick-kit/src/core/MockRegistry.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/index.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(): refine globals display in devtools
  packages/brick-kit/src/core/StoryboardFunctionRegistryFactory.ts
  packages/brick-kit/src/core/WidgetFunctions.ts
  packages/brick-kit/src/internal/devtools.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/proxyFactories.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update size-limit packages to ^7.0.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): add style css variables
  packages/brick-container/src/index.tsx
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/brick-container/src/styles/theme/index.css
  packages/brick-container/src/styles/theme/var.css
  packages/brick-container/src/styles/variables.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
