Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency concurrently to ^6.3.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.18.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update type packages
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): add icon
  packages/brick-icons/src/icons/app/database-fill.svg
  packages/brick-icons/src/icons/app/network-fill.svg
  packages/brick-icons/src/icons/app/ram-fill.svg
  packages/brick-icons/src/icons/app/response-time.svg
Due: none

chore(): add icon
  packages/brick-icons/src/icons/database-fill.svg
  packages/brick-icons/src/icons/network-fill.svg
  packages/brick-icons/src/icons/ram-fill.svg
  packages/brick-icons/src/icons/response-time.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update jest monorepo to ^27.2.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): 页面跳转时应重置浏览器标题
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency ws to ^8.2.3
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency inquirer to ^8.2.0
  packages/brick-scripts/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.33.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency rollup to ^2.58.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-cli to ^4.9.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @rollup/plugin-commonjs to v21
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): bootstrap接口返回的navbar字段增加新构件名称
  packages/brick-container/conf/navbar.json
Due: prettier --write

chore(deps): Update dependency i18next to v21
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to v6
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): add global css variable used in ui-v8
  packages/brick-container/src/styles/variables.css
Due: prettier --write

feat(): enabled next-libs renovate
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/enableNextLibsRenovate.js
  packages/dev-dependencies/patches/enableNextLibsRenovate.spec.js
  packages/dev-dependencies/patches/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency eslint to v8
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(renovate): disable automerge for next-libs
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/enableNextLibsRenovate.js
  packages/dev-dependencies/patches/enableNextLibsRenovate.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency buffer to v6
  package.json
  yarn.lock
Due: prettier --write

feat():add itsc-form icons
  packages/brick-icons/src/icons/itsc-form/array.svg
  packages/brick-icons/src/icons/itsc-form/cascading.svg
  packages/brick-icons/src/icons/itsc-form/check_box.svg
  packages/brick-icons/src/icons/itsc-form/cmdb_cascading_menu.svg
  packages/brick-icons/src/icons/itsc-form/cmdb_instance.svg
  packages/brick-icons/src/icons/itsc-form/container_row.svg
  packages/brick-icons/src/icons/itsc-form/container_tab.svg
  packages/brick-icons/src/icons/itsc-form/container_table.svg
  packages/brick-icons/src/icons/itsc-form/counter.svg
  packages/brick-icons/src/icons/itsc-form/date.svg
  packages/brick-icons/src/icons/itsc-form/date_time.svg
  packages/brick-icons/src/icons/itsc-form/drop_down.svg
  packages/brick-icons/src/icons/itsc-form/icon-bg.svg
  packages/brick-icons/src/icons/itsc-form/instance.svg
  packages/brick-icons/src/icons/itsc-form/link.svg
  packages/brick-icons/src/icons/itsc-form/radio.svg
  packages/brick-icons/src/icons/itsc-form/rft.svg
  packages/brick-icons/src/icons/itsc-form/slider.svg
  packages/brick-icons/src/icons/itsc-form/switch.svg
  packages/brick-icons/src/icons/itsc-form/text.svg
  packages/brick-icons/src/icons/itsc-form/text_field.svg
  packages/brick-icons/src/icons/itsc-form/time.svg
  packages/brick-icons/src/icons/itsc-form/upload.svg
Due: none

fix(): change icons name in lower-kebab-case
  packages/brick-icons/src/icons/itsc-form/check-box.svg
  packages/brick-icons/src/icons/itsc-form/cmdb-cascading-menu.svg
  packages/brick-icons/src/icons/itsc-form/cmdb-instance.svg
  packages/brick-icons/src/icons/itsc-form/container-row.svg
  packages/brick-icons/src/icons/itsc-form/container-tab.svg
  packages/brick-icons/src/icons/itsc-form/container-table.svg
  packages/brick-icons/src/icons/itsc-form/date-time.svg
  packages/brick-icons/src/icons/itsc-form/drop-down.svg
  packages/brick-icons/src/icons/itsc-form/text-field.svg
Due: none

feat(menu): app menu support overridden by route menu
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency echarts to v5
  dll/echarts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency history to v5
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency js-yaml to v4
  packages/brick-container/package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  packages/brick-utils/package.json
  packages/build-config-factory/package.json
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore():change size limit for icons
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency less to v4
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): ui8.0框架布局
  etc/brick-types.api.md
  packages/brick-container/src/index.ejs
  packages/brick-container/src/index.tsx
  packages/brick-container/src/styles/default.css
  packages/brick-container/src/styles/default.less
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency postcss-nested to v5
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): resolve conversation
  etc/brick-types.api.md
  packages/brick-container/src/styles/default.less
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(actions): adopt actions/github-script@v5
  .github/workflows/release-after-merged.yml
  .github/workflows/update-dll-manifest.yml
  .github/workflows/update-docs-etc.yml
Due: none
