Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.38.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-sdk/user-service-sdk to ^1.1.0
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(): update renovate and jest
  packages/create-next-repo/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/create-next-repo/template/jest.config.js
  packages/create-next-repo/template/renovate.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(workflow): add manually release action
  .github/workflows/manually-release.yml
Due: none

chore(release): publish
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
Due: prettier --write

chore(deps): Update dependency @next-sdk/cmdb-sdk to ^1.0.2
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-sdk/micro-app-sdk to ^1.0.2
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

feat(): add permissionsPreCheck to route and brick
  etc/brick-types.api.md
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/checkPermissions.spec.ts
  packages/brick-kit/src/core/checkPermissions.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update size-limit packages to ^4.9.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.19.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.38.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency start-server-and-test to ^1.12.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typedoc to ^0.20.20
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): wip
  packages/build-config-factory/package.json
  packages/build-config-factory/src/generateBrickDocs.js
  packages/build-config-factory/src/generateProviderDocs.js
  packages/build-config-factory/src/post-build.js
  packages/build-config-factory/src/tsconfig.providerDocs.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @next-sdk/cmdb-sdk to ^1.0.3
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(ci): allow ci for PRs to renovate/*
  .github/workflows/ci.yml
Due: none

feat(): export public scoped sdk
  .eslintrc
  packages/public-scoped-sdk/index.d.ts
  packages/public-scoped-sdk/index.js
  packages/public-scoped-sdk/package.json
  packages/sdk-scripts/package.json
  packages/sdk-scripts/src/constants.ts
  packages/sdk-scripts/src/main.ts
  packages/sdk-scripts/src/prompt.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/public-scoped-sdk/CHANGELOG.md
  packages/public-scoped-sdk/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

fix(): add public scoped sdk
  packages/public-scoped-sdk/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): set access to public in npmrc
  .npmrc
Due: none

chore(deps): Update dependency rollup to ^2.38.3
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less-loader to v8
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.14.2
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v6.4.0
  docker-compose.yml
Due: none

chore(deps): Update dependency cypress to ^6.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.8.6
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.38.4
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/react to ^11.2.4
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-sdk/cmdb-sdk to ^1.0.4
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency antd to ^4.11.2
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(): refine workflows
  .github/workflows/ci.yml
  .github/workflows/manually-release.yml
Due: none

chore(): update manifest
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

fix(less): parse lighten of table-border-color
  packages/less-plugin-css-variables/src/LessReplacer.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): fix tests
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.spec.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency postcss-loader to v5
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
