Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): make menu compatible with `items/children` and `text/title`
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(ci): check size in e2e test
  cypress/e2e/size-check.spec.js
  mock-micro-apps/e2e/storyboard.yaml
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine i18n locale types
  packages/yo/src/templates/brick/i18n.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): delete .size-limit.js [skip ci]
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use v2 http module for v3 bricks in v2 container
  packages/http/src/exports.ts
  packages/http/src/http.ts
  packages/http/src/index.ts
  packages/http/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/http/CHANGELOG.md
  packages/http/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): handle error when loading brick with no namespace
  packages/loader/src/stableLoadBricks.spec.ts
  packages/loader/src/stableLoadBricks.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): fix transpile html
  packages/doc-helpers/src/getExamples.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
Due: prettier --write

chore(): enable type checks
  packages/doc-helpers/index.d.ts
  packages/doc-helpers/jsconfig.json
  packages/doc-helpers/src/extractExamplesInMarkdown.js
  packages/doc-helpers/src/getExamples.js
  packages/doc-helpers/src/walk.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): fallback runtime to v2 for v3 bricks in v2 container
  etc/runtime.api.md
  packages/easyops-runtime/src/auth-v2.ts
  packages/easyops-runtime/src/index.ts
  packages/react-runtime/src/ReactUseBrick.spec.tsx
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/CustomProcessors.ts
  packages/runtime/src/CustomTemplates.ts
  packages/runtime/src/getV2RuntimeFromDll.ts
  packages/runtime/src/history.spec.ts
  packages/runtime/src/history.ts
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/WidgetFunctions.ts
  packages/runtime/src/internal/compute/WidgetI18n.ts
  packages/runtime/src/internal/compute/checkIf.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): load v3-widget-mate before load v3 widgets in v2 container
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(playground): compress shared example
  packages/brick-playground/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
Due: prettier --write

fix(): support `yarn start` with remote standalone apps
  packages/brick-container/dev-server/index.js
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getIndexHtml.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/liveReload.js
  packages/brick-container/serve/serve.js
  packages/brick-container/webpack/dev.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(ci): refine nx cache key
  .github/workflows/ci.yml
Due: none

fix(): support live reload in start mode
  packages/brick-container/scripts/start.js
  packages/brick-container/serve/index.js
  packages/brick-container/serve/utils/liveReloadServer.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): restrict structure of dynamic menu items
  packages/easyops-runtime/src/menu/computeMenuData.ts
  packages/easyops-runtime/src/menu/fetchMenuById.spec.ts
  packages/easyops-runtime/src/menu/fetchMenuById.ts
  packages/easyops-runtime/src/menu/fetchMenuTitle.ts
  packages/easyops-runtime/src/menu/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): flush sync
  packages/react-element/src/ReactNextElement.spec.tsx
  packages/react-element/src/ReactNextElement.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
Due: prettier --write

chore(): add icons
  packages/brick-icons/src/icons/colored-big-screen/businesses.svg
Due: none

fix(): v3 widget not work well in v2Kit
  packages/runtime/src/getV2RuntimeFromDll.ts
  packages/runtime/src/internal/compute/WidgetFunctions.ts
  packages/runtime/src/internal/compute/WidgetI18n.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): v3 widget not work well in v2Kit
  etc/runtime.api.md
Due: none

fix(): login success return to the original page instead of the homepage after login in timeout
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/handleHttpError.tsx
  packages/brick-kit/src/setLoginStateCookie.spec.ts
  packages/brick-kit/src/setLoginStateCookie.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support siteMap field
  packages/easyops-runtime/src/menu/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): missing getRecentApps in fallback runtime
  packages/runtime/src/internal/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add ucloud icons
  packages/brick-icons/src/icons/second-menu/ucloud-domain-name-certificate-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ucloud-eip-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ucloud-elasticsearch-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ucloud-host-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ucloud-k8s-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ucloud-mysql-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ucloud-snapshot-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ucloud-subnet-second-menu.svg
  packages/brick-icons/src/icons/second-menu/ucloud-vpc-second-menu.svg
Due: none
