Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): icon color change
  packages/brick-icons/src/icons/honeycomb.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(webpack): use hashed module ids and named chunks
  packages/build-config-factory/src/pre-build.js
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
  packages/webpack-config-factory/src/bricks/webpack.prod.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(): add honeycomb.svg
  packages/brick-icons/src/icons/honeycomb.svg
Due: none

chore(): add icon
  packages/brick-icons/src/icons/honeycomb.svg
Due: none

chore(): add a global css variable used in easy-view
  packages/brick-container/src/styles/variables.css
Due: prettier --write

chore(): icon name change
  packages/brick-icons/src/icons/colored-common/regexp-icon.svg
  packages/brick-icons/src/icons/colored-common/string-icon.svg
Due: none

chore(): add some icons to easyops repo
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-left1-right3-2.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-left3-right1-2.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-right-1.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-right-2.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-right-3.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-2x3-2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left1-right2-2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left1-right3-2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left1-right3-3.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left2-right1-2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left3-right1-2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left3-right1-3.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-top-bottom-left1-right2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-top-bottom-left1-right3.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-top-bottom-left2-right1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-top-bottom-left3-right1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-top-bottom.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-top-center-bottom.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-with-catelog-1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-with-catelog-2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-with-catelog-3.svg
  packages/brick-icons/src/icons/easy-view/menu-layout/grid-with-sub-menu.svg
  packages/brick-icons/src/icons/easy-view/menu-layout/grid-without-sub-menu.svg
Due: none

chore(deps): Update dependency @types/lodash to ^4.14.172
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @fortawesome/react-fontawesome to ^0.1.15
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.16.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(serve): defaults to serve by remote container in remote mode
  package.json
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/index.js
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): make lifeCycle.useResolves.transform as lazy in useBrick
  packages/brick-kit/src/internal/getNextStateOfUseBrick.ts
  packages/brick-kit/src/internal/setProperties.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency @types/node to ^12.20.19
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update Font Awesome
  packages/fontawesome-library/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^8.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.15.0
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v8.2.0
  docker-compose.yml
Due: none

chore(deps): Update dependency yargs to ^17.1.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.56.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

wip
  packages/rollup-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/react to ^16.14.12
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): build-next-libs
  .eslintrc
  packages/build-config-factory/src/size-limit.js
  packages/build-next-libs/bin/build-next-libs.js
  packages/build-next-libs/package.json
  packages/build-next-libs/src/index.js
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency lint-staged to ^11.1.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): patch for build-next-libs
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/index.js
  packages/dev-dependencies/patches/updateBuildNextLibs.js
  packages/dev-dependencies/patches/updateBuildNextLibs.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/build-next-libs/CHANGELOG.md
  packages/build-next-libs/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(renovate): add .gitignore into file filters
  packages/create-next-repo/src/patches/patchInternalRenovate.spec.ts
  packages/create-next-repo/src/patches/patchInternalRenovate.ts
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/updateRenovateFileFilters.js
  packages/dev-dependencies/patches/updateRenovateFileFilters.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): transform next-libs for jest
  packages/jest-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/jest-config-factory/CHANGELOG.md
  packages/jest-config-factory/package.json
Due: prettier --write

fix(): add lazy-bricks into .gitignore
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency concurrently to ^6.2.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.56.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @babel/parser to ^7.15.2
  package.json
  packages/brick-utils/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.16.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
