Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support RegExp
  packages/cook/src/sanitize.ts
  packages/supply/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): separate preview and playground
  packages/brick-playground/build.config.js
  packages/brick-playground/package.json
  packages/brick-playground/serve/getExamples.js
  packages/brick-playground/serve/index.js
  packages/brick-playground/src/declarations.d.ts
  packages/brick-playground/src/index.ejs
  packages/brick-playground/src/index.ts
  packages/preview/build.config.js
  packages/preview/package.json
  packages/preview/src/bootstrap.ts
  packages/preview/src/index.css
  packages/preview/src/index.ejs
  packages/preview/src/index.ts
  packages/preview/tsconfig.json
  packages/preview/types.d.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

feat(): function support RegExp
  packages/cook/src/cook.spec.ts
  packages/cook/src/sanitize.ts
  packages/supply/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): function support RegExp in v3
  packages/cook/src/cook.spec.ts
  packages/cook/src/sanitize.ts
  packages/supply/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): use extended syntax highlighting
  packages/brick-playground/build.config.js
  packages/brick-playground/package.json
  packages/brick-playground/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): monaco contributions
  packages/monaco-contributions/javascript.d.ts
  packages/monaco-contributions/javascript.js
  packages/monaco-contributions/package.json
  packages/monaco-contributions/register.ts
  packages/monaco-contributions/typescript.d.ts
  packages/monaco-contributions/typescript.js
  packages/monaco-contributions/yaml.d.ts
  packages/monaco-contributions/yaml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): initial
  packages/monaco-contributions/javascript.ts
  packages/monaco-contributions/package.json
  packages/monaco-contributions/register.ts
  packages/monaco-contributions/typescript.ts
  packages/monaco-contributions/yaml.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/monaco-contributions/CHANGELOG.md
  packages/monaco-contributions/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

feat(): storyboard support parse condtional syntax
  packages/storyboard/src/interfaces.ts
  packages/storyboard/src/parseStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

feat(): storyboard add condition event rule
  packages/storyboard/src/traverseStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(button): add danger styles
  packages/custom-antd-styles/src/button.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

WIP: native cook
  packages/cook/src/cook.spec.ts
  packages/cook/src/cook.ts
  packages/runtime/src/internal/compute/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): decouple easyops runtime
  etc/runtime.api.md
  packages/easyops-runtime/package.json
  packages/easyops-runtime/src/checkInstalledApps.spec.ts
  packages/easyops-runtime/src/checkInstalledApps.ts
  packages/easyops-runtime/src/flowApi/CollectContracts.spec.ts
  packages/easyops-runtime/src/flowApi/CollectContracts.ts
  packages/easyops-runtime/src/flowApi/FlowApi.spec.ts
  packages/easyops-runtime/src/flowApi/FlowApi.ts
  packages/easyops-runtime/src/flowApi/FlowApiProvider.spec.ts
  packages/easyops-runtime/src/flowApi/FlowApiProvider.ts
  packages/easyops-runtime/src/flowApi/index.ts
  packages/easyops-runtime/src/index.ts
  packages/easyops-runtime/tsconfig.build.json
  packages/easyops-runtime/tsconfig.json
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/checkInstalledApps.spec.ts
  packages/runtime/src/internal/checkInstalledApps.ts
  packages/runtime/src/internal/checkPermissions.spec.ts
  packages/runtime/src/internal/checkPermissions.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/data/getProviderBrick.ts
  packages/runtime/src/internal/data/resolveData.ts
  packages/utils/src/storyboard/expressions/collectMemberCallUsage.ts
  packages/utils/src/storyboard/expressions/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): use easyops-runtime
  packages/brick-container/package.json
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/loadBootstrapData.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(): rename files
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/evaluate.spec.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/data/getProviderBrick.spec.ts
  packages/runtime/src/internal/hasInstalledApp.spec.ts
  packages/runtime/src/internal/hasInstalledApp.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests
  packages/easyops-runtime/src/flowApi/FlowApi.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(): fix track all reg
  packages/cook/src/preevaluate.spec.ts
  packages/cook/src/preevaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix trackAll Reg
  packages/cook/src/preevaluate.spec.ts
  packages/cook/src/preevaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support auth methods
  packages/easyops-runtime/src/auth.spec.ts
  packages/easyops-runtime/src/auth.ts
  packages/easyops-runtime/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): put @next-core/easyops-runtime into module federations
  packages/build-next-bricks/src/build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

feat(): move menu process from runtime to easyops-runtime
  api-extractor.json
  etc/runtime.api.md
  packages/brick-container/src/bootstrap.ts
  packages/easyops-runtime/package.json
  packages/easyops-runtime/src/auth.ts
  packages/easyops-runtime/src/checkPermissions.spec.ts
  packages/easyops-runtime/src/checkPermissions.ts
  packages/easyops-runtime/src/index.ts
  packages/easyops-runtime/src/menu/computeMenuData.ts
  packages/easyops-runtime/src/menu/constants.ts
  packages/easyops-runtime/src/menu/fetchMenuById.spec.ts
  packages/easyops-runtime/src/menu/fetchMenuById.ts
  packages/easyops-runtime/src/menu/fetchMenuTitle.ts
  packages/easyops-runtime/src/menu/getMenusOfStandaloneApp.ts
  packages/easyops-runtime/src/menu/index.ts
  packages/easyops-runtime/src/menu/interfaces.ts
  packages/easyops-runtime/src/menu/loadDynamicMenuItems.ts
  packages/easyops-runtime/src/menu/mergeMenu.ts
  packages/easyops-runtime/src/menu/reorderMenuItems.ts
  packages/runtime/package.json
  packages/runtime/src/StoryboardFunctionRegistry.spec.ts
  packages/runtime/src/auth.spec.ts
  packages/runtime/src/auth.ts
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/evaluate.spec.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/compute/getGeneralGlobals.ts
  packages/runtime/src/internal/matchRoutes.ts
  packages/runtime/src/internal/secret_internals.ts
  packages/runtime/src/internal/test_only.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): in html mode, scan all descendant bricks
  packages/preview/src/bootstrap.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(serve): support --local-bricks
  packages/brick-container/scripts/start.js
  packages/brick-container/serve/env.js
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/index.js
  packages/brick-container/serve/middlewares/bootstrapJson.js
  packages/brick-container/serve/middlewares/standaloneBootstrapJson.js
  packages/serve-helpers/index.d.ts
  packages/serve-helpers/src/getBrickPackages.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/serve-helpers/CHANGELOG.md
  packages/serve-helpers/package.json
Due: prettier --write

chore(lint-staged): ignore CHANGELOG.md
  .lintstagedrc
Due: none

fix(): fix monaco version not matching
  packages/monaco-contributions/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/monaco-contributions/CHANGELOG.md
  packages/monaco-contributions/package.json
Due: prettier --write

feat(): menu支持大于两层
  etc/brick-types.api.md
  packages/brick-kit/package.json
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
  packages/brick-types/src/menu.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

feat(): update renovate for v2: only enable @next-core/* and @next-libs/*
  packages/dev-dependencies/extract.js
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/index.js
  packages/dev-dependencies/patches/updateRenovateForV2.js
  packages/dev-dependencies/patches/updateRenovateForV2.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
