Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

fix(): put template preview route before others
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(general-radio): 适配type:button的radio禁用态背景色
  packages/custom-antd-styles/src/radio.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

style(): 给文件末尾添加换行符
  packages/custom-antd-styles/src/radio.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): put template preview route between specific ones and others
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(general-radio): 修改颜色变量
  packages/custom-antd-styles/src/radio.less
Due: none

chore(deps): Update dependency babel-plugin-import to ^1.13.5
  packages/babel-preset-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^9.5.4
  package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): 修改颜色变量指向
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

fix(): template preview with context
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency https-proxy-agent to ^5.0.1
  packages/create-next-repo/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress/included to v9.5.4
  docker-compose.yml
Due: none

fix(): card style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency lint-staged to ^12.3.8
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency moment to ^2.29.3
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  packages/brick-utils/package.json
  packages/build-config-factory/package.json
  packages/pipes/package.json
  packages/supply/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.70.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update type packages
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.22.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.174.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.22.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(getMenu): fix menu lose
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency fs-extra to ^10.1.0
  packages/brick-container/package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/easyops-illustrations/package.json
  packages/next-docs/package.json
  packages/sdk-scripts/package.json
  packages/storyboard-function-types/package.json
  yarn.lock
Due: prettier --write

fix(): fix menu in iframe
  etc/brick-types.api.md
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/internal/misc.spec.ts
  packages/brick-kit/src/internal/misc.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): increase size-limit after upgrades core-js
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency react-i18next to ^11.16.7
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(): use core-js v3.22
  packages/babel-preset-next/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): increase size-limit after uses core-js v3.22
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency prismjs to ^1.28.0
  packages/babel-preset-prismjs/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update rollup packages
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 5.20.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency babel-loader to ^8.2.5
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.22.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write
