Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

chore(renovate): no updates for api sdk [skip ci]
  renovate.json
Due: prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): sys add settings field&export brand
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/evaluate.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): menu支持大于两层(standalone)
  etc/brick-types.api.md
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
  packages/brick-types/src/menu.ts
  packages/brick-utils/src/builder/normalizeMenu.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

feat(): support extended html syntax: allow dots in tag name
  packages/monaco-contributions/html.d.ts
  packages/monaco-contributions/html.js
  packages/monaco-contributions/package.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fixt(): use extended html syntax
  packages/brick-playground/build.config.js
  packages/brick-playground/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/monaco-contributions/CHANGELOG.md
  packages/monaco-contributions/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): menu新接口结构体字段会默认填充所有结构体ID导致空判断出错
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): normalizeMenu兼容新接口
  .size-limit.js
  packages/brick-utils/src/builder/normalizeMenu.spec.ts
  packages/brick-utils/src/builder/normalizeMenu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

refactor(): rename generateMetadata to generatePkgBuild
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/src/generatePkgBuild.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): menu支持大于两层
  packages/easyops-runtime/package.json
  packages/easyops-runtime/src/menu/computeMenuData.ts
  packages/easyops-runtime/src/menu/fetchMenuById.spec.ts
  packages/easyops-runtime/src/menu/fetchMenuById.ts
  packages/easyops-runtime/src/menu/interfaces.ts
  packages/runtime/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): generate brick package manifest
  packages/brick-manifest/index.d.ts
  packages/brick-manifest/package.json
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/makeBrickManifest.js
  packages/build-next-bricks/src/scanBricks.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-manifest/CHANGELOG.md
  packages/brick-manifest/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): add icon Closes INSTANCE-4965
  packages/brick-icons/src/icons/second-menu/cmdb-data-operations.svg
Due: none

fix(): extract examples from docs in markdown
  packages/brick-playground/serve/getExamples.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
Due: prettier --write

fix(): 修改table及timeline样式
  packages/custom-antd-styles/src/table.less
  packages/custom-antd-styles/src/timeline.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

feat(): support build manifest only
  packages/build-next-bricks/bin/build-next-bricks.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
Due: prettier --write

fix(table): 修改table间距
  packages/brick-icons/src/icons/third-menu/product-objective-third-menu.svg
  packages/custom-antd-styles/src/table.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

fix(): ignore missing imports
  packages/build-next-bricks/src/scanBricks.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support params snippet
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/preEvaluatedSnippetConf.spec.ts
  packages/brick-utils/src/preEvaluatedSnippetConf.ts
  packages/cook/src/preevaluate.spec.ts
  packages/cook/src/preevaluate.ts
  v3/brick-dll-v3/manifest.snapshot.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix svg rules
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refactor process snippet
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/snippetEvaluate.spec.ts
  packages/brick-utils/src/snippetEvaluate.ts
  packages/brick-utils/src/visitStoryboard.ts
  packages/cook/src/preevaluate.spec.ts
  packages/cook/src/preevaluate.ts
  v3/brick-dll-v3/manifest.snapshot.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

chore(): BRICK_STORE-3383 ref BRICK_STORE-3383
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/pagination.less
Due: prettier --write

fix(): standalone模式下小产品图标url错误
  etc/brick-types.api.md
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): transpile example between html and yaml
  .eslintrc
  packages/brick-playground/package.json
  packages/brick-playground/serve/examplesJson.js
  packages/brick-playground/src/index.ts
  packages/doc-helpers/index.d.ts
  packages/doc-helpers/jsconfig.json
  packages/doc-helpers/package.json
  packages/doc-helpers/src/extractExamplesInMarkdown.js
  packages/doc-helpers/src/getExamples.js
  packages/doc-helpers/src/htmlToYaml.js
  packages/doc-helpers/src/index.js
  packages/doc-helpers/src/walk.js
  packages/doc-helpers/src/yamlToHtml.js
  packages/serve-helpers/index.d.ts
  packages/serve-helpers/src/getBrickPackages.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
  packages/serve-helpers/CHANGELOG.md
  packages/serve-helpers/package.json
Due: prettier --write
