Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.12.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/jest to ^26.0.19
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.3.3
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less to ^3.13.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.1.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-merge to ^5.7.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(next-core): 过滤images文件夹下的隐藏文件 Refs NEXT_BUILDER-554
  packages/brick-container/tools/report_installed_micro_app.py
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency husky to ^4.3.6
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(tag): tag边框颜色改成和背景颜色一致
  packages/custom-antd-styles/src/tag.less
Due: none

chore(brick_next): 删除测试代码
  packages/brick-container/tools/report_installed_micro_app.py
Due: none

chore(brick_next): 相对路径改为绝对路径
  packages/brick-container/tools/report_installed_micro_app.py
Due: none

fix(tag): tag修改圆角样式
  packages/custom-antd-styles/src/tag.less
Due: none

chore(deps): Update dependency rollup to ^2.35.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): add new pipe `mergeArrayByKey`
  packages/brick-utils/package.json
  packages/next-docs/package.json
  yarn.lock
Due: prettier --write

fix(report_brick_next_package):把上报NB包的脚本加回来，不过内容为空的 refs NEXT_BUILDER-598
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

chore(deps): Update typescript-eslint monorepo to >= 4.10.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(): version
  packages/brick-container/src/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(bbrick-icons): add icon Closed BRICK_STORE-1927
  packages/brick-icons/src/icons/colored-common/expansion.svg
Due: none

feat(illustrations): update illustrations
  README.md
  packages/easyops-illustrations/src/images/default/browser-version-low.png
  packages/easyops-illustrations/src/images/default/create-content.png
  packages/easyops-illustrations/src/images/default/no-content.png
  packages/easyops-illustrations/src/images/default/no-history.png
  packages/easyops-illustrations/src/images/default/search-empty.png
  packages/easyops-illustrations/src/images/exception/http-403.png
  packages/easyops-illustrations/src/images/exception/http-404.png
  packages/easyops-illustrations/src/images/exception/http-500.png
  packages/easyops-illustrations/src/images/feedback/exception.png
  packages/easyops-illustrations/src/images/feedback/fail.png
  packages/easyops-illustrations/src/images/feedback/info.png
  packages/easyops-illustrations/src/images/feedback/success.png
Due: prettier --write

chore(deps): Update babel monorepo to ^7.12.11
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  yarn.lock
Due: prettier --write

feat(styles): add collapse styles
  packages/brick-container/src/styles/antd.less
  packages/custom-antd-styles/src/collapse.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency copy-webpack-plugin to ^6.4.1
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-merge to ^5.7.2
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): support editors entry for brick pakcages
  packages/build-config-factory/src/size-limit.js
  packages/webpack-config-factory/src/bricks/ScanCustomElementsPlugin.js
  packages/webpack-config-factory/src/bricks/webpack.common.factory.js
  packages/webpack-config-factory/src/bricks/webpack.dev.factory.js
  packages/webpack-config-factory/src/bricks/webpack.prod.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support loading editor bricks
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-container/serve/serveLocal.js
  packages/brick-container/serve/utils.js
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/developHelper.ts
  packages/brick-types/src/manifest.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
  packages/build-config-factory/src/post-build.js
  packages/webpack-config-factory/src/bricks/ScanCustomElementsPlugin.js
  packages/webpack-config-factory/src/bricks/ScanEditorBricksPlugin.js
  packages/webpack-config-factory/src/bricks/index.js
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(tag): 修改tag默认样式
  packages/custom-antd-styles/src/tag.less
Due: none

fix(): 修改gray主题色
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/tag.less
Due: prettier --write

fix(tag): 修改默认样式
  packages/custom-antd-styles/src/tag.less
Due: none

fix(tag): 修复默认样式
  packages/brick-container/src/styles/variables.css
Due: prettier --write

feat(): support to resolve context concurrently
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/resolveContextConcurrently.spec.ts
  packages/brick-utils/src/resolveContextConcurrently.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(input-number): 调节器修改底色，去除边框
  packages/custom-antd-styles/src/input.less
Due: none

fix(input-group-addon): 修改底色和边框
  packages/custom-antd-styles/src/input.less
Due: none

fix(tag): 修改可选择标签样式
  packages/custom-antd-styles/src/tag.less
Due: none

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
