Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

fix(): allow setting target event for event actions
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): handle sibling routes matching order
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): sso 支持传 return_url 参数
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/handleHttpError.spec.tsx
  packages/brick-kit/src/handleHttpError.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support serve app images
  packages/brick-container/serve/middlewares/getMiddlewares.js
  packages/brick-container/serve/middlewares/serveAppImages.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

fix(): dispose brick listeners when unmount
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/mount.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): dispose data change listeners
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): fix test error reporting
  packages/runtime/src/internal/bindListeners.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

docs(): update etc md
  etc/runtime.api.md
Due: none

WIP: debugging with memory leaks
  etc/runtime.api.md
  mock-micro-apps/memory-leak/storyboard.yaml
  packages/react-element/src/ReactNextElement.tsx
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(brick_next): 低发行版升级到 7.12，默认没有初始化 brick_next 的 clientId 和 secret；后续手动打开开关后，升级 NA/NB 组件时获取 token 失败 Refs INFRA-5390
  packages/brick-container/deploy/install_postscript.sh
  packages/brick-container/deploy/update_postscript.sh
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): throw unauthenticated error when fetch contracts failed
  packages/easyops-runtime/src/flowApi/FlowApi.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
Due: prettier --write

fix(brick-container): 调整icons包大小限制从890KB到900KB Closes WORK-112
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): Brick Container支持合并本地菜单
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(brick-container): remove menu log
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 售后工单_在launchpad添加的自定义链接，会影响ITSM的发起工单的权限。_kylinv10_arm
  packages/easyops-runtime/src/auth.spec.ts
  packages/easyops-runtime/src/auth.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 售后工单_在launchpad添加的自定义链接，会影响ITSM的发起工单的权限。_kylinv10_arm
  etc/brick-kit.api.md
  packages/brick-kit/src/auth.spec.ts
  packages/brick-kit/src/auth.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(serve): Fix error when there is no localStoryboard
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(react-runtime): add route and auth related React hooks
  CLAUDE.md
  packages/react-runtime/src/index.ts
  packages/react-runtime/src/useAuth.spec.ts
  packages/react-runtime/src/useAuth.ts
  packages/react-runtime/src/useHistory.spec.ts
  packages/react-runtime/src/useHistory.ts
  packages/react-runtime/src/useLocation.spec.ts
  packages/react-runtime/src/useLocation.ts
  packages/react-runtime/src/useParams.spec.ts
  packages/react-runtime/src/useParams.ts
  packages/react-runtime/src/usePathParams.spec.ts
  packages/react-runtime/src/usePathParams.ts
  packages/react-runtime/src/useSearchParams.spec.ts
  packages/react-runtime/src/useSearchParams.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
Due: prettier --write

feat(react-runtime): add useSystemInfo and useFeatureFlags hooks
  packages/react-runtime/src/index.ts
  packages/react-runtime/src/useFeatureFlags.spec.ts
  packages/react-runtime/src/useFeatureFlags.ts
  packages/react-runtime/src/useSystemInfo.spec.ts
  packages/react-runtime/src/useSystemInfo.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(react-runtime): add useCheckPermissions, useControlledState hooks
  packages/react-runtime/src/index.ts
  packages/react-runtime/src/useCheckPermissions.spec.ts
  packages/react-runtime/src/useCheckPermissions.ts
  packages/react-runtime/src/useControlledState.spec.ts
  packages/react-runtime/src/useControlledState.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(loadBricksImperatively): support postProcess (for v2 lazy loading)
  packages/loader/src/stableLoadBricks.spec.ts
  packages/loader/src/stableLoadBricks.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): react-runtime requires easyops-runtime now
  packages/react-runtime/package.json
Due: prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): fix loading lazy brick deps
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(): fix loading lazy brick deps
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
