Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency mock-socket to ^9.0.6
  package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-cli to ^4.9.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency to-string-loader to ^1.2.0
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^27.3.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typedoc-plugin-no-inherit to ^1.3.1
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update rollup packages
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): support widget functions
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/WidgetFunctions.spec.ts
  packages/brick-kit/src/core/WidgetFunctions.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/cook/src/preevaluate.spec.ts
  packages/cook/src/preevaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support checking version of installed apps
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Runtime.spec.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-types/src/manifest.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update docs etc
  etc/brick-kit.api.md
  etc/brick-types.api.md
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

feat(): create next repo支持本地下载next-template-repo
  packages/create-next-repo/src/getOptions.spec.ts
  packages/create-next-repo/src/getOptions.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): unit test
  packages/create-next-repo/src/download.spec.ts
  packages/create-next-repo/src/download.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
Due: prettier --write

chore(deps): Update dependency babel-loader to ^8.2.3
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): add userAnalytics
  declarations/global.d.ts
  packages/brick-dll/manifest.snapshot.json
  packages/easyops-analytics/src/index.ts
  packages/easyops-analytics/src/userAnalytics.spec.ts
  packages/easyops-analytics/src/userAnalytics.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency husky to ^7.0.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update type packages
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(bindListeners): add analytics.send builtin handler
  etc/brick-types.api.md
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/internal/bindListeners.spec.ts
  packages/brick-kit/src/internal/bindListeners.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

chore(deps): Update dependency rc-tabs to ~11.10.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^21.3.3
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react-transition-group to ^4.4.4
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rc-virtual-list to ^3.4.2
  package.json
  yarn.lock
Due: prettier --write

fix(): dispose specific null fields
  packages/brick-utils/src/builder/normalizeBuilderNode.spec.ts
  packages/brick-utils/src/builder/normalizeBuilderNode.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency replace-in-file to ^6.3.2
  packages/create-next-repo/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^11.2.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): update the stories json request from the cache
  packages/brick-types/src/story.ts
  packages/editor-bricks-helper/package.json
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getBrickDoc.ts
  packages/editor-bricks-helper/src/index.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/StoriesCache.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): stories json use cache & unit test update
  dll/editor-bricks-helper/manifest.snapshot.json
  etc/brick-types.api.md
  packages/brick-types/src/story.ts
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getBrickDoc.spec.ts
  packages/editor-bricks-helper/src/hooks/useStoryList.spec.tsx
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/StoriesCache.spec.ts
  packages/editor-bricks-helper/src/internal/StoriesCache.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): unit test update
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/StoriesCache.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(ci): set L for curl when syncing npm mirror
  .github/workflows/ci.yml
Due: none

feat(): unit test update
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/StoriesCache.spec.ts
  packages/editor-bricks-helper/src/internal/StoriesCache.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): story type update
  packages/brick-types/src/story.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): story type update and api.md
  etc/brick-types.api.md
  packages/brick-types/src/story.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.58.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(webpack): fix worker-loader publicPath
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

feat(): story type update and api.md
  etc/brick-types.api.md
  packages/brick-types/src/story.ts
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getBrickDoc.spec.ts
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getBrickDoc.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
