Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

feat(): 获取当前微应用上下文变量信息
  etc/brick-kit.api.md
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/developHelper.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): 公告提醒样式调整
  packages/custom-antd-styles/src/notification.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

fix(): 公告提醒样式调整
  packages/custom-antd-styles/src/notification.less
Due: none

feat(): support override lodash/array/object when debugging
  declarations/global.d.ts
  packages/brick-container/build.config.js
  packages/cook/src/ExecutionContext.ts
  packages/cook/src/__fixtures__/expressions.ts
  packages/cook/src/__fixtures__/function-names.ts
  packages/cook/src/__fixtures__/functions.ts
  packages/cook/src/__fixtures__/index.ts
  packages/cook/src/__fixtures__/negative/statements.ts
  packages/cook/src/__fixtures__/this.ts
  packages/cook/src/__snapshots__/cook.spec.ts.snap
  packages/cook/src/context-free.ts
  packages/cook/src/cook.spec.ts
  packages/cook/src/cook.ts
  packages/runtime/src/StoryboardFunctionRegistry.spec.ts
  packages/runtime/src/StoryboardFunctionRegistry.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support this expression
  packages/cook/src/ExecutionContext.ts
  packages/cook/src/__fixtures__/index.ts
  packages/cook/src/__fixtures__/negative/expressions.ts
  packages/cook/src/__fixtures__/negative/statements.ts
  packages/cook/src/__fixtures__/this.ts
  packages/cook/src/__snapshots__/cook.spec.ts.snap
  packages/cook/src/cook.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): mark debugger return
  packages/cook/src/ExecutionContext.ts
  packages/cook/src/cook.spec.ts
  packages/cook/src/cook.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update etc
  etc/runtime.api.md
Due: none

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): refine debugger breakpoints
  .github/workflows/update-docs-etc.yml
  packages/cook/src/cook.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix debugging nested FN calls
  etc/runtime.api.md
  packages/cook/src/cook.ts
  packages/cook/src/precook.ts
  packages/runtime/src/StoryboardFunctionRegistry.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(precook): add arguments binding
  packages/brick-container/build.config.js
  packages/cook/src/AnalysisContext.ts
  packages/cook/src/precook.spec.ts
  packages/cook/src/precook.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support CustomEditors
  packages/brick-kit/src/core/CustomEditors.spec.ts
  packages/brick-kit/src/core/CustomEditors.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/exports.ts
  packages/build-config-factory/src/post-build.js
  packages/webpack-config-factory/src/bricks/ScanPropertyEditorBricksPlugin.js
  packages/webpack-config-factory/src/bricks/index.js
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): permission.check在路由变化时失败
  packages/brick-kit/src/internal/checkPermissions.spec.ts
  packages/brick-kit/src/internal/checkPermissions.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): permission.check在路由变化时失败
  packages/easyops-runtime/src/checkPermissions.spec.ts
  packages/easyops-runtime/src/checkPermissions.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
Due: prettier --write

feat(): update editor RegExp
  packages/webpack-config-factory/src/bricks/ScanPropertyEditorBricksPlugin.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
Due: prettier --write

fix(): support loading v2 editors
  packages/loader/src/stableLoadBricks.spec.ts
  packages/loader/src/stableLoadBricks.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support specifying brick folders
  packages/brick-playground/package.json
  packages/brick-playground/scripts/start.js
  packages/brick-playground/serve/bootstrapJson.js
  packages/brick-playground/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): getBrickPackagesById should match trailing slash
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support v2 editors in development
  packages/serve-helpers/src/getBrickPackages.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): load editors from brick packages passed in
  etc/runtime.api.md
  packages/brick-playground/build.config.js
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): fix e2e tests
  cypress/e2e/sub-routes.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/serve-helpers/CHANGELOG.md
  packages/serve-helpers/package.json
Due: prettier --write

fix(): compatible with sub services of api gateway
  packages/easyops-runtime/src/flowApi/FlowApi.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): compatible with sub services of api gateway
  packages/brick-kit/src/core/FlowApi.spec.ts
  packages/brick-kit/src/core/FlowApi.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): editor export name
  packages/build-next-bricks/src/scanBricks.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): inject local editors in misc
  packages/brick-playground/serve/bootstrapJson.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
