Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency rollup-plugin-postcss to ^2.5.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): micro-apps rsync exclude ".*" file
  packages/create-next-repo/template/.pkgbuild/@micro-apps/PKGBUILD
Due: none

feat(): micro-apps rsync exclude ".*" file
  packages/create-next-repo/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/create-next-repo/template/.pkgbuild/@micro-apps/PKGBUILD
Due: none

feat(menu): export LegacyAntdIcon and RefinedAntdIcon
  packages/brick-types/src/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): refine scripts for concurrently process
  packages/brick-http/package.json
  packages/brick-icons/package.json
  packages/brick-kit/package.json
  packages/brick-types/package.json
  packages/brick-utils/package.json
  packages/fontawesome-library/package.json
  packages/sdk-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/sdk-scripts/template.json
Due: prettier --write

feat(): new custom templates
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/core/BrickNode.ts
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/__snapshots__/CustomTemplates.spec.ts.snap
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): pipe for cmdb instance name refs MONITOR-503
  packages/brick-utils/src/placeholder/pipes/PipeRegistry.ts
  packages/brick-utils/src/placeholder/pipes/processPipes.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency echarts to ^4.7.0
  dll/echarts/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): generate schema of custom templates
  packages/brick-types/scripts/post-build.js
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): `yarn yo` to register a new custom template
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-scripts/src/ask.spec.ts
  packages/brick-scripts/src/ask.ts
  packages/brick-scripts/src/constant.ts
  packages/brick-scripts/src/interface.ts
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/src/loaders/loadTemplate.spec.ts
  packages/brick-scripts/src/loaders/loadTemplate.ts
  packages/brick-scripts/src/main.ts
  packages/brick-scripts/src/questions/askBrickName.ts
  packages/brick-scripts/src/questions/askPackageName.spec.ts
  packages/brick-scripts/src/questions/askPackageName.ts
  packages/brick-scripts/src/questions/askTargetType.ts
  packages/brick-scripts/template/bricks-pkg/src/index.spec.ts
  packages/brick-scripts/template/custom-template/$kebab-brick-last-name$.ts
  packages/brick-types/scripts/post-build.js
  packages/brick-types/src/manifest.ts
  packages/build-config-factory/src/generateDeps.js
  packages/build-config-factory/src/post-build.js
  packages/build-config-factory/src/validateDeps.js
  packages/webpack-config-factory/src/bricks/ScanCustomElementsPlugin.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): move bricks deploy files
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/fontawesome-library/CHANGELOG.md
  packages/fontawesome-library/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

feat(): support custom templates in storyboard
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): load scripts for custom templates
  packages/brick-kit/src/UpdatingElement.spec.ts
  packages/brick-kit/src/UpdatingElement.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-utils/src/scanBricksInStoryboard.spec.ts
  packages/brick-utils/src/scanBricksInStoryboard.ts
  packages/build-config-factory/src/ensureDeps.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency meow to ^6.1.0
  packages/brick-container/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update react monorepo
  package.json
  packages/brick-dll/package.json
  packages/brick-icons/package.json
  packages/brick-kit/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(): compatibility with invalid route
  packages/brick-container/serve/getProxies.js
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-utils/src/computeRealRoutePath.spec.ts
  packages/brick-utils/src/computeRealRoutePath.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(pipe): new pipe, `deltaTime` and `nullish`, refs BRICK_STORE-1220
  packages/brick-utils/src/placeholder/pipes/PipeRegistry.ts
  packages/brick-utils/src/placeholder/pipes/processPipes.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency fs-extra to v9
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.3.4
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.25
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-config-prettier to ^6.10.1
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @svgr/rollup to ^5.3.0
  packages/brick-icons/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/prettier to ^1.19.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo
  package.json
  packages/babel-preset-next/package.json
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency antd to ^3.26.14
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-webpack-plugin to v4
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @svgr/webpack to ^5.3.0
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-loader to v1
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update Font Awesome
  packages/fontawesome-library/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 2.25.0
  package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.0.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

feat(): cook
  package.json
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/evaluate.spec.ts
  packages/brick-kit/src/evaluate.ts
  packages/brick-kit/src/makeProviderRefreshable.ts
  packages/brick-kit/src/setProperties.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
  packages/brick-utils/package.json
  packages/brick-utils/src/bindListeners.ts
  packages/brick-utils/src/computeRealRoutePath.ts
  packages/brick-utils/src/cook/CookVisitor.ts
  packages/brick-utils/src/cook/PrecookVisitor.ts
  packages/brick-utils/src/cook/__snapshots__/cook.spec.ts.snap
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/cook.ts
  packages/brick-utils/src/cook/index.ts
  packages/brick-utils/src/cook/interfaces.ts
  packages/brick-utils/src/cook/precook.spec.ts
  packages/brick-utils/src/cook/precook.ts
  packages/brick-utils/src/cook/supply.ts
  packages/brick-utils/src/cook/utils.ts
  packages/brick-utils/src/hasOwnProperty.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/setProperties.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): size limit
  .size-limit.js
  package.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency lint-staged to ^10.0.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @babel/preset-react to ^7.9.4
  packages/babel-preset-next/package.json
  yarn.lock
Due: prettier --write
