Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/react to ^16.9.52
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency jest to ^26.5.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/fs-extra to ^9.0.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency http-proxy-middleware to ^1.0.6
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.4.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.8.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency chokidar to ^3.4.3
  packages/brick-container/package.json
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency css-loader to v5
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.30.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(brick-http): new brick-http
  cypress/integration/login.spec.js
  packages/brick-container/src/index.tsx
  packages/brick-dll/manifest.snapshot.json
  packages/brick-http/src/InterceptorManager.spec.ts
  packages/brick-http/src/InterceptorManager.ts
  packages/brick-http/src/__snapshots__/http.spec.ts.snap
  packages/brick-http/src/fetch.spec.ts
  packages/brick-http/src/fetch.ts
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(websocket): websocket支持wss协议
  packages/brick-kit/src/websocket/WebSocket.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update babel monorepo to ^7.12.0
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^5.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update react monorepo to ^16.14.0
  packages/brick-dll/package.json
  packages/brick-icons/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/fontawesome-library/CHANGELOG.md
  packages/fontawesome-library/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(): increase size-limit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.31.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.12.1
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

docs(): refine docs
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-kit/src/UpdatingElement.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
  packages/babel-preset-prismjs/CHANGELOG.md
  packages/babel-preset-prismjs/package.json
  packages/babel-runtime-helpers/CHANGELOG.md
  packages/babel-runtime-helpers/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency yargs to ^16.1.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(brick-container): fix start command
  packages/brick-container/package.json
  packages/brick-container/webpack.dev.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): downgrade postcss to v7
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @easyops-cn/api-documenter to ^7.9.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-config-prettier to ^6.13.0
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.4.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/prettier to ^2.1.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/prettier to ^2.1.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.12.3
  package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.8.3
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.53
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.32.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @sdk/user-service-sdk to ^0.2.9
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.4.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(cook): support new expression
  packages/brick-utils/src/cook/CookVisitor.ts
  packages/brick-utils/src/cook/PrecookVisitor.ts
  packages/brick-utils/src/cook/__snapshots__/cook.spec.ts.snap
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/precook.spec.ts
  packages/brick-utils/src/cook/supply.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(icons): add menu icons
  .size-limit.js
  packages/brick-icons/src/icons/menu/background-management.svg
  packages/brick-icons/src/icons/menu/change-management.svg
  packages/brick-icons/src/icons/menu/configuration-management.svg
  packages/brick-icons/src/icons/menu/directory-management.svg
  packages/brick-icons/src/icons/menu/event-management.svg
  packages/brick-icons/src/icons/menu/form-design.svg
  packages/brick-icons/src/icons/menu/home.svg
  packages/brick-icons/src/icons/menu/install-the-history.svg
  packages/brick-icons/src/icons/menu/knowledge-base.svg
  packages/brick-icons/src/icons/menu/personal-center.svg
  packages/brick-icons/src/icons/menu/problem-management.svg
  packages/brick-icons/src/icons/menu/process-design.svg
  packages/brick-icons/src/icons/menu/process-management.svg
  packages/brick-icons/src/icons/menu/release-management.svg
  packages/brick-icons/src/icons/menu/report-center.svg
  packages/brick-icons/src/icons/menu/request-management.svg
  packages/brick-icons/src/icons/menu/rights-management.svg
  packages/brick-icons/src/icons/menu/script-management.svg
  packages/brick-icons/src/icons/menu/server-management.svg
  packages/brick-icons/src/icons/menu/service-catalog.svg
  packages/brick-icons/src/icons/menu/service-request.svg
  packages/brick-icons/src/icons/menu/service-setting.svg
  packages/brick-icons/src/icons/menu/task-statistical.svg
  packages/brick-icons/src/icons/menu/ticket-center.svg
  packages/brick-icons/src/icons/menu/user-management.svg
  packages/brick-icons/src/icons/menu/workbench.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): revert postcss-* and css-loader since postcss v8 is not widely supported
  packages/brick-container/package.json
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/package.json
  packages/webpack-config-factory/src/bricks/webpack.common.factory.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
