Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency node-stream-zip to ^1.13.6
  packages/create-next-repo/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^7.6.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v7.6.0
  docker-compose.yml
Due: none

fix(builder): support to set canvas mode
  .size-limit.js
  packages/editor-bricks-helper/src/DropZone/DropZone.module.css
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(builder): support to initialize alias of brick nodes
  packages/editor-bricks-helper/src/DropZone/getSnippetNodeDetail.ts
  packages/editor-bricks-helper/src/DropZone/processDrop.spec.ts
  packages/editor-bricks-helper/src/DropZone/processDrop.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

fix(): add types of layer type
  packages/brick-types/src/builder.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(build-config-factory): allowInheritedDoc add GraphElement
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update docs etc
  etc/brick-types.api.md
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency style-loader to v3
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(micro_app_service): 修复环境开关的判断条件 Refs NEXT_BUILDER-831
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

chore(deps): Update dependency rollup to ^2.52.3
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.6.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prettier to ^2.3.2
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
  packages/easyops-illustrations/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prismjs to ^1.24.0
  packages/babel-preset-prismjs/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/d3 to ^6.7.5
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to v5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): fix onReject when resolving context
  packages/brick-kit/src/core/Resolver.spec.ts
  packages/brick-kit/src/core/Resolver.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.6.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^27.0.6
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency ws to ^7.5.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency antd to ~4.16.6
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.28.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.15.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/d3 to v7
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.52.4
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to v2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.3.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(renovate): disable major updates of webpack plugins
  renovate.json
Due: prettier --write

chore(renovate): fix renovate json format
  renovate.json
Due: prettier --write

fix(): support contract v2
  packages/brick-kit/src/core/CustomApis.spec.ts
  packages/brick-kit/src/core/CustomApis.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/__mocks__/MicroAppApiOrchestrationData.ts
  packages/brick-kit/src/core/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.52.6
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): support contract v2
  etc/brick-kit.api.md
  packages/brick-kit/src/core/CustomApis.spec.ts
  packages/brick-kit/src/core/CustomApis.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/__mocks__/MicroAppApiOrchestrationData.ts
  packages/brick-kit/src/core/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support to check snippet node
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/editor-bricks-helper/src/assertions.spec.ts
  packages/editor-bricks-helper/src/assertions.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support to load editors from installed bricks
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.spec.tsx
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.tsx
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getEditorBrick.spec.ts
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getEditorBrick.ts
  packages/editor-bricks-helper/src/hooks/useSharedEditorMap.spec.tsx
  packages/editor-bricks-helper/src/hooks/useSharedEditorMap.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine route list initialization
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine contract
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
