Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(): update dll manifest
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

Revert "Merge pull request #190 from easyops-cn/renovate/antd-4.x"
  package.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(): fix antd to ~4.12.3 temporaryly
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(): renew versions between caret version ranges and tilde ones
  packages/dev-dependencies/extract.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add a workflow of releasing after a pr merged
  .github/workflows/release-after-merged.yml
Due: none

chore(deps): Update dependency rollup to ^2.41.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency dnd-core to v14
  dll/react-dnd/package.json
  yarn.lock
Due: prettier --write

feat(visual-builder): support route nodes
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.spec.tsx
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.tsx
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getEditorBrick.spec.ts
  packages/editor-bricks-helper/src/EditorBrickAsComponent/getEditorBrick.ts
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
  packages/editor-bricks-helper/src/EditorElementFactory.tsx
  packages/editor-bricks-helper/src/assertions.spec.ts
  packages/editor-bricks-helper/src/assertions.ts
  packages/editor-bricks-helper/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

fix(): remove prop of brick from editor brick component
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.spec.tsx
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix version range regexp
  packages/dev-dependencies/extract.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(release): publish
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency i18next to ^19.9.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.106.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.9.5
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/node to ^12.20.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.107.0
  package.json
  yarn.lock
Due: prettier --write

chore(workflow): refine conditions of release after merged
  .github/workflows/release-after-merged.yml
Due: none

chore(deps): Update dependency d3-shape to ^2.1.0
  dll/d3/package.json
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript-json-schema to ^0.50.0
  packages/brick-types/package.json
  yarn.lock
Due: prettier --write

chore(): update dll manifest
  dll/d3/manifest.snapshot.json
Due: prettier --write

feat(drop-zone): height
  packages/brick-container/src/styles/editor-bricks-variables.css
  packages/editor-bricks-helper/src/DropZone/DropZone.module.css
Due: prettier --write

chore(deps): Update dependency rollup to ^2.41.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.9.6
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(icons): add phone wechat wework custom-title icons
  .size-limit.js
  packages/brick-icons/src/icons/custom-title.svg
  packages/brick-icons/src/icons/phone.svg
  packages/brick-icons/src/icons/wechat.svg
  packages/brick-icons/src/icons/wework.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

Revert "Merge pull request #203 from easyops-cn/renovate/major-lerna-monorepo"
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

Revert "Merge pull request #245 from easyops-cn/steve/revert-lerna-from-v4-to-v3"
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): remove unused api of syncDllDeps
  packages/build-config-factory/src/index.js
  packages/build-config-factory/src/syncDllDeps.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(builder): override children mount point for routes
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

fix(builder): fix root drop-zone style which let canvas to handle outer margin
  packages/editor-bricks-helper/src/DropZone/DropZone.module.css
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.8.10
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write
