Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Update packages/theme/package.json
  packages/theme/package.json
Due: prettier --write

feat(): expose tpl state as property exclusively
  mock-micro-apps/test/storyboard.yaml
  packages/brick-types/src/manifest.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/handleProxyOfCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/CustomTemplates/utils.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support useBrick
  CONTRIBUTING-V3.md
  bricks/basic/package.json
  bricks/demo-basic/package.json
  bricks/demo-basic/src/button-group/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/brick-types/src/manifest.ts
  packages/build-next-bricks/src/build.js
  packages/inject/package.json
  packages/react-runtime/package.json
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/react-runtime/src/index.ts
  packages/react-runtime/tsconfig.build.json
  packages/react-runtime/tsconfig.json
  packages/react-use-brick/src/ReactUseBrick.tsx
  packages/runtime/package.json
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/secretInternals.ts
  packages/utils/package.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): react wrapper for brick
  bricks/demo-basic/src/bootstrap.ts
  bricks/demo-basic/src/button-group/index.tsx
  bricks/demo-basic/src/buttons.ts
  bricks/demo-basic/src/x-button/index.tsx
  bricks/demo-basic/src/y-button/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/build-next-bricks/src/scanBricks.js
  packages/element/src/NextElement.ts
  packages/element/src/createDecorators.ts
  packages/react-element/src/index.ts
  packages/react-element/src/wrapLocalBrick.tsx
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/internal/secretInternals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(report_nb): next-core的report_brick_next_package.py修改， 上报nb的时候需要的版本信息通过读取version.ini获取 Ref NEXT_BUILDER-2562
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

feat(): flex-layout brick
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/flex-layout/example.html
  bricks/basic/src/flex-layout/flex-layout.shadow.css
  bricks/basic/src/flex-layout/index.spec.tsx
  bricks/basic/src/flex-layout/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): allow set style prop to an empty string
  bricks/basic/src/flex-layout/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support useBrick with custom templates
  CONTRIBUTING-V3.md
  bricks/demo-basic/src/button-group/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/CustomTemplates/setupUseBrickInTemplate.spec.ts
  packages/runtime/src/internal/CustomTemplates/setupUseBrickInTemplate.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/secretInternals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(): refine useBrick with custom templates
  bricks/demo-basic/src/button-group/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/package.json
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/CustomTemplates.ts
  packages/runtime/src/internal/BrickNode.ts
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/handleProxyOfCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/secretInternals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix useBrick with custom templates
  mock-micro-apps/test/storyboard.yaml
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/compute/computeRealProperties.ts
  packages/runtime/src/internal/compute/computeRealValue.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/compute/getNextStateOfUseBrick.ts
  packages/runtime/src/internal/compute/markAsComputed.spec.ts
  packages/runtime/src/internal/compute/markAsComputed.ts
  packages/runtime/src/internal/compute/setProperties.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/secretInternals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine tpl
  CONTRIBUTING-V3.md
  packages/runtime/src/CustomTemplates.ts
  packages/runtime/src/internal/CustomTemplates/handleProxyOfCustomTemplate.ts
  packages/runtime/src/internal/bindListeners.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine useBrick lifeCycle
  mock-micro-apps/test/storyboard.yaml
  packages/brick-types/src/manifest.ts
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/secretInternals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(loadService): ignore non-yaml files
  packages/sdk-scripts/src/loaders/loadService.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

feat(): support Modal component
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/button/button.shadow.css
  bricks/basic/src/button/index.tsx
  bricks/basic/src/link/index.tsx
  bricks/basic/src/modal/example.html
  bricks/basic/src/modal/index.tsx
  bricks/basic/src/modal/modal.shadow.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

step1
  packages/brick-kit/src/internal/evaluate.ts
  packages/cook/src/ExecutionContext.ts
  packages/cook/src/__fixtures__/appConfigData.json
  packages/cook/src/__fixtures__/appListTableData.json
  packages/cook/src/__fixtures__/oops.ts
  packages/cook/src/context-free.ts
  packages/cook/src/cook.spec.ts
  packages/cook/src/cook.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(report_nb): nb上报脚本修改\n Ref: NEXT_BUILDER-2621
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

feat(): support Input component
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/input/example.html
  bricks/basic/src/input/index.tsx
  bricks/basic/src/input/input.shadow.css
  bricks/basic/src/interface.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support displaying native message and error
  CONTRIBUTING-V3.md
  packages/brick-types/src/manifest.ts
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/handleHttpError.spec.ts
  packages/runtime/src/handleHttpError.ts
  packages/runtime/src/index.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/data/DataStore.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix useBrick lifeCycle
  CONTRIBUTING-V3.md
  mock-micro-apps/test/storyboard.yaml
  packages/runtime/src/internal/RendererContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support Textarea component
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/textarea/calculateAutoSizeStyle.ts
  bricks/basic/src/textarea/example.html
  bricks/basic/src/textarea/index.tsx
  bricks/basic/src/textarea/textarea.shadow.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): new brick: basic.fa-icon
  bricks/basic/package.json
  bricks/basic/scripts/pre-build.js
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/demo-button/demo-button.shadow.css
  bricks/basic/src/demo-button/index.spec.tsx
  bricks/basic/src/demo-button/index.tsx
  bricks/basic/src/fa-icon/fontawesome-free/css/.gitignore
  bricks/basic/src/fa-icon/fontawesome-free/webfonts/.gitignore
  bricks/basic/src/fa-icon/index.tsx
  bricks/demo-basic/build.config.js
  mock-micro-apps/test/storyboard.yaml
  packages/browserslist-config-next/development.js
  packages/build-next-bricks/src/build.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): new bricks: icons.easyops-icon and icons.fa-icon
  bricks/basic/src/bootstrap.ts
  bricks/demo-basic/package.json
  bricks/demo-form/package.json
  bricks/icons/build.config.js
  bricks/icons/package.json
  bricks/icons/scripts/pre-build.js
  bricks/icons/src/bootstrap.ts
  bricks/icons/src/easyops-icon/.gitignore
  bricks/icons/src/easyops-icon/index.tsx
  bricks/icons/src/fa-icon/.gitignore
  bricks/icons/src/fa-icon/index.tsx
  bricks/icons/src/index.ts
  bricks/icons/tsconfig.json
  declarations/global.d.ts
  mock-micro-apps/test/storyboard.yaml
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/build.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): new brick: icons.antd-icon
  bricks/icons/package.json
  bricks/icons/scripts/pre-build.js
  bricks/icons/src/antd-icon/.gitignore
  bricks/icons/src/antd-icon/index.tsx
  bricks/icons/src/bootstrap.ts
  mock-micro-apps/test/storyboard.yaml
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add missing jest.config.js
  packages/brick-scripts/template/bricks-pkg/jest.config.js
  packages/brick-scripts/template/libs-pkg/jest.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support brick dependencies
  bricks/basic/src/button/index.tsx
  bricks/basic/src/link/index.tsx
  bricks/demo-basic/src/bootstrap.ts
  bricks/demo-basic/src/button-with-icon/index.tsx
  bricks/demo-basic/src/x-button/index.tsx
  bricks/demo-basic/src/y-button/index.tsx
  bricks/icons/package.json
  bricks/icons/src/antd-icon/index.tsx
  bricks/icons/src/bootstrap.ts
  bricks/icons/src/easyops-icon/index.tsx
  bricks/icons/src/fa-icon/index.tsx
  bricks/icons/src/general-icon/index.tsx
  mock-micro-apps/test/storyboard.yaml
  packages/brick-types/src/manifest.ts
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/scanBricks.js
  packages/element/src/createDecorators.ts
  packages/loader/src/index.ts
  packages/loader/src/stableLoadBricks.ts
  packages/react-element/src/index.ts
  packages/react-element/src/wrapBrick.tsx
  packages/react-element/src/wrapLocalBrick.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support play bricks with yaml
  CONTRIBUTING-V3.md
  packages/brick-playground/build.config.js
  packages/brick-playground/package.json
  packages/brick-playground/src/index.css
  packages/brick-playground/src/index.ejs
  packages/brick-playground/src/index.ts
  packages/brick-playground/src/preview-bootstrap.ts
  packages/brick-playground/src/preview.css
  packages/brick-playground/src/preview.ejs
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/secretInternals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support widget packages
  bricks/demo-widgets/build.config.js
  bricks/demo-widgets/package.json
  bricks/demo-widgets/src/bootstrap.ts
  bricks/demo-widgets/src/index.ts
  bricks/demo-widgets/src/tpl-first-template.ts
  bricks/demo-widgets/src/tpl-second-template.ts
  bricks/demo-widgets/tsconfig.json
  mock-micro-apps/test/storyboard.yaml
  packages/build-next-bricks/src/scanBricks.js
  packages/runtime/src/internal/Renderer.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add .nvmrc
  .nvmrc
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
Due: none

chore(release): publish
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): support control nodes: forEach/if/switch
  CONTRIBUTING-V3.md
  mock-micro-apps/test/storyboard.yaml
  packages/brick-types/src/manifest.ts
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/interfaces.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix setting favicon not render
  etc/brick-types.api.md
  packages/brick-kit/src/core/Router.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(): refine brick playground
  CONTRIBUTING-V3.md
  bricks/demo-widgets/build.config.js
  mock-micro-apps/test/storyboard.yaml
  packages/brick-playground/src/index.css
  packages/brick-playground/src/index.ejs
  packages/runtime/src/internal/Renderer.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix control node slot
  packages/runtime/src/internal/Renderer.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): allow onMount and onUnmount for normal bricks
  mock-micro-apps/test/storyboard.yaml
  packages/brick-types/src/manifest.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
