Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): make dll manifest not changed
  package.json
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

Revert "Revert "Merge branch 'steve/cypress' into 'master'""
  .eslintrc
  .gitignore
  .npmrc
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/login.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tsconfig.json
  jest.config.js
  package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(dll): match manifest snapshot for dll packages
  .eslintrc
  dll/ace/manifest.snapshot.json
  dll/ace/package.json
  dll/d3/manifest.snapshot.json
  dll/d3/package.json
  dll/echarts/manifest.snapshot.json
  dll/echarts/package.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-dll/package.json
  packages/dll-differ/bin/dll-differ.js
  packages/dll-differ/package.json
  packages/dll-differ/src/index.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): increase developers page waiting time
  cypress/integration/developers.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Revert "Merge branch 'renovate/d3-force-2.x' into 'next'"
  dll/d3/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.160
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency css-loader to ^4.2.2
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.2.13
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less-loader to v7
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-loader to ^1.3.0
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/dll-differ/CHANGELOG.md
  packages/dll-differ/package.json
Due: prettier --write

chore(): switch icon
  packages/brick-icons/src/icons/pseudo-3d/switch.svg
Due: none

chore(): switch icon add size-limit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency prettier to ^2.1.1
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(): add icons and size-limit
  .size-limit.js
  packages/brick-icons/src/icons/pseudo-3d/access-switch.svg
  packages/brick-icons/src/icons/pseudo-3d/application.svg
  packages/brick-icons/src/icons/pseudo-3d/cabinet.svg
  packages/brick-icons/src/icons/pseudo-3d/cluster.svg
  packages/brick-icons/src/icons/pseudo-3d/core-switch.svg
  packages/brick-icons/src/icons/pseudo-3d/firewall.svg
  packages/brick-icons/src/icons/pseudo-3d/interchanger.svg
  packages/brick-icons/src/icons/pseudo-3d/machine-room.svg
  packages/brick-icons/src/icons/pseudo-3d/router.svg
  packages/brick-icons/src/icons/pseudo-3d/server.svg
  packages/brick-icons/src/icons/pseudo-3d/storage.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(portal): make portal container out of flow
  packages/brick-container/src/styles/default.css
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.6.5
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(events): avoid callback.error to be triggered after callback.success throw
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(dev-dependencies): 新增给 package.json 的 test scripts 打添加 --expose-gc 和 --logHeapUsage 参数的补丁
  packages/create-next-repo/template.json
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency react-i18next to ^11.7.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency rollup to ^2.26.6
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(brick_next): refs NEXT_BUILDER-295
  packages/brick-container/tools/report_installed_micro_app.py
Due: none

chore(deps): Update dependency mini-css-extract-plugin to ^0.11.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): update brick-dll manifest.snapshot.json
  .size-limit.js
  dll/ace/package.json
  dll/d3/package.json
  dll/echarts/package.json
  packages/brick-container/package.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-dll/package.json
  packages/brick-icons/package.json
  packages/brick-kit/package.json
  packages/brick-types/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/dompurify to ^2.0.4
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(create-next-repo): update snapshot
  packages/create-next-repo/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
Due: none

test(): e2e testing temporary use 192.168.110.86
  package.json
Due: prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.161
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency meow to ^7.1.1
  packages/brick-container/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency source-map-loader to ^1.1.0
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency copy-webpack-plugin to ^6.0.4
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(onBeforePageLeave): support lifeCycle.onBeforePageLeave and history.block
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/__mocks__/LocationContext.ts
  packages/brick-kit/src/historyExtended.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.4.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-merge to ^5.1.3
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
