Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency @easyops-cn/api-documenter to ^7.9.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.7.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^5.6.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/d3 to ^6.1.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(colored-pseudo-3d): icons
  .size-limit.js
  packages/brick-icons/src/icons/colored-pseudo-3d/aix-physical-machine.svg
  packages/brick-icons/src/icons/colored-pseudo-3d/linux-physical-machine.svg
  packages/brick-icons/src/icons/colored-pseudo-3d/linux-virtual-machine.svg
  packages/brick-icons/src/icons/colored-pseudo-3d/vpc-new.svg
  packages/brick-icons/src/icons/colored-pseudo-3d/vpc.svg
  packages/brick-icons/src/icons/colored-pseudo-3d/win-physical-machine.svg
  packages/brick-icons/src/icons/colored-pseudo-3d/win-virtual-machine.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): update @easyops-cn/brick-next-pipes
  packages/brick-utils/package.json
  packages/next-docs/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): fix link hover style
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/var.less
Due: prettier --write

chore(deps): Update dependency babel-loader to ^8.2.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): new ApiAnalysis
  packages/brick-container/src/index.tsx
  packages/brick-dll/manifest.snapshot.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/easyops-analytics/README.md
  packages/easyops-analytics/package.json
  packages/easyops-analytics/rollup.config.js
  packages/easyops-analytics/src/ApiAnalysis.spec.ts
  packages/easyops-analytics/src/ApiAnalysis.ts
  packages/easyops-analytics/src/index.ts
  packages/easyops-analytics/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.11.4
  package.json
  yarn.lock
Due: prettier --write

feat(): load bricks on demand by route
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/__mocks__/LocationContext.ts
  packages/brick-kit/src/core/getSubStoryboardByRoute.spec.ts
  packages/brick-kit/src/core/getSubStoryboardByRoute.ts
  packages/brick-utils/src/asyncProcessStoryboard.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
  packages/brick-utils/src/scanBricksInStoryboard.spec.ts
  packages/brick-utils/src/scanBricksInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): prefetch deps of full storyboard during idle time
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-utils/src/loadScript.spec.ts
  packages/brick-utils/src/loadScript.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/fs-extra to ^9.0.4
  package.json
  yarn.lock
Due: prettier --write

feat(icons): icons
  packages/brick-icons/src/icons/edit.svg
  packages/brick-icons/src/icons/info-circle-o.svg
Due: none

chore(deps): Update dependency webpack-merge to ^5.4.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.3.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less-loader to ^7.1.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(report_package): 安装NB包和NT包时，也上报 refs NEXT_BUILDER-448
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-container/tools/report_installed_brick_next_package.py
  packages/build-config-factory/template/deploy/install_postscript.sh
Due: none

chore(): add upload icon
  packages/brick-icons/src/icons/upload.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency @testing-library/jest-dom to ^5.11.6
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency copy-webpack-plugin to ^6.3.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.33.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency yargs to ^16.1.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(renovate): add @svgr/* as a group of packages
  renovate.json
Due: prettier --write

chore(deps): Update svgr packages to ^5.5.0
  packages/brick-icons/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(custom-templates): fix when refPosition is negative
  packages/brick-kit/src/core/CustomTemplates.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.8.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

feat(custom-templates): support to proxy mergeable properties
  etc/brick-types.api.md
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/__snapshots__/CustomTemplates.spec.ts.snap
  packages/brick-kit/src/core/collectRefsInTemplate.spec.ts
  packages/brick-kit/src/core/collectRefsInTemplate.ts
  packages/brick-kit/src/core/internalInterfaces.ts
  packages/brick-kit/src/core/propertyMerge.spec.ts
  packages/brick-kit/src/core/propertyMerge.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): set colored svg icon
  packages/brick-icons/rollup.config.js
  packages/brick-icons/src/icons/colored-common/upload.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(custom-templates): fix when a custom template has no proxy
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/CustomTemplates.ts
  packages/brick-kit/src/core/__snapshots__/CustomTemplates.spec.ts.snap
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): fetch user info only when it's invoked
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.spec.ts
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fetch magic brick config only when it's invoked
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.8.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write
