Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): expose rollup plugins
  packages/rollup-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): expose transformModulePatterns
  packages/jest-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add pre-build for lazy bricks
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/addPreBuildScriptForBricks.js
  packages/dev-dependencies/patches/addPreBuildScriptForBricks.spec.js
  packages/dev-dependencies/patches/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): build cjs for next-libs
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/updateBuildNextLibs.js
  packages/dev-dependencies/patches/updateBuildNextLibs.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add an env of commonjs
  packages/babel-preset-next/index.js
  packages/build-next-libs/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
  packages/build-next-libs/CHANGELOG.md
  packages/build-next-libs/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/jest-config-factory/CHANGELOG.md
  packages/jest-config-factory/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
Due: prettier --write

feat(theme): add theme easyops-8.0 ui Refs BRICK_STORE-2253
  etc/brick-types.api.md
  packages/brick-kit/src/themeAndMode.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): load bricks in dynamic useBrick
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

Revert "fix(): load bricks in dynamic useBrick"
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix tracking context in forwarded useBrick
  packages/brick-kit/src/BrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): update brick next which resolved a major bug
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/updateBrickNext.js
  packages/dev-dependencies/patches/updateBrickNext.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.29.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(): fix pre-build script for bricks
  packages/brick-scripts/template/bricks-pkg.json
  packages/dev-dependencies/patches/addPreBuildScriptForBricks.js
  packages/dev-dependencies/patches/addPreBuildScriptForBricks.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

wip
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LazyBrickRegistry.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/loadScript.ts
  packages/brick-utils/src/resolveSequenceJobs.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.56.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): collect useProvider in onChange of context
  packages/brick-utils/src/scanStoryboard.spec.ts
  packages/brick-utils/src/scanStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency i18next to ^20.4.0
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(): report na by micro_app_service, ucpro_desktop_service deprecated
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-container/tools/report_installed_micro_app.py
Due: none

fix(): allow transform and inject in useBrick at the same time
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-container/serve/getEnv.js
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/checkIf.spec.ts
  packages/brick-kit/src/checkIf.ts
  packages/brick-kit/src/internal/devtools.ts
  packages/brick-kit/src/internal/setProperties.spec.ts
  packages/brick-kit/src/internal/setProperties.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
  packages/brick-utils/src/placeholder/compile.spec.ts
  packages/brick-utils/src/placeholder/compile.ts
  packages/brick-utils/src/placeholder/index.ts
  packages/brick-utils/src/placeholder/interfaces.ts
  packages/brick-utils/src/placeholder/lexical.spec.ts
  packages/brick-utils/src/placeholder/lexical.ts
  packages/brick-utils/src/placeholder/syntax.spec.ts
  packages/brick-utils/src/placeholder/syntax.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update docs etc
  etc/brick-kit.api.md
Due: prettier --write

feat(): widget icon support
  packages/brick-icons/src/icons/colored-common/address-list.svg
  packages/brick-icons/src/icons/colored-common/blue-star.svg
  packages/brick-icons/src/icons/colored-common/green-add.svg
  packages/brick-icons/src/icons/colored-common/purple-heart.svg
  packages/brick-icons/src/icons/colored-common/video.svg
  packages/brick-icons/src/icons/colored-common/yellow-label.svg
Due: none

chore(deps): Update babel monorepo to ^7.15.3
  package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-dll/package.json
  packages/brick-utils/package.json
  yarn.lock
Due: prettier --write

chore(): update micro_app_service dependency
  packages/brick-container/deploy/package.conf.yaml
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.14.13
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency ws to v8
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

feat(): support atob and btoa in evaluations
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/supply.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add icon
  .size-limit.js
  packages/brick-icons/src/icons/monitor/cpu.svg
  packages/brick-icons/src/icons/monitor/disk.svg
  packages/brick-icons/src/icons/monitor/host.svg
  packages/brick-icons/src/icons/monitor/memory.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(icon): update size-limit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): http请求可以指定返回数据类型
  packages/brick-container/src/index.tsx
  packages/brick-http/src/InterceptorManager.spec.ts
  packages/brick-http/src/InterceptorManager.ts
  packages/brick-http/src/__snapshots__/http.spec.ts.snap
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update size-limit packages to ^5.0.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
