Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): fix a problem when serve with local templates
  packages/brick-container/serve/serveLocal.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): add icons
  packages/brick-icons/src/icons/agile/agile-product-icon.svg
  packages/brick-icons/src/icons/agile/business-scene-second-menu.svg
  packages/brick-icons/src/icons/agile/domain-model-second-menu.svg
  packages/brick-icons/src/icons/agile/product-module--second-menu.svg
  packages/brick-icons/src/icons/agile/product-overview-second-menu.svg
  packages/brick-icons/src/icons/agile/research-materials-second-menu.svg
Due: none

chore(): add icons
  packages/brick-icons/src/icons/agile/agile-product-icon.svg
  packages/brick-icons/src/icons/agile/business-scene-second-menu.svg
  packages/brick-icons/src/icons/agile/domain-model-second-menu.svg
  packages/brick-icons/src/icons/agile/product-module-second-menu.svg
  packages/brick-icons/src/icons/agile/product-overview-second-menu.svg
  packages/brick-icons/src/icons/agile/research-materials-second-menu.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): fix error handling for multi-rendering
  packages/brick-kit/src/core/CustomForms/CustomFormContext.ts
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
  packages/brick-kit/src/core/CustomTemplates/CustomTemplateContext.ts
  packages/brick-kit/src/core/CustomTemplates/expandCustomTemplate.ts
  packages/brick-kit/src/core/FlowApi.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/StoryboardContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): make new error class instead of use `cause`
  packages/brick-kit/src/core/FlowApi.ts
  packages/brick-kit/src/core/StoryboardContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): make new error class instead of use `cause`
  packages/easyops-runtime/src/flowApi/FlowApi.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
  packages/runtime/src/internal/data/DataStore.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): mount menu after pre-fetch
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update style
  packages/theme/src/variables.css
  packages/theme/src/version/ui-v8-2.css
Due: prettier --write

chore(): update style
  packages/brick-container/src/styles/variables.css
  packages/brick-container/src/styles/version/ui-v8-2.css
Due: prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore(): add css variable
  packages/theme/src/variables.css
  packages/theme/src/version/ui-v8-2.css
Due: prettier --write

chore(): add css variables
  packages/brick-container/src/styles/variables.css
  packages/brick-container/src/styles/version/ui-v8-2.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore():添加图标
  packages/brick-icons/src/icons/second-menu/access-service-drm-second-menu.svg
  packages/brick-icons/src/icons/second-menu/app-resource-atlas-second-menu.svg
  packages/brick-icons/src/icons/second-menu/cache-service-drm-second-menu.svg
  packages/brick-icons/src/icons/second-menu/child-app-system-second-menu.svg
  packages/brick-icons/src/icons/second-menu/parent-app-system-second-menu.svg
  packages/brick-icons/src/icons/second-menu/queue-service-drm-second-menu.svg
  packages/brick-icons/src/icons/third-menu/access-service-drm-third-menu.svg
  packages/brick-icons/src/icons/third-menu/app-resource-atlas-third-menu.svg
  packages/brick-icons/src/icons/third-menu/cache-service-drm-third-menu.svg
  packages/brick-icons/src/icons/third-menu/child-app-system-third-menu.svg
  packages/brick-icons/src/icons/third-menu/parent-app-system-third-menu.svg
  packages/brick-icons/src/icons/third-menu/queue-service-drm-third-menu.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(css): update --slide-up-shadow
  packages/theme/src/default.css
  packages/theme/src/version/ui-v8-2.css
Due: prettier --write

fix(css): update --slide-up-shadow
  packages/brick-container/src/styles/theme/default.css
  packages/brick-container/src/styles/version/ui-v8-2.css
Due: prettier --write

fix(): handle local settings for non-standalone apps
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

feat(): cli创建brick模板时支持自由选择是否使用国际化，以便加载不同的模板
  packages/yo/src/plopfile.js
  packages/yo/src/templates/brick/index.tsx.hbs
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): set ui v8-2 on html instead of body
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/setUIClassName.spec.ts
  packages/runtime/src/setUIClassName.ts
  packages/runtime/src/setUIVersion.spec.ts
  packages/runtime/src/setUIVersion.ts
  packages/theme/src/variables.css
  packages/theme/src/version/ui-v8-2.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): set ui v8-2 on html instead of body
  packages/brick-container/src/styles/variables.css
  packages/brick-container/src/styles/version/ui-v8-2.css
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/setUIClassName.spec.ts
  packages/brick-kit/src/core/setUIClassName.ts
  packages/brick-kit/src/core/setUIVersion.spec.ts
  packages/brick-kit/src/core/setUIVersion.ts
  packages/custom-antd-styles/src/card.less
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

chore(): 新增图标 refs: MONITOR-7066
  packages/brick-icons/src/icons/second-menu/application-services-intranet-second-menu.svg
  packages/brick-icons/src/icons/second-menu/application-services-public-network-second-menu.svg
  packages/brick-icons/src/icons/second-menu/business-flow-second-menu.svg
  packages/brick-icons/src/icons/second-menu/custom-dial-test-second-menu.svg
  packages/brick-icons/src/icons/second-menu/platform-services-second-menu.svg
  packages/brick-icons/src/icons/second-menu/public-network-dial-test-machine-second-menu.svg
  packages/brick-icons/src/icons/third-menu/application-services-intranet-third-menu.svg
  packages/brick-icons/src/icons/third-menu/application-services-public-network-third-menu.svg
  packages/brick-icons/src/icons/third-menu/business-flow-third-menu.svg
  packages/brick-icons/src/icons/third-menu/custom-dial-test-third-menu.svg
  packages/brick-icons/src/icons/third-menu/platform-services-third-menu.svg
  packages/brick-icons/src/icons/third-menu/public-network-dial-test-machine-third-menu.svg
Due: none

fix(): add new css variables for tabs
  packages/theme/src/variables.css
  packages/theme/src/version/ui-v8-2.css
Due: prettier --write

fix(serve): allow set COOKIE_SAME_SITE_NONE
  packages/brick-container/serve/getEnv.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add new css variables for tabs
  packages/brick-container/src/styles/variables.css
  packages/brick-container/src/styles/version/ui-v8-2.css
Due: prettier --write
