Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add icon
  .size-limit.js
  packages/brick-icons/src/icons/contact-customer.svg
  packages/brick-icons/src/icons/phone-circle.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(size-limit): ignore patterns not found
  packages/build-config-factory/src/size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): omit coveralls temporarily
  .github/workflows/ci.yml
  packages/build-config-factory/package.json
Due: prettier --write

chore(): bump version only
  packages/brick-icons/README.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(deps): Update dependency i18next to ^20.2.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^7.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(ci): resume coveralls
  .github/workflows/ci.yml
Due: none

feat(): support to keep hash in push/replace query
  etc/brick-types.api.md
  packages/brick-kit/src/historyExtended.spec.ts
  packages/brick-kit/src/historyExtended.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support context-menu of root node
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
  packages/editor-bricks-helper/src/processors/isCurrentTargetByClassName.spec.ts
  packages/editor-bricks-helper/src/processors/isCurrentTargetByClassName.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): allow brick name without a hyphen for provider
  packages/brick-scripts/src/questions/askBrickName.spec.ts
  packages/brick-scripts/src/questions/askBrickName.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): support to override app in shared menus
  etc/brick-types.api.md
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/menu.spec.ts
  packages/brick-kit/src/core/menu.ts
  packages/brick-kit/src/evaluate.spec.ts
  packages/brick-kit/src/evaluate.ts
  packages/brick-kit/src/setProperties.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/runtime.ts
  packages/brick-utils/src/placeholder/compile.spec.ts
  packages/brick-utils/src/placeholder/compile.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency react-i18next to ^11.8.14
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.11.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.5.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency http-proxy-middleware to ^1.3.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.8.15
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/jest to ^26.0.23
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/node to ^12.20.11
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to ^4.10.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(menu): restrict menu with app linked
  packages/brick-kit/src/core/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency rollup to ^2.46.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): refine builder data manager
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/processors/getRelatedNodesBasedOnEvents.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests for EditorContainer
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.spec.tsx
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): re-enable coverage for EditorContainer
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @next-bricks/basic-providers to ^1.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/dompurify to ^2.2.2
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.14.0
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.121.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency antd to ~4.15.4
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency fs-extra to v10
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/easyops-illustrations/package.json
  packages/next-docs/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency yargs to v17
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.14.1
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
