Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency antd to ~4.15.5
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.23.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(): fix migation of husky
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency cypress to ^7.3.0
  package.json
  yarn.lock
Due: prettier --write

feat(): remove header and footer mountpoint
  etc/brick-types.api.md
  packages/brick-container/src/index.ejs
  packages/brick-container/src/index.tsx
  packages/brick-container/src/styles/default.css
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support to fetch menu by menu id
  etc/brick-kit.api.md
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/core/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v7.3.0
  docker-compose.yml
Due: none

chore(release): publish
  packages/custom-antd-styles/src/collapse.less
  packages/custom-antd-styles/src/legacy-form.less
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

test(): update tests after upgraded prettier
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
Due: none

fix(): set api-gateway as public scoped sdk
  packages/public-scoped-sdk/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/public-scoped-sdk/CHANGELOG.md
  packages/public-scoped-sdk/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

chore(workflow): refine ci cache
  .github/workflows/ci.yml
Due: none

fix(): edit antd-form-labele-defaultCss Closes BRICK_STORE-2091
  packages/custom-antd-styles/src/legacy-form.less
Due: none

fix(): use new business-website bricks
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): add scripts of building stories and editors
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/src/loaders/loadTemplate.ts
  packages/brick-scripts/template/bricks-pkg.json
  packages/brick-scripts/template/bricks-pkg/src/editor-bricks/index.ts
  packages/brick-scripts/template/bricks-pkg/webpack.editors.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update babel monorepo to ^7.14.2
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.169
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/node to ^12.20.13
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): Fix the antd style impact button Closes BRICK_STORE-2091
  packages/custom-antd-styles/src/legacy-form.less
Due: none

chore(deps): Update dependency @types/react-dom to ^16.9.13
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): Fixed 8px influence style issue Closes BRICK_STORE-2091
  packages/custom-antd-styles/src/legacy-form.less
Due: none

chore(deps): Update dependency less-loader to v9
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(renovate): disable updating less-loader
  renovate.json
Due: prettier --write

fix(): fix warn of native prop in tpl
  packages/brick-kit/src/core/CustomTemplates/registerCustomTemplate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @testing-library/react to ^11.2.7
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.48.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^20.2.4
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rc-tabs to ~11.9.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.24.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.14.3
  package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency antd to ~4.15.6
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

feat(): support to async load icons and refine dll js name
  .size-limit.js
  packages/brick-container/src/index.tsx
  packages/brick-container/webpack.common.js
  packages/brick-container/webpack.dev.js
  packages/brick-container/webpack.prod.js
  packages/brick-dll/webpack.dll.js
  packages/brick-icons/.gitignore
  packages/brick-icons/package.json
  packages/brick-icons/rollup.config.js
  packages/brick-icons/scripts/pre-build.js
  packages/brick-icons/src/BrickIcon.spec.tsx
  packages/brick-icons/src/BrickIcon.tsx
  packages/brick-icons/src/declarations.d.ts
  packages/brick-icons/src/index.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
  packages/rollup-config-factory/src/index.js
  packages/webpack-config-factory/src/dll/webpack.dll.factory.js
  packages/webpack-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine icons loading
  packages/brick-icons/package.json
  packages/brick-icons/src/BrickIcon.spec.tsx
  packages/brick-icons/src/BrickIcon.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

feat(): add easy-website icon
  .size-limit.js
  packages/brick-icons/src/icons/easy-website/alarm-analysis.svg
  packages/brick-icons/src/icons/easy-website/api-doc.svg
  packages/brick-icons/src/icons/easy-website/api-management.svg
  packages/brick-icons/src/icons/easy-website/artifact.svg
  packages/brick-icons/src/icons/easy-website/auto-discovery.svg
  packages/brick-icons/src/icons/easy-website/brick-builder.svg
  packages/brick-icons/src/icons/easy-website/cmdb-lifecycle.svg
  packages/brick-icons/src/icons/easy-website/cmdb-shared.svg
  packages/brick-icons/src/icons/easy-website/collection.svg
  packages/brick-icons/src/icons/easy-website/consume.svg
  packages/brick-icons/src/icons/easy-website/dashboard.svg
  packages/brick-icons/src/icons/easy-website/dim-analysis.svg
  packages/brick-icons/src/icons/easy-website/excellent.svg
  packages/brick-icons/src/icons/easy-website/failed-resource.svg
  packages/brick-icons/src/icons/easy-website/flow-control.svg
  packages/brick-icons/src/icons/easy-website/flow-monitor.svg
  packages/brick-icons/src/icons/easy-website/fuse.svg
  packages/brick-icons/src/icons/easy-website/guide.svg
  packages/brick-icons/src/icons/easy-website/health-view.svg
  packages/brick-icons/src/icons/easy-website/integration.svg
  packages/brick-icons/src/icons/easy-website/k8s.svg
  packages/brick-icons/src/icons/easy-website/low-code.svg
  packages/brick-icons/src/icons/easy-website/normal-sample.svg
  packages/brick-icons/src/icons/easy-website/online-store.svg
  packages/brick-icons/src/icons/easy-website/out-of-the-box-brick.svg
  packages/brick-icons/src/icons/easy-website/own-view.svg
  packages/brick-icons/src/icons/easy-website/product-team.svg
  packages/brick-icons/src/icons/easy-website/sample.svg
  packages/brick-icons/src/icons/easy-website/service-detect.svg
  packages/brick-icons/src/icons/easy-website/service-entry.svg
  packages/brick-icons/src/icons/easy-website/service-frame.svg
  packages/brick-icons/src/icons/easy-website/solution.svg
  packages/brick-icons/src/icons/easy-website/to-do.svg
  packages/brick-icons/src/icons/easy-website/trace.svg
  packages/brick-icons/src/icons/easy-website/user-communication.svg
  packages/brick-icons/src/icons/easy-website/visual-setting.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
