Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

feat(custom-antd-styles): 卡片、抽屉左右内间距调整
  packages/brick-container/src/styles/antd.less
  packages/custom-antd-styles/src/card.less
  packages/custom-antd-styles/src/drawer.less
  v3/styles-v3/src/index.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  v3/styles-v3/CHANGELOG.md
  v3/styles-v3/package.json
Due: prettier --write

feat(): monaco support parse keyword token
  packages/monaco-contributions/common.d.ts
  packages/monaco-contributions/common.js
  packages/monaco-contributions/package.json
  packages/monaco-contributions/typescript.js
  packages/monaco-contributions/yaml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(bricks-container): v8-top-menu-item-hover调整
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): export websocket client
  dll/editor-bricks-helper/manifest.snapshot.json
  etc/brick-kit.api.md
  packages/brick-container/src/index.tsx
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/index.ts
  packages/brick-kit/src/websocket/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): polyfill for Element::replaceChildren
  packages/brick-container/src/polyfill.ts
  packages/brick-container/src/replaceChildren.spec.ts
  packages/brick-container/src/replaceChildren.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

fix(): throw error if find importing deprecated v2 packages
  packages/build-next-bricks/src/isDeprecatedV2Packages.js
  packages/build-next-bricks/src/scanBricks.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): fix serve help
  packages/brick-container/serve/env.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

docs(): refine contributing guide
  CONTRIBUTING-V3.md
  CONTRIBUTING.md
  assets/next-core代码执行流程图.drawio
  assets/next-core代码执行流程图.png
Due: none

fix(): batch update error in template
  packages/runtime/src/internal/bindListeners.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore():新增资源孵化二级菜单图标
  packages/brick-icons/src/icons/second-menu/huawei-cloud-cloud-disk-evs-second-menu.svg
  packages/brick-icons/src/icons/second-menu/huawei-cloud-elastic-cloud-server-ecs-second-menu.svg
  packages/brick-icons/src/icons/second-menu/huawei-cloud-elastic-load-balancing-elb-second-menu.svg
  packages/brick-icons/src/icons/second-menu/huawei-cloud-elastic-public-network-ip-second-menu.svg
  packages/brick-icons/src/icons/second-menu/huawei-cloud-nat-gateway-second-menu.svg
  packages/brick-icons/src/icons/second-menu/huawei-cloud-object-storage-service-obs-second-menu.svg
  packages/brick-icons/src/icons/second-menu/huawei-cloud-virtual-private-cloud-vpc-second-menu.svg
  packages/brick-icons/src/icons/second-menu/huawei-cloud-virtual-private-network-vpn-second-menu.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): allow global access of brick packages
  declarations/global.d.ts
  packages/loader/src/standalone.spec.ts
  packages/loader/src/standalone.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine standalone bricks rendering
  etc/runtime.api.md
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/FormRenderer/expandFormRenderer.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/injected.ts
  packages/runtime/src/internal/mount.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): migrate eslint
  packages/eslint-config-next/index.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): upgrade babel settings
  packages/babel-preset-next/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): fix flaky test of trigger onPageLoad
  packages/runtime/src/internal/Renderer.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): put preview helpers in brick-container
  packages/brick-container/build.config.js
  packages/brick-container/package.json
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/preview/capture.ts
  packages/brick-container/src/preview/connect.spec.ts
  packages/brick-container/src/preview/connect.ts
  packages/brick-container/src/preview/initialize.spec.ts
  packages/brick-container/src/preview/initialize.ts
  packages/brick-container/src/preview/inspector.ts
  packages/brick-container/src/preview/interfaces.ts
  packages/brick-container/src/preview/resizeScreenshot.spec.ts
  packages/brick-container/src/preview/resizeScreenshot.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): load processors before compute menu data
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support v2 use v3 bricks with useBrick
  packages/brick-kit/src/BrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support v2 use v3 bricks with useBrick
  dll/editor-bricks-helper/manifest.snapshot.json
  etc/brick-kit.api.md
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): make v3 bricks compatible with Brick Next v2
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/react-runtime/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
Due: prettier --write

fix(): check useBrick factories existence
  packages/react-runtime/src/ReactUseBrick.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix renovate update
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/updateRenovateForV2.js
  packages/dev-dependencies/patches/updateRenovateForV2.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 表格样式错误 ref CD-5314
  packages/custom-antd-styles/src/table.less
Due: none

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write
