Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency eslint-plugin-react-hooks to v4.4.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

feat(): support walkAny unit function Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/walkAny.spec.ts
  packages/brick-utils/src/walkAny.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

feat(): loactionContext preFetchMenu Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): unit test update Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/core/LocationContext.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): delete walkAny Refs: NEXT_BUILDER-1459
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/walkAny.spec.ts
  packages/brick-utils/src/walkAny.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

refactor(mediaQuery): rename size to breakpoint
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/mediaQuery.spec.ts
  packages/brick-kit/src/internal/mediaQuery.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): set active node
  packages/editor-bricks-helper/src/hooks/useActiveNodeUid.spec.tsx
  packages/editor-bricks-helper/src/hooks/useActiveNodeUid.ts
  packages/editor-bricks-helper/src/index.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
Due: prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

feat(): useProviderHook契约收集
  packages/webpack-config-factory/package.json
  packages/webpack-config-factory/src/bricks/ScanUseProviderHookContractsPlugin.js
  packages/webpack-config-factory/src/bricks/webpack.contracts.factory.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(): use latest version of core-js for babel preset-env
  .size-limit.js
  packages/babel-preset-next/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): bump version only
  packages/brick-container/README.md
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency rc-virtual-list to ^3.4.6
  package.json
  yarn.lock
Due: prettier --write

feat(): support re-registering custom templates
  packages/brick-kit/src/core/CustomTemplates/expandCustomTemplate.spec.ts
  packages/brick-kit/src/core/CustomTemplates/registerCustomTemplate.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency concurrently to ^7.1.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): contract refactor
  etc/brick-types.api.md
  packages/brick-kit/src/core/CollectContracts.spec.ts
  packages/brick-kit/src/core/CollectContracts.ts
  packages/brick-kit/src/core/FlowApi.spec.ts
  packages/brick-kit/src/core/FlowApi.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/providers/CustomApi.spec.ts
  packages/brick-kit/src/providers/CustomApi.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): contract refactor
  .size-limit.js
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-kit/src/core/CollectContracts.spec.ts
  packages/brick-kit/src/core/CollectContracts.ts
  packages/brick-kit/src/core/FlowApi.spec.ts
  packages/brick-kit/src/core/FlowApi.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/providers/CustomApi.spec.ts
  packages/brick-kit/src/providers/CustomApi.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @testing-library/jest-dom to ^5.16.4
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(easyops-illustrations): 替换插画图片 Closes DESIGNER_ROUTINE-546
  packages/easyops-illustrations/src/images/default/browser-version-low-dark.png
  packages/easyops-illustrations/src/images/default/create-content-dark.png
  packages/easyops-illustrations/src/images/default/no-content-dark.png
  packages/easyops-illustrations/src/images/default/no-history-dark.png
  packages/easyops-illustrations/src/images/default/search-empty-dark.png
  packages/easyops-illustrations/src/images/exception/http-403-dark.png
  packages/easyops-illustrations/src/images/exception/http-404-dark.png
  packages/easyops-illustrations/src/images/exception/http-500-dark.png
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support previewing template by settings
  packages/brick-container/src/index.tsx
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/developHelper.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update docs etc
  etc/brick-kit.api.md
Due: prettier --write

chore(): increase size-limit for brick-dll
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

chore(deps): Update babel monorepo to ^7.17.9
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-dll/package.json
  packages/build-next-libs/package.json
  packages/cook/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): use an empty placeholder for template preview
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): reset css for layout-business
  packages/custom-antd-styles/src/form.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): 修改上报micro app脚本,支持上报permissions
  packages/brick-container/tools/report_installed_micro_app.py
Due: none

fix(): navigation style
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

fix(): support service name
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-kit/src/core/FlowApi.spec.ts
  packages/brick-kit/src/core/FlowApi.ts
  packages/brick-kit/src/core/interfaces.ts
  packages/brick-kit/src/providers/CustomApi.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
