Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency chokidar to ^3.5.3
  packages/brick-container/package.json
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.163.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^12.2.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): input number style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/input.less
Due: prettier --write

chore(contributing): 添加next-core代码执行流程图
  CONTRIBUTING.md
  assets/next-core代码执行流程图.drawio
  assets/next-core代码执行流程图.png
Due: prettier --write

chore(contributing): 添加背景颜色
  assets/next-core代码执行流程图.drawio
  assets/next-core代码执行流程图.png
Due: none

chore(contributing): 修复线条颜色丢失问题
  assets/next-core代码执行流程图.drawio
  assets/next-core代码执行流程图.png
Due: none

feat(): add icon
  packages/brick-icons/src/icons/cmdb/permission-instance-create.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-delete.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-edit.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-export.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-interview.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-record.svg
Due: none

fix(): edit size limit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency cypress to ^9.3.1
  package.json
  yarn.lock
Due: prettier --write

feat(): checkbox style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v9.3.1
  docker-compose.yml
Due: none

feat(): description style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/descriptions.less
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.164.0
  package.json
  yarn.lock
Due: prettier --write

feat(): move to colored-common
  packages/brick-icons/src/icons/colored-common/permission-instance-create.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-delete.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-edit.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-export.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-interview.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-record.svg
Due: none

cmdb-instance-detial style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

feat(): delete icons
  packages/brick-icons/src/icons/cmdb/permission-instance-create.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-delete.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-edit.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-export.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-interview.svg
  packages/brick-icons/src/icons/cmdb/permission-instance-record.svg
Due: none

fix(): modify css variables
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(deps): Update dependency lint-staged to ^12.2.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency jest-websocket-mock to ^2.3.0
  package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.16.10
  package.json
  packages/babel-preset-next/package.json
  packages/build-next-libs/package.json
  packages/cook/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): replace icons
  packages/brick-icons/src/icons/colored-common/cmdb-instance-create.svg
  packages/brick-icons/src/icons/colored-common/cmdb-instance-delete.svg
  packages/brick-icons/src/icons/colored-common/cmdb-instance-edit.svg
  packages/brick-icons/src/icons/colored-common/cmdb-instance-export.svg
  packages/brick-icons/src/icons/colored-common/cmdb-instance-interview.svg
  packages/brick-icons/src/icons/colored-common/cmdb-instance-record.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-create.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-delete.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-edit.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-export.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-interview.svg
  packages/brick-icons/src/icons/colored-common/permission-instance-record.svg
Due: none

fix(): fix history push in standalone apps
  packages/brick-kit/src/internal/historyExtended.spec.ts
  packages/brick-kit/src/internal/historyExtended.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support css variables of rank table
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): support css variables of chart axis
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

feat(): date picker style
  packages/brick-container/src/styles/antd.less
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/calendar.less
  packages/custom-antd-styles/src/date-picker.less
  packages/custom-antd-styles/src/var.less
Due: prettier --write

feat(): cmdb-instance-modal style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

fix(): modify transfer styles
  packages/custom-antd-styles/src/transfer.less
Due: none

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.165.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.16.11
  packages/babel-preset-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^12.2.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
