Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency yargs to ^16.2.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.34.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.8.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

refactor(brick-icons): move .easyops-icon styles to @easyops/brick-icons
  packages/brick-container/package.json
  packages/brick-container/src/index.tsx
  packages/brick-container/src/styles/default.css
  packages/brick-icons/package.json
  packages/brick-icons/rollup.config.js
  packages/brick-icons/src/styles/index.css
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): patch antd
  packages/dev-dependencies/extract.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): passing current route document id to app bar
  etc/brick-types.api.md
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency husky to ^4.3.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.8.0
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency copy-webpack-plugin to ^6.4.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency js-yaml to ^3.14.1
  packages/brick-container/package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  packages/brick-utils/package.json
  packages/build-config-factory/package.json
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^6.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(): fix types after upgraded react-i18next
  etc/brick-kit.api.md
  packages/brick-kit/src/ErrorBoundary.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @ant-design/icons to ^4.3.0
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.5.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.3.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency source-map-loader to ^1.1.3
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency ws to ^7.4.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.9.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency execa to v5
  packages/brick-scripts/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript-json-schema to ^0.45.0
  packages/brick-types/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.8.1
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-merge to ^5.4.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

test(e2e): support running in docker
  docker-compose.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.8.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.12.10
  package.json
  packages/babel-preset-next/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(report_brick_next_package): 上报NB包时，先检查org是否存在 refs INSTANCE-1280
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(illustrations): brick-container support illustrations
  __jest__/setup.ts
  __mocks__/fileMock.js
  declarations/global.d.ts
  etc/brick-kit.api.md
  jest.config.js
  packages/brick-container/package.json
  packages/brick-container/webpack.common.js
  packages/brick-dll/manifest.snapshot.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  packages/brick-kit/src/BrickWrapper.spec.tsx
  packages/brick-kit/src/BrickWrapper.tsx
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.spec.tsx
  packages/brick-kit/src/EasyopsEmpty/EasyopsEmpty.tsx
  packages/easyops-illustrations/.gitignore
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/README.md
  packages/easyops-illustrations/package.json
  packages/easyops-illustrations/rollup.config.js
  packages/easyops-illustrations/scripts/pre-build.js
  packages/easyops-illustrations/src/Illustrations.spec.tsx
  packages/easyops-illustrations/src/Illustrations.ts
  packages/easyops-illustrations/src/images/default/browser-version-low.png
  packages/easyops-illustrations/src/images/default/create-content.png
  packages/easyops-illustrations/src/images/default/no-content.png
  packages/easyops-illustrations/src/images/default/no-history.png
  packages/easyops-illustrations/src/images/default/search-empty.png
  packages/easyops-illustrations/src/images/exception/http-403.png
  packages/easyops-illustrations/src/images/exception/http-404.png
  packages/easyops-illustrations/src/images/exception/http-500.png
  packages/easyops-illustrations/src/images/feedback/exception.png
  packages/easyops-illustrations/src/images/feedback/fail.png
  packages/easyops-illustrations/src/images/feedback/info.png
  packages/easyops-illustrations/src/images/feedback/success.png
  packages/easyops-illustrations/src/index.ts
  packages/easyops-illustrations/tsconfig.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @babel/preset-react to ^7.12.10
  packages/babel-preset-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-merge to ^5.5.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(nb_report): 删除NB包特性 NEXT_BUILDER-591
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): fix table body sort bg in dark theme
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/var.less
Due: prettier --write

chore(renovate): re-enable antd and disable copy-webpack-plugin major which requires webpack 5
  renovate.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(next-core): Refs NEXT_BUILDER-554
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-container/tools/report_installed_micro_app.py
Due: none

chore(deps): Update dependency @types/fs-extra to ^9.0.5
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
