Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

feat(): get smart display for an evaluable string
  packages/brick-dll/manifest.snapshot.json
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/smartDisplayForEvaluableString.spec.ts
  packages/brick-utils/src/smartDisplayForEvaluableString.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): fix smart display for evaluable string
  packages/brick-utils/src/smartDisplayForEvaluableString.spec.ts
  packages/brick-utils/src/smartDisplayForEvaluableString.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add icon
  packages/brick-icons/src/icons/colored-common/danger-0.svg
  packages/brick-icons/src/icons/colored-common/danger-1.svg
  packages/brick-icons/src/icons/colored-common/danger-2.svg
  packages/brick-icons/src/icons/colored-common/danger-3.svg
  packages/brick-icons/src/icons/colored-common/danger-4.svg
  packages/brick-icons/src/icons/colored-common/danger-5.svg
  packages/brick-icons/src/icons/colored-common/documents.svg
  packages/brick-icons/src/icons/colored-common/iptables.svg
  packages/brick-icons/src/icons/colored-common/regexp-icon.svg
  packages/brick-icons/src/icons/colored-common/string-icon.svg
Due: none

feat(builder-data-manager): useRouteList
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/editor-bricks-helper/src/hooks/useRouteList.spec.tsx
  packages/editor-bricks-helper/src/hooks/useRouteList.ts
  packages/editor-bricks-helper/src/index.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 文档生成属性列表时，把之前的通过 set，get 方式声明的属性也返回
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): size limit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(brick-icons): change okr icon
  packages/brick-icons/src/icons/app/okr.svg
Due: none

feat(): parse lifeCycle
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(): update icon
  packages/brick-icons/src/icons/colored-common/regexp-icon.svg
  packages/brick-icons/src/icons/colored-common/string-icon.svg
Due: none

chore(deps): Update dependency typedoc-plugin-no-inherit to ^1.2.2
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): update snapshot after upgraded babel
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(deps): Update dependency typescript to ~4.2.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): fix types after upgraded typescript to 4.2
  etc/brick-kit.api.md
  packages/brick-kit/src/ErrorBoundary.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency antd to ^4.13.0
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to ^4.10.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): update dll snapshot after upgraded antd
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(deps): Update dependency @microsoft/api-extractor to ^7.13.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.106.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency antd to ^4.13.1
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency ws to ^7.4.4
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.14.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to ^4.10.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lodash to ^4.17.21
  package.json
  packages/brick-container/package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  packages/brick-utils/package.json
  packages/build-config-factory/package.json
  packages/editor-bricks-helper/package.json
  yarn.lock
Due: prettier --write

chore(): add a workflow to update dll manifest
  .github/workflows/update-dll-manifest.yml
Due: none

chore(workflow): refine workflow of updating dll manfiest
  .github/workflows/update-dll-manifest.yml
Due: none

chore(workflow): fix workflow of updating dll manfiest
  .github/workflows/update-dll-manifest.yml
Due: none

chore(): update dll manifest
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

feat(): support to manually stop interval of providers
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/makeProviderRefreshable.spec.ts
  packages/brick-kit/src/makeProviderRefreshable.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency react-i18next to ^11.8.9
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.17.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.13.10
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

Revert "Merge pull request #165 from easyops-cn/renovate/typescript-4.x"
  etc/brick-kit.api.md
  package.json
  packages/brick-kit/src/ErrorBoundary.tsx
  packages/dev-dependencies/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
