Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

fix(): polyfill for replaceChildren
  packages/brick-container/src/polyfill.ts
  packages/brick-container/src/replaceChildren.spec.ts
  packages/brick-container/src/replaceChildren.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): load bricks in scripts
  packages/preview/src/bootstrap.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix provider callback and format
  packages/doc-helpers/package.json
  packages/doc-helpers/src/yamlToHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
Due: prettier --write

fix(): fix processors with devtools
  packages/runtime/src/internal/compute/evaluate.spec.ts
  packages/runtime/src/internal/compute/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore(): 新增菜单相关icon Closes CMDB_INSTANCE-430
  packages/brick-icons/src/icons/customer/automate-operation.svg
  packages/brick-icons/src/icons/customer/cmdb-management.svg
  packages/brick-icons/src/icons/customer/command-dispatch-management.svg
  packages/brick-icons/src/icons/customer/comprehensive-support-management.svg
  packages/brick-icons/src/icons/customer/exception-event-management.svg
  packages/brick-icons/src/icons/customer/it-service.svg
  packages/brick-icons/src/icons/customer/maintenance-management.svg
  packages/brick-icons/src/icons/customer/maintenance-test-management.svg
  packages/brick-icons/src/icons/customer/network-management.svg
  packages/brick-icons/src/icons/customer/resource-application-management.svg
  packages/brick-icons/src/icons/customer/run-operation-management.svg
  packages/brick-icons/src/icons/customer/run.svg
  packages/brick-icons/src/icons/customer/safety.svg
  packages/brick-icons/src/icons/customer/system-setting.svg
  packages/brick-icons/src/icons/customer/user-management.svg
  packages/brick-icons/src/icons/customer/work-order-management.svg
  packages/brick-icons/src/icons/customer/workbench.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): specify localBrickFolders instead of rootDir
  packages/serve-helpers/index.d.ts
  packages/serve-helpers/src/getBrickPackages.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): allow set brick folders
  .gitignore
  CONTRIBUTING.md
  packages/brick-container/package.json
  packages/brick-container/serve/env.js
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/middlewares/bootstrapJson.js
  packages/brick-container/serve/middlewares/getMiddlewares.js
  packages/brick-container/serve/middlewares/serveBricksWithVersions.js
  packages/brick-container/serve/middlewares/standaloneBootstrapJson.js
  packages/brick-container/serve/utils/getLocalBrickFolders.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/serve-helpers/CHANGELOG.md
  packages/serve-helpers/package.json
Due: prettier --write

fix(): add shared packages
  packages/webpack/src/RuntimePlugin.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add parts for brick docs
  packages/brick-manifest/index.d.ts
  packages/build-next-bricks/src/makeBrickManifest.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-manifest/CHANGELOG.md
  packages/brick-manifest/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/webpack/CHANGELOG.md
  packages/webpack/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): use a previous version of glob to avoid issues of yarn with package name alias
  packages/brick-container/package.json
  packages/brick-container/serve/env.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

fix(): fix state store maybe not found for useBrick in templates
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/compute/listenOnTrackingContext.spec.ts
  packages/runtime/src/internal/compute/listenOnTrackingContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): ignore fails of useBrick rendering when render id changed
  etc/runtime.api.md
  packages/react-runtime/src/ReactUseBrick.spec.tsx
  packages/react-runtime/src/ReactUseBrick.tsx
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support appending "Same-Site: None" for cookies
  packages/brick-container/serve/env.js
  packages/brick-container/serve/getProxy.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix nested templates with proxy properties
  packages/runtime/src/CustomTemplates.spec.ts
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/FormRenderer/expandFormRenderer.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/compute/computeRealProperties.spec.ts
  packages/runtime/src/internal/compute/computeRealProperties.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

docs(): add docs about development [skip ci]
  CONTRIBUTING.md
Due: none

feat(): v3 support auto build & push in preivew
  etc/runtime.api.md
  packages/runtime/src/internal/interfaces.ts
  packages/runtime/src/internal/secret_internals.spec.ts
  packages/runtime/src/internal/secret_internals.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): bypass functions when compute expressions
  packages/runtime/src/internal/CustomTemplates/setupUseBrickInTemplate.spec.ts
  packages/runtime/src/internal/CustomTemplates/setupUseBrickInTemplate.ts
  packages/runtime/src/internal/compute/computeRealValue.spec.ts
  packages/runtime/src/internal/compute/computeRealValue.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): keep peer dependencies not changed
  packages/monaco-contributions/package.json
Due: prettier --write

chore(): 新增icon图标
  packages/brick-icons/src/icons/customer/automate-operation.svg
  packages/brick-icons/src/icons/customer/cmdb-management.svg
  packages/brick-icons/src/icons/customer/large-screen.svg
  packages/brick-icons/src/icons/customer/system-setting.svg
  packages/brick-icons/src/icons/customer/work-order-management.svg
  packages/brick-icons/src/icons/customer/workorder-management.svg
Due: none

fix(): no auth guard for offline usage
  packages/brick-container/serve/utils/injectIndexHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): icon更换
  packages/brick-icons/src/icons/customer/automate-operation.svg
  packages/brick-icons/src/icons/customer/cmdb-management.svg
  packages/brick-icons/src/icons/customer/it-service.svg
  packages/brick-icons/src/icons/customer/large-screen.svg
  packages/brick-icons/src/icons/customer/run.svg
  packages/brick-icons/src/icons/customer/safety.svg
  packages/brick-icons/src/icons/customer/system-setting.svg
  packages/brick-icons/src/icons/customer/workbench.svg
  packages/brick-icons/src/icons/customer/workorder-management.svg
Due: none

fix(): yarn serve:playground run failed
  packages/brick-playground/serve/bootstrapJson.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
Due: prettier --write

chore(): icon颜色调整
  packages/brick-icons/src/icons/customer/automate-operation.svg
Due: none

fix(): support live reload (currently only for local micro-apps)
  packages/brick-container/package.json
  packages/brick-container/serve/env.js
  packages/brick-container/serve/index.js
  packages/brick-container/serve/utils/getStoryboards.js
  packages/brick-container/serve/utils/injectIndexHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
