Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency i18next to ^21.5.6
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^21.6.0
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(): add new icons
  packages/brick-icons/src/icons/database.svg
  packages/brick-icons/src/icons/devops.svg
  packages/brick-icons/src/icons/monitor.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency rollup to ^2.61.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.5.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency compare-versions to ^4.1.2
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^27.4.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.15.0
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rc-textarea to ~0.3.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency body-parser to ^1.19.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(): refine generating contracts for bricks
  packages/webpack-config-factory/src/bricks/webpack.contracts.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency postcss to ^8.4.5
  packages/rollup-config-factory/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): update dll manifest
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency rollup to ^2.61.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @rollup/plugin-node-resolve to ^13.1.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.16.5
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-dll/package.json
  packages/build-next-libs/package.json
  packages/cook/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.15.1
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.5.4
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^27.4.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 5.7.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(): docs
  packages/create-next-repo/src/getOptions.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 上报provider到_INTERFACE_CONTRACT@EASYOPS
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

chore(): update dependencies
  packages/brick-container/deploy/package.conf.yaml
Due: none

chore(deps): Update dependency @babel/parser to ^7.16.6
  package.json
  packages/cook/package.json
  yarn.lock
Due: prettier --write

fix(): rename contract.json -> contracts.json
  packages/build-config-factory/src/generateProviderContracts.js
  packages/sdk-scripts/src/lib/Context.ts
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
  packages/sdk-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/sdk-scripts/template/rollup.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): pass data through tpl in useBrick
  packages/brick-kit/src/BrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

chore(deps): Update dependency core-js to ^3.20.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

feat(): add new constant BASE_URL in evaluations
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency postcss-preset-env to ^7.0.2
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): refine postcss config
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency i18next to ^21.6.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

feat(): add icon
  .size-limit.js
  packages/brick-icons/src/icons/api.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency express to ^4.17.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(): modify
  packages/brick-icons/src/icons/api.svg
Due: none

chore(deps): Update dependency concurrently to ^6.5.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
