Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat():form-render支持传入formState与formEvents，refs:FORM_BUILDER-124
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.spec.ts
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
  packages/brick-kit/src/core/CustomForms/__snapshots__/ExpandCustomForm.spec.ts.snap
  packages/brick-utils/src/scanStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): fix lerna nx cache configurations
  nx.json
  packages/brick-container/package.json
  packages/brick-icons/.gitignore
  packages/brick-icons/package.json
  packages/easyops-illustrations/package.json
  packages/next-docs/package.json
  packages/storyboard-function-types/package.json
Due: prettier --write

chore(): refine dependencies to make nx cache work
  nx.json
  packages/brick-http/package.json
  packages/brick-icons/package.json
  packages/brick-kit/package.json
  packages/brick-types/package.json
  packages/brick-utils/package.json
  packages/color-theme/package.json
  packages/cook/package.json
  packages/easyops-analytics/package.json
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/package.json
  packages/fontawesome-library/package.json
  packages/pipes/package.json
  packages/storyboard-function-types/package.json
  packages/supply/package.json
Due: prettier --write

fix(): fix history.push with relative paths
  nx.json
  packages/brick-kit/src/internal/historyExtended.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat():form-renderer支持condition属性，refs:FORM_BUILDER-126
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): ignore alias which equals to brick name
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

support(): support LicenseTip -- ROUTER dispatch detail
  etc/brick-types.api.md
  packages/brick-kit/src/auth.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support license tip
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): 修改单元测试
  packages/brick-kit/src/core/Router.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): 修复单元测试
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

feat(): support external usage of getRealValue
  dll/editor-bricks-helper/manifest.snapshot.json
  etc/brick-kit.api.md
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/getRealValue.spec.ts
  packages/brick-kit/src/getRealValue.ts
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix():修复properties传入0或者false，空字符串内容无法覆盖问题
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): update appBarTip style
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support public root with version
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(): support debugging with standalone v2
  CONTRIBUTING.md
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serve.js
  packages/brick-container/serve/serveLocal.js
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): transform libs entry points
  packages/jest-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/jest-config-factory/CHANGELOG.md
  packages/jest-config-factory/package.json
Due: prettier --write

fix(): refine inject error handling
  packages/brick-utils/src/placeholder/__snapshots__/syntax.spec.ts.snap
  packages/brick-utils/src/placeholder/compile.spec.ts
  packages/brick-utils/src/placeholder/lexical.spec.ts
  packages/brick-utils/src/placeholder/lexical.ts
  packages/brick-utils/src/placeholder/syntax.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add icon
  packages/brick-icons/src/icons/colored-monitor/load-balancing.svg
  packages/brick-icons/src/icons/colored-monitor/www.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): add icon
  packages/brick-icons/src/icons/colored-monitor/vs.svg
Due: none

feat(): refine useProvider hook
  packages/brick-kit/src/hooks/useProvider/fetch.spec.ts
  packages/brick-kit/src/hooks/useProvider/fetch.ts
  packages/brick-kit/src/hooks/useProvider/useProvider.ts
  packages/brick-kit/src/hooks/useProvider/useProviderArgsDefaults.ts
  packages/brick-kit/src/hooks/useProvider/useProviderTypes.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): batch set csrftoken with XMLHttpRequest
  packages/brick-container/src/XMLHttpRequest.ts
  packages/brick-container/src/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): only auto-merge patch versions
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/index.js
  packages/dev-dependencies/patches/onlyAutoMergePatchVersions.js
  packages/dev-dependencies/patches/onlyAutoMergePatchVersions.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): export rollupPlugins.url
  packages/rollup-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): refine rollup config
  packages/brick-icons/package.json
  packages/brick-icons/rollup.config.js
  packages/easyops-illustrations/package.json
  packages/easyops-illustrations/rollup.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(renovate): disable rollup major update [skip ci]
  renovate.json
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
