Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

feat(): build brick metadata
  .gitignore
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/generateMetadata.js
  packages/build-next-bricks/template/.pkgbuild/PKGBUILD
  packages/build-next-bricks/template/deploy/install_postscript.sh
  packages/build-next-bricks/template/deploy/update_postscript.sh
  packages/build-next-bricks/template/deploy/update_prescript.sh
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add nx build outputs
  bricks/demo-widgets/package.json
  bricks/e2e/package.json
Due: prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
Due: prettier --write

fix(form-renderer): allow using v3 form bricks
  packages/runtime/src/internal/FormRenderer/expandFormRenderer.ts
  packages/runtime/src/internal/Renderer.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): allow v2 bricks to be used in v3 container
  packages/brick-scripts/template/bricks-pkg/deploy-default/package.conf.yaml
  packages/build-config-factory/src/generateDeps.js
  packages/build-config-factory/src/post-build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): fix extract when renovate is enabled in root
  packages/dev-dependencies/extract.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): add icons Refs UISIX-135
  packages/brick-icons/src/icons/second-menu/alibaba-cloud-disk-second-menu.svg
  packages/brick-icons/src/icons/second-menu/alibaba-cloud-snapshot-second-menu.svg
  packages/brick-icons/src/icons/third-menu/alibaba-cloud-disk-third-menu.svg
  packages/brick-icons/src/icons/third-menu/alibaba-cloud-snapshot-third-menu.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): ignore non-plain object in props when setup useBrick
  packages/brick-kit/src/core/CustomTemplates/setupUseBrickInTemplate.ts
  packages/brick-kit/src/internal/setProperties.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support track evalute syntax sugar
  packages/cook/src/preevaluate.spec.ts
  packages/cook/src/preevaluate.ts
  packages/runtime/src/internal/compute/getTracks.ts
  packages/utils/src/storyboard/expressions/beforeVisitGlobalMember.ts
  packages/utils/src/storyboard/expressions/track.spec.ts
  packages/utils/src/storyboard/expressions/track.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update getTracks unit test
  packages/cook/src/preevaluate.ts
  packages/runtime/src/internal/compute/getTracks.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(): Optimize error message display
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/handleHttpError.spec.tsx
  packages/brick-kit/src/handleHttpError.tsx
  packages/brick-kit/src/i18n/constants.ts
  packages/brick-kit/src/i18n/locales/en.ts
  packages/brick-kit/src/i18n/locales/zh.ts
  packages/easyops-illustrations/src/images/easyops2/license-expired-dark.svg
  packages/easyops-illustrations/src/images/easyops2/license-expired.svg
  packages/easyops-illustrations/src/images/easyops2/unknown-error-dark.svg
  packages/easyops-illustrations/src/images/easyops2/unknown-error.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): Optimize error message display
  .size-limit.js
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/handleHttpError.spec.tsx
  packages/brick-kit/src/handleHttpError.tsx
  packages/brick-kit/src/i18n/constants.ts
  packages/brick-kit/src/i18n/locales/en.ts
  packages/brick-kit/src/i18n/locales/zh.ts
  packages/easyops-illustrations/src/images/easyops2/license-expired-dark.svg
  packages/easyops-illustrations/src/images/easyops2/license-expired.svg
  packages/easyops-illustrations/src/images/easyops2/unknown-error-dark.svg
  packages/easyops-illustrations/src/images/easyops2/unknown-error.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(createRoot): add missing form state store
  packages/runtime/src/createRoot.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(ci): create release when running lerna version
  .github/workflows/lerna-version.yml
Due: none

fix(): fix package homepage
  bricks/demo-widgets/package.json
  bricks/e2e/package.json
  packages/babel-preset-next/package.json
  packages/brick-container/package.json
  packages/brick-playground/package.json
  packages/browserslist-config-next/package.json
  packages/build-next-bricks/package.json
  packages/build-next-libs/package.json
  packages/cook/package.json
  packages/create-api-sdk/package.json
  packages/element/package.json
  packages/eslint-config-next/package.json
  packages/http/package.json
  packages/i18n/package.json
  packages/inject/package.json
  packages/loader/package.json
  packages/pipes/package.json
  packages/react-element/package.json
  packages/react-runtime/package.json
  packages/runtime/package.json
  packages/serve-helpers/package.json
  packages/supply/package.json
  packages/test-next/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/webpack/package.json
Due: prettier --write

chore(ci): set env token for creating release of github
  .github/workflows/lerna-version.yml
Due: none

support go back link
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/handleHttpError.spec.tsx
  packages/brick-kit/src/handleHttpError.tsx
  packages/brick-kit/src/i18n/constants.ts
  packages/brick-kit/src/i18n/locales/en.ts
  packages/brick-kit/src/i18n/locales/zh.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support track syntax sugar in v2
  packages/brick-kit/package.json
  packages/brick-kit/src/internal/getTracks.spec.ts
  packages/brick-kit/src/internal/getTracks.ts
  packages/brick-kit/src/internal/setProperties.ts
  packages/brick-kit/src/transformProperties.ts
  packages/brick-utils/src/track.spec.ts
  packages/brick-utils/src/track.ts
  packages/cook/src/preevaluate.spec.ts
  packages/cook/src/preevaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update snapshot.json
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/package.json
  packages/brick-kit/src/internal/getTracks.ts
  packages/brick-kit/src/transformProperties.ts
  packages/brick-utils/src/track.spec.ts
  packages/brick-utils/src/track.ts
  v3/brick-dll-v3/manifest.snapshot.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

feat(): update transformProperties code
  packages/brick-kit/src/transformProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): fix when the storyboard has only a single portal brick
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/mount.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support if/esle syntax
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update type
  packages/runtime/src/internal/bindListeners.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update type and add unit test
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update code
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 增加新插画
  packages/easyops-illustrations/src/images/whoooa/automatic-resource-discovery.png
Due: none

fix(): 增加新插画
  packages/easyops-illustrations/src/images/easyops2/automatic-resource-discovery.png
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(serve): set APP_ID
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/utils/getStandaloneConfig.js
  packages/brick-container/serve/utils/injectIndexHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
