Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

fix(): only warn about using native props as tpl props in non-strict mode
  packages/runtime/src/CustomTemplates.spec.ts
  packages/runtime/src/CustomTemplates.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(): remove unused workflows
  .github/workflows/update-dll-manifest.yml
  .github/workflows/update-docs-etc.yml
Due: none

fix(): use core-js 3.30
  packages/babel-preset-next/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add api-extractor for runtime
  .github/workflows/update-docs-etc.yml
  .gitignore
  api-extractor.json
  etc/runtime.api.md
  packages/runtime/api-extractor.json
  packages/runtime/package.json
  packages/runtime/src/index.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update docs etc
  etc/runtime.api.md
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): fix feature flags in playground
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 上传新的二级/三级菜单图标
  packages/brick-icons/src/icons/second-menu/persistent-volume-statement-second-menu.svg
  packages/brick-icons/src/icons/second-menu/serve-second-menu.svg
  packages/brick-icons/src/icons/third-menu/persistent-volume-statement-third-menu.svg
  packages/brick-icons/src/icons/third-menu/serve-third-menu.svg
Due: none

chore(): add icons
  packages/brick-icons/src/icons/colored-common/baoan.svg
  packages/brick-icons/src/icons/colored-common/be-in-common-use.svg
  packages/brick-icons/src/icons/colored-common/commercial-centre.svg
  packages/brick-icons/src/icons/colored-common/dapeng.svg
  packages/brick-icons/src/icons/colored-common/exhibition-hall.svg
  packages/brick-icons/src/icons/colored-common/flats.svg
  packages/brick-icons/src/icons/colored-common/futian.svg
  packages/brick-icons/src/icons/colored-common/guangming.svg
  packages/brick-icons/src/icons/colored-common/longgang.svg
  packages/brick-icons/src/icons/colored-common/longhua.svg
  packages/brick-icons/src/icons/colored-common/luohu.svg
  packages/brick-icons/src/icons/colored-common/nanshan.svg
  packages/brick-icons/src/icons/colored-common/office-building.svg
  packages/brick-icons/src/icons/colored-common/performing-arts-hall.svg
  packages/brick-icons/src/icons/colored-common/pingshan.svg
  packages/brick-icons/src/icons/colored-common/wineshop.svg
  packages/brick-icons/src/icons/colored-common/yantian.svg
Due: none

fix(icons): 替换iocnRefs NEXT_BUILDER-2853
  packages/brick-icons/src/icons/second-menu/amq-second-menu.svg
  packages/brick-icons/src/icons/second-menu/continuous-integration-second-menu.svg
  packages/brick-icons/src/icons/second-menu/haproxy-second-menu.svg
  packages/brick-icons/src/icons/second-menu/postgresql-second-menu.svg
Due: none

fix(): fix scanning public-prefix
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): add a new json field in bricks: dataSource
  packages/brick-utils/src/builder/normalizeBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): compatible public-prefix scanning
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(icons): 替换icon Refs MONITOR-5557
  packages/brick-icons/src/icons/second-menu/amq-second-menu.svg
  packages/brick-icons/src/icons/second-menu/continuous-integration-second-menu.svg
  packages/brick-icons/src/icons/second-menu/haproxy-second-menu.svg
  packages/brick-icons/src/icons/second-menu/postgresql-second-menu.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(icons): 替换icon Refs MONITOR-5557
  packages/brick-icons/src/icons/second-menu/haproxy-second-menu.svg
Due: none

chore(ci): create cleanup-caches.yml [skip ci]
  .github/workflows/cleanup-caches.yml
Due: none

chore(): add icons
  packages/brick-icons/src/icons/colored-common/business.svg
  packages/brick-icons/src/icons/colored-common/inventory.svg
  packages/brick-icons/src/icons/colored-common/item.svg
  packages/brick-icons/src/icons/colored-common/partake.svg
  packages/brick-icons/src/icons/colored-common/present-situation.svg
  packages/brick-icons/src/icons/colored-common/quota.svg
  packages/brick-icons/src/icons/colored-common/target.svg
Due: none

feat(): load third-party custom elements
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/scanBricks.js
  packages/loader/src/stableLoadBricks.spec.ts
  packages/loader/src/stableLoadBricks.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add icons
  packages/brick-icons/src/icons/second-menu/alisql-second-menu.svg
  packages/brick-icons/src/icons/second-menu/gaussdb-for-opengauss-second-menu.svg
  packages/brick-icons/src/icons/second-menu/oceanbase-second-menu.svg
  packages/brick-icons/src/icons/second-menu/polardb-oracle-second-menu.svg
  packages/brick-icons/src/icons/second-menu/sybase-second-menu.svg
  packages/brick-icons/src/icons/second-menu/tdsql-for-mysql-second-menu.svg
Due: none

feat(): update ui 8.2 compact layout content style
  packages/brick-container/src/styles/variables.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): notification and dialog
  etc/runtime.api.md
  packages/brick-playground/src/preview/bootstrap.ts
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/src/Dialog.spec.ts
  packages/runtime/src/Dialog.ts
  packages/runtime/src/Notification.spec.ts
  packages/runtime/src/Notification.ts
  packages/runtime/src/handleHttpError.spec.ts
  packages/runtime/src/handleHttpError.ts
  packages/runtime/src/index.ts
  packages/runtime/src/internal/CustomTemplates/utils.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/i18n.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(): fix loading processors in widgets
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): treat css imports other than css modules as text file
  packages/test-next/src/createJestConfig.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): NEXT_BUILDER-2934 二级菜单分类颜色需替换
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

chore(release): publish
  bricks/demo-widgets/CHANGELOG.md
  bricks/demo-widgets/package.json
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/create-api-sdk/CHANGELOG.md
  packages/create-api-sdk/package.json
  packages/element/CHANGELOG.md
  packages/element/package.json
  packages/http/CHANGELOG.md
  packages/http/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/pipes/CHANGELOG.md
  packages/pipes/package.json
  packages/react-element/CHANGELOG.md
  packages/react-element/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  packages/test-next/CHANGELOG.md
  packages/test-next/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write
