Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(test:ci): disable --runInBand
  package.json
Due: prettier --write

fix(): fix brick preview with provider
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(test:ci): disable runInBand
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): support brick preview in iframe
  .size-limit.js
  etc/brick-kit.api.md
  packages/brick-container/src/preview.ejs
  packages/brick-container/src/preview.ts
  packages/brick-container/src/styles/preview.css
  packages/brick-container/webpack/common.js
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/developHelper.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): 支持formschema渲染不携带根容器，refs: ITSERVICE_NEXT-5472
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 代码调整
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

wip
  nx.json
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.ts
  packages/brick-playground/package.json
  packages/brick-playground/src/preview-bootstrap.ts
  packages/brick-playground/src/preview.ts
  packages/runtime/package.json
  packages/runtime/src/Runtime.ts
  packages/runtime/src/internal/i18n.ts
  packages/runtime/styles/default.css
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): wip
  bricks/form/build.config.js
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 改变组件间距以及input和button的圆角
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/button.less
  packages/custom-antd-styles/src/card.less
  packages/custom-antd-styles/src/input.less
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): fix loading widgets
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(FORMBUILDER): 新增params内置formstate，废弃condition功能
  packages/brick-kit/src/core/CustomForms/ExpandCustomForm.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 修复overrideApp没有合并defaultConfig和userConfig的问题
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 修改select及upload等组件的radius close BRICK_STORE-3221
  packages/custom-antd-styles/src/input.less
  packages/custom-antd-styles/src/radio.less
  packages/custom-antd-styles/src/select.less
  packages/custom-antd-styles/src/upload.less
Due: none

fix(): 修改卡片间距 close BRICK_STORE-3202
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/card.less
Due: prettier --write

fix(): 修改构件圆角样式 close BRICK_STORE-3221
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/input.less
Due: prettier --write

fix(): changeBorderRadiusOfInputGroup
  packages/custom-antd-styles/src/input.less
Due: none

fix(): fixBorderRadiusOfInputGroupfist-child
  packages/custom-antd-styles/src/input.less
Due: none

chore(): test singleton false
  bricks/form/build.config.js
  nx.json
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/index.ts
  packages/brick-playground/package.json
  packages/brick-playground/src/preview-bootstrap.ts
  packages/brick-playground/src/preview.ts
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/build.js
  packages/runtime/package.json
  packages/runtime/src/Runtime.ts
  packages/runtime/src/internal/i18n.ts
  packages/runtime/styles/default.css
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix shared i18next
  bricks/basic/package.json
  bricks/basic/src/i18n.ts
  bricks/basic/src/x-button/index.tsx
  bricks/form/package.json
  packages/brick-playground/src/index.ejs
  packages/build-next-bricks/src/build.js
  packages/runtime/package.json
  packages/runtime/src/internal/i18n.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update react experimental
  bricks/basic/package.json
  packages/react-element/package.json
  packages/react-use-brick/package.json
  yarn.lock
Due: prettier --write

fix(): use TypeScript 5.0.0-beta and fix type issues of i18next
  bricks/basic/src/i18n.ts
  package.json
  packages/build-next-bricks/package.json
  packages/dev-dependencies/package.json
  packages/runtime/src/Runtime.ts
  packages/runtime/src/internal/i18n.ts
  packages/test-next/package.json
  tsconfig.json
  tsconfig.module.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): fix tests
  __mocks__/react-i18next.js
  bricks/basic/src/i18n.ts
  bricks/basic/src/x-button/index.spec.tsx
  bricks/basic/src/y-button/index.spec.ts
  jest/__mocks__/react-i18next.js
  packages/runtime/src/internal/i18n.ts
  packages/test-next/src/createJestConfig.js
  tsconfig.module.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support devloper brick preview
  declarations/global.d.ts
  packages/brick-kit/package.json
  packages/brick-kit/src/core/standaloneBootstrap.spec.ts
  packages/brick-kit/src/core/standaloneBootstrap.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

WIP: async evaluate
  mock-micro-apps/test/storyboard.yaml
  packages/build-next-bricks/src/build.js
  packages/loader/src/stableLoadBricks.ts
  packages/runtime/package.json
  packages/runtime/src/internal/DataStore.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/RuntimeContext.ts
  packages/runtime/src/internal/Transpiler.ts
  packages/runtime/src/internal/compute/computeRealProperties.ts
  packages/runtime/src/internal/compute/computeRealValue.ts
  packages/runtime/src/internal/evaluate.ts
  packages/runtime/src/internal/resolveDataStore.ts
  packages/runtime/tsconfig.json
  packages/supply/package.json
  packages/supply/src/index.ts
  packages/supply/tsconfig.build.json
  packages/supply/tsconfig.json
  packages/utils/package.json
  packages/utils/src/general/hasOwnProperty.ts
  packages/utils/src/general/index.ts
  packages/utils/src/general/isObject.spec.ts
  packages/utils/src/general/isObject.ts
  packages/utils/src/storyboard/expressions/collectMemberUsage.spec.ts
  packages/utils/src/storyboard/expressions/collectMemberUsage.ts
  packages/utils/src/storyboard/expressions/index.ts
  packages/utils/src/storyboard/expressions/traverse.ts
  packages/utils/src/storyboard/functions/index.ts
  packages/utils/src/storyboard/functions/traverse.ts
  packages/utils/src/storyboard/index.ts
  packages/utils/tsconfig.build.json
  packages/utils/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
