Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): refine ci
  .github/workflows/ci.yml
  README.md
Due: prettier --write

chore(): refine ci cache
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore(): refine ci
  .github/workflows/ci.yml
Due: none

chore(): fix nx cache path
  .github/workflows/ci.yml
Due: none

chore(): disable CI on next
  .github/workflows/ci.yml
Due: none

fix(): no coverage threshold for standalone testing
  nx.json
  packages/jest-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/jest-config-factory/CHANGELOG.md
  packages/jest-config-factory/package.json
Due: prettier --write

chore(): simplify workflows
  .github/workflows/update-dll-manifest.yml
  .github/workflows/update-docs-etc.yml
Due: none

chore(): fix nx cache key
  .github/workflows/ci.yml
  .github/workflows/update-docs-etc.yml
Due: none

chore(): fix nx cache key
  .github/workflows/lerna-version.yml
  .github/workflows/update-dll-manifest.yml
Due: none

chore(): refine cypress cache key
  .github/workflows/ci.yml
Due: none

fix(): InstalledApp should check menus
  packages/brick-utils/src/scanInstalledAppsInStoryboard.spec.ts
  packages/brick-utils/src/scanInstalledAppsInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(): allow ci on next
  .github/workflows/ci.yml
Due: none

chore(ci): set directory for codecov
  .github/workflows/ci.yml
Due: none

chore(ci): refine yarn cache key for next branch
  .github/workflows/ci.yml
Due: none

chore(ci): fix ci step id
  .github/workflows/ci.yml
Due: none

chore(ci): fix yarn cache key
  .github/workflows/ci.yml
Due: none

chore(): fix types of @babel/types
  packages/cook/src/interfaces.ts
  packages/cook/src/lint.ts
  packages/cook/src/parse.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): refine ci cache [skip ci]
  .github/workflows/ci.yml
Due: none

fix(): allow circular templates while detect stack overflow
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add minimap icon
  .size-limit.js
  packages/brick-icons/src/icons/colored-monitor/minimap.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(brick-kit): useProviderType中的RequestInit类型移除HttpOptions中重复存在的cache定义
  packages/brick-kit/src/hooks/useProvider/useProviderTypes.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): refine test scripts
  CONTRIBUTING.md
  package.json
  packages/brick-http/jest.config.js
  packages/brick-icons/jest.config.js
  packages/brick-kit/jest.config.js
  packages/brick-utils/jest.config.js
  packages/color-theme/jest.config.js
  packages/cook/jest.config.js
  packages/create-next-repo/jest.config.js
  packages/dev-dependencies/jest.config.js
  packages/easyops-analytics/jest.config.js
  packages/easyops-illustrations/jest.config.js
  packages/editor-bricks-helper/jest.config.js
  packages/jest-config-factory/bin/next-jest.js
  packages/jest-config-factory/package.json
  packages/jest-config-factory/src/findFileUpward.js
  packages/jest-config-factory/src/index.js
  packages/jest-config-factory/src/next-jest.js
  packages/less-plugin-css-variables/jest.config.js
  packages/pipes/jest.config.js
  packages/repo-config/jest.config.js
  packages/sdk-scripts/jest.config.js
  packages/storyboard/jest.config.js
  packages/supply/jest.config.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): Installed.has support check conditional
  packages/brick-utils/src/scanInstalledAppsInStoryboard.spec.ts
  packages/brick-utils/src/scanInstalledAppsInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): throw when processors not found
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix ctx evaluations after history.push
  etc/brick-types.api.md
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/setProperties.spec.ts
  packages/brick-kit/src/internal/setProperties.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(BrickAsComponent): Add onMount and onUnmount life cycle.
  etc/brick-types.api.md
  packages/brick-kit/src/BrickAsComponent.spec.tsx
  packages/brick-kit/src/BrickAsComponent.tsx
  packages/brick-types/src/manifest.ts
  packages/storyboard/src/interfaces.ts
  packages/storyboard/src/parseStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(): fix tracking context in useBrick
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/setProperties.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): memoize data when tracking context in useBrick
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/transformProperties.spec.ts
  packages/brick-kit/src/transformProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(ci): set token for codecov [skip ci]
  .github/workflows/ci.yml
Due: none

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
