Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency eslint-plugin-react to v7.22.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.5.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.18.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-config-prettier to ^7.1.0
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency husky to ^4.3.8
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less-loader to ^7.2.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript-json-schema to ^0.47.0
  packages/brick-types/package.json
  yarn.lock
Due: prettier --write

feat(): support context menu
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
  packages/editor-bricks-helper/src/EditorContainer/isCurrentTargetByClassName.spec.ts
  packages/editor-bricks-helper/src/EditorContainer/isCurrentTargetByClassName.ts
  packages/editor-bricks-helper/src/hooks/useBuilderContextMenuStatus.spec.tsx
  packages/editor-bricks-helper/src/hooks/useBuilderContextMenuStatus.ts
  packages/editor-bricks-helper/src/index.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @sdk/cmdb-sdk to ^0.15.20
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @sdk/user-service-sdk to ^0.2.14
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/dompurify to ^2.2.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/fs-extra to ^9.0.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/jest to ^26.0.20
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency meow to ^8.1.2
  packages/brick-container/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^1.3.4
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prismjs to ^1.23.0
  packages/babel-preset-prismjs/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rc-virtual-list to ^3.2.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.8.5
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.36.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack to ^4.46.0
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-dev-server to ^3.11.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/react to v11
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.9.3
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency meow to v9
  packages/brick-container/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(renovate): temporarily unset prHourlyLimit
  renovate.json
Due: prettier --write

chore(deps): Update dependency start-server-and-test to ^1.11.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-cli to ^4.3.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency ws to ^7.4.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(): update api interface
  etc/brick-kit.api.md
Due: prettier --write

chore(brick-icon): add icon
  .size-limit.js
  packages/brick-icons/src/icons/app/service-observe.svg
  packages/brick-icons/src/icons/collapse-card-default.svg
  packages/brick-icons/src/icons/product/easy-auto-ops.svg
  packages/brick-icons/src/icons/product/easy-cmdb.svg
  packages/brick-icons/src/icons/product/easy-data-viz.svg
  packages/brick-icons/src/icons/product/easy-dev-ops.svg
  packages/brick-icons/src/icons/product/easy-itsc.svg
  packages/brick-icons/src/icons/product/easy-ma-builder.svg
  packages/brick-icons/src/icons/product/easy-observe.svg
  packages/brick-icons/src/icons/product/easy-tracing.svg
  packages/brick-icons/src/icons/product/easy-work-space.svg
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(input): add readonly style
  packages/custom-antd-styles/src/input.less
Due: none

feat(): support deleting node
  .size-limit.js
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/deleteNodeFromTree.spec.ts
  packages/editor-bricks-helper/src/internal/deleteNodeFromTree.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix error when remote package not found
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): prefix parsed properties with `$$` to distinguish
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.spec.tsx
  packages/brick-scripts/template/editor-brick/$kebab-brick-last-name$.editor.tsx
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

feat(): remove deprecated parsedProperties
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/deleteNodeFromTree.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(serve): meow supports reporting unknown flags now
  packages/brick-container/serve/getEnv.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
