Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update type packages
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/file-saver to ^2.0.3
  package.json
  yarn.lock
Due: prettier --write

refactor(): refine expanding template edges
  packages/editor-bricks-helper/src/internal/expandTemplateEdges.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.53.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): use global dropping status
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/DroppingStatusContext.ts
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.spec.tsx
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
  packages/editor-bricks-helper/src/SlotContainer/SlotContainer.tsx
  packages/editor-bricks-helper/src/hooks/useDroppingStatus.spec.tsx
  packages/editor-bricks-helper/src/hooks/useDroppingStatus.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support dropping on proxied slots in template
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/DropZone/getDropPosition.ts
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.tsx
  packages/editor-bricks-helper/src/SlotContainer/SlotContainer.tsx
  packages/editor-bricks-helper/src/hooks/useBuilderGroupedChildNodes.ts
  packages/editor-bricks-helper/src/index.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.spec.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(deps): Update dependency typedoc to ^0.20.33
  packages/build-config-factory/package.json
  packages/typedoc-plugin-filter-inherit/package.json
  yarn.lock
Due: prettier --write

feat(story): upgrade typedoc and deps
  packages/build-config-factory/package.json
  packages/build-config-factory/src/generateBrickDocs.js
  packages/build-config-factory/src/generateProviderDocs.js
  packages/build-config-factory/src/post-build.js
  packages/build-config-factory/src/story.tsconfig.json
  packages/build-config-factory/src/tsconfig.providerDocs.json
  packages/typedoc-plugin-filter-inherit/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency ws to ^7.5.3
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.53.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typedoc to ^0.21.4
  packages/build-config-factory/package.json
  packages/typedoc-plugin-filter-inherit/package.json
  yarn.lock
Due: prettier --write

fix(): fix avoid nesting templates
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency antd to ~4.16.7
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(): support context-menu of root node
  packages/editor-bricks-helper/src/DropZone/DropZone.module.css
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/DropZone/getDropPosition.ts
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.spec.tsx
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.tsx
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.module.css
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.spec.tsx
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
  packages/editor-bricks-helper/src/EditorContainer/isCurrentTargetByClassName.spec.ts
  packages/editor-bricks-helper/src/EditorContainer/isCurrentTargetByClassName.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(renovate): disable antd major or minor updates
  renovate.json
Due: prettier --write

chore(brick-icons): upload some layout icons to the easyops icon repo
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-1_2.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-1_3.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-2_1.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-3_1.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-one_col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-1_2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-1_3.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-1_col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-2*3-2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-2*3.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-2_1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-2_col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-3_1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-3_col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-4_col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-header-content-1_2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-header-content-2_1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-header-content-footer.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-header-content.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left-right-1_2-header-content.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left-right-2_1-header-content.svg
  packages/brick-icons/src/icons/easy-view/menu-layout/grid-with-second-menu.svg
  packages/brick-icons/src/icons/easy-view/menu-layout/grid-without-second-menu.svg
Due: none

chore(deps): Update typescript-eslint monorepo to >= 4.28.3
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(brick-icons): upload some layout icons to the easyops icon repo
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-left1-right2.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-left1-right3.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-left2-right1.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-left3-right1.svg
  packages/brick-icons/src/icons/easy-view/banner-layout/grid-banner-one-col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-2x3-2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-2x3.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-four-col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-header-content-left1-right2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-header-content-left2-right1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left1-right2-header-content.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left1-right2.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left1-right3.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left2-right1-header-content.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left2-right1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-left3-right1.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-one-col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-three-col.svg
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-two-col.svg
Due: none

chore(brick-icons): upload some layout icons to the easyops icon repo
  packages/brick-icons/src/icons/easy-view/menu-layout/grid-with-sub-menu.svg
  packages/brick-icons/src/icons/easy-view/menu-layout/grid-without-sub-menu.svg
Due: none

fix(serve): support to set local snippet packages
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): fix checking proxy slots when expanding templates
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): process delegating properties when expanding templates
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.spec.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency lint-staged to ^11.0.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(brick-icons): upload some layout icons to the easyops icon repo
  packages/brick-icons/src/icons/easy-view/classic-layout/grid-classic-top-bottom-1x3.svg
Due: none

fix(): disable dragging template internal nodes
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.spec.tsx
  packages/editor-bricks-helper/src/EditorBrickAsComponent/EditorBrickAsComponent.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(deps): Update dependency i18next to ^20.3.3
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.11.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.133.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency inquirer to ^8.1.2
  packages/brick-scripts/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency css-loader to v6
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.53.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @rollup/plugin-commonjs to ^19.0.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @rollup/plugin-node-resolve to ^13.0.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
