Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

fix(): refine example transpile
  packages/doc-helpers/index.d.ts
  packages/doc-helpers/src/getExamples.js
  packages/doc-helpers/src/yamlToHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
Due: prettier --write

feat(): support dynamic snippet preview
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-types/src/builder.ts
  packages/brick-utils/src/snippetEvaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): standalone模式下小产品图标url错误
  etc/runtime.api.md
  packages/brick-container/src/loadBootstrapData.spec.ts
  packages/brick-container/src/loadBootstrapData.ts
  packages/runtime/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
  v3/brick-dll-v3/CHANGELOG.md
  v3/brick-dll-v3/package.json
  v3/brick-kit-v3/CHANGELOG.md
  v3/brick-kit-v3/package.json
Due: prettier --write

fix(): settings as optionals
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): settings as optional params
  packages/brick-kit/src/core/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): yo: help to create bricks
  .eslintrc
  packages/yo/bin/yo.js
  packages/yo/jsconfig.json
  packages/yo/package.json
  packages/yo/src/index.js
  packages/yo/src/plopfile.js
  packages/yo/src/templates/brick.md.hbs
  packages/yo/src/templates/brick/i18n.ts
  packages/yo/src/templates/brick/index.spec.tsx.hbs
  packages/yo/src/templates/brick/index.tsx.hbs
  packages/yo/src/templates/brick/styles.shadow.css
  packages/yo/src/templates/bricks/build.config.js
  packages/yo/src/templates/bricks/package.json.hbs
  packages/yo/src/templates/bricks/src/bootstrap.ts
  packages/yo/src/templates/bricks/src/index.ts
  packages/yo/src/templates/bricks/tsconfig.json
  packages/yo/src/templates/provider/provider.spec.ts.hbs
  packages/yo/src/templates/provider/provider.ts.hbs
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): sort packages
  packages/yo/src/plopfile.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore():新增emergency-plan预案管理菜单icon
  packages/brick-icons/src/icons/emergency-plan.svg
Due: none

fix(): add comment about brick i18n
  packages/yo/src/templates/brick/index.tsx.hbs
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): fix types that causing schema json too large
  .size-limit.js
  etc/brick-types.api.md
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

feat(): brick_next在发起http请求给后端的时候，自动按策略生成trace_id
  packages/brick-http/src/__snapshots__/http.spec.ts.snap
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
  packages/brick-http/src/utils.spec.ts
  packages/brick-http/src/utils.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): move images code out of runtime
  etc/runtime.api.md
  packages/brick-container/package.json
  packages/brick-container/src/XMLHttpRequest.ts
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/httpCacheAdapter.spec.ts
  packages/brick-container/src/httpCacheAdapter.ts
  packages/brick-container/src/images.spec.ts
  packages/brick-container/src/images.ts
  packages/brick-container/src/loadBootstrapData.ts
  packages/brick-container/src/loadCheckLogin.ts
  packages/runtime/src/StoryboardFunctionRegistry.spec.ts
  packages/runtime/src/index.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/compute/evaluate.spec.ts
  packages/runtime/src/internal/compute/evaluate.ts
  packages/runtime/src/internal/compute/getGeneralGlobals.ts
  packages/runtime/src/internal/compute/getTracks.spec.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): brick_next在发起http请求给后端的时候，自动按策略生成trace_id
  packages/brick-container/src/index.tsx
  packages/brick-container/src/utils.spec.ts
  packages/brick-container/src/utils.ts
  packages/brick-http/src/__snapshots__/http.spec.ts.snap
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests
  packages/brick-container/src/index.ts
  packages/brick-container/src/loadBootstrapData.spec.ts
  packages/brick-container/src/loadBootstrapData.ts
  packages/brick-container/src/loadCheckLogin.spec.ts
  packages/easyops-runtime/src/checkPermissions.spec.ts
  packages/loader/src/stableLoadBricks.spec.ts
  packages/runtime/src/StoryboardFunctionRegistry.spec.ts
  packages/runtime/src/handleHttpError.spec.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): create new shared libraries
  packages/yo/package.json
  packages/yo/src/plopfile.js
  packages/yo/src/templates/shared/package.json.hbs
  packages/yo/src/templates/shared/src/index.ts
  packages/yo/src/templates/shared/tsconfig.build.json
  packages/yo/src/templates/shared/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): brick_next在发起http请求给后端的时候，自动按策略生成trace_id
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): brick_next在发起http请求给后端的时候，自动按策略生成trace_id (#3160)
  packages/brick-container/src/index.tsx
  packages/brick-container/src/utils.spec.ts
  packages/brick-container/src/utils.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): brick_next在发起http请求给后端的时候，自动按策略生成trace_id
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/utils.spec.ts
  packages/brick-container/src/utils.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): unset `FLAGS["migrate-to-brick-next-v3"]`
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix transformation of slots to children
  packages/doc-helpers/src/yamlToHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): use lerna@6 [skip ci]
  .github/workflows/lerna-version.yml
Due: none

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/doc-helpers/CHANGELOG.md
  packages/doc-helpers/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

feat(): context支持Trigger挂载生命周期自动触发
  etc/brick-kit.api.md
  etc/brick-types.api.md
  packages/brick-kit/src/core/CustomTemplates/CustomTemplateContext.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/StoryboardContext.spec.ts
  packages/brick-kit/src/core/StoryboardContext.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(V3): context支持Trigger挂载生命周期自动触发
  etc/runtime.api.md
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

refactor(): refine lazy context trigger
  etc/runtime.api.md
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/FormRenderer/expandFormRenderer.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/data/DataStore.spec.ts
  packages/runtime/src/internal/data/DataStore.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): refine test case on lazy context trigger
  packages/runtime/src/internal/Renderer.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/i18n/CHANGELOG.md
  packages/i18n/package.json
  packages/inject/CHANGELOG.md
  packages/inject/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

feat(): websocket message dispatcher
  etc/runtime.api.md
  packages/brick-container/serve/getProxy.js
  packages/brick-container/src/bootstrap.ts
  packages/easyops-runtime/package.json
  packages/easyops-runtime/src/index.ts
  packages/easyops-runtime/src/websocket/MessageDispatcher.spec.ts
  packages/easyops-runtime/src/websocket/MessageDispatcher.ts
  packages/easyops-runtime/src/websocket/MessageService.spec.ts
  packages/easyops-runtime/src/websocket/MessageService.ts
  packages/runtime/src/createRoot.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/bindListeners.spec.ts
  packages/runtime/src/internal/bindListeners.ts
  packages/runtime/src/internal/data/DataStore.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support more variable
  packages/brick-utils/src/snippetEvaluate.spec.ts
  packages/brick-utils/src/snippetEvaluate.ts
  packages/cook/src/preevaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
