Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": "prettier --write",
  "*.html": "prettier --write",
  "!(CHANGELOG).md": "prettier --write",
  "*.json": "prettier --write"
}

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): isolate forEach access between inside and outside of template
  packages/eslint-config-next/index.js
  packages/runtime/src/internal/CustomTemplates/constants.ts
  packages/runtime/src/internal/CustomTemplates/expandCustomTemplate.ts
  packages/runtime/src/internal/CustomTemplates/setupTemplateProxy.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Renderer.ts
  packages/runtime/src/internal/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix mini-bootstrap load
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): brick local debug
  packages/brick-container/serve/getIndexHtml.js
  packages/brick-container/serve/getProxies.js
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/internal/images.spec.ts
  packages/brick-kit/src/internal/images.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): brick local debug
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/utils/injectIndexHtml.js
  packages/brick-container/src/images.spec.ts
  packages/brick-container/src/images.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

chore(): 联合打包脚本编码更新， unicode->utf8
  packages/brick-container/tools/package-union/link_union_app_static_file.py
Due: none

fix(): fix image preview
  packages/brick-container/src/images.spec.ts
  packages/brick-container/src/images.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix image preview
  packages/brick-kit/src/internal/images.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): export getRealValue
  etc/runtime.api.md
  packages/runtime/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 联合app上报脚本调整
  packages/brick-container/tools/package-union/report_union_micro_app.py
Due: none

fix(): 支持 union app root 的变量
  packages/brick-container/serve/getIndexHtml.js
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 支持 union app root 变量
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/utils/injectIndexHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine union app root
  packages/brick-container/serve/getIndexHtml.js
  packages/brick-container/serve/getProxies.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): 联合na上报脚本更新
  packages/brick-container/tools/package-union/report_union_micro_app.py
  packages/brick-container/tools/report_installed_brick_next_package.py
  packages/brick-container/tools/report_installed_micro_app_sa.py
Due: none

fix(): 增加联合na上报脚本到v3分支
  packages/brick-container/tools/package-union/link_union_app_static_file.py
  packages/brick-container/tools/package-union/report_union_micro_app.py
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

fix(): 卸载sa_na的逻辑放到python脚本中
  packages/brick-container/tools/package-union/link_union_app_static_file.py
  packages/brick-container/tools/package-union/report_union_micro_app.py
Due: none

chore(): 更新link_union_app.py文件
  packages/brick-container/tools/package-union/link_union_app_static_file.py
Due: none

feat(): support asyncWrapBrick
  .github/workflows/update-docs-etc.yml
  bricks/e2e/src/async-dep/index.tsx
  bricks/e2e/src/async-wrap/index.tsx
  bricks/e2e/src/bootstrap.ts
  etc/runtime.api.md
  packages/react-runtime/package.json
  packages/react-runtime/src/asyncWrapBrick.spec.tsx
  packages/react-runtime/src/asyncWrapBrick.ts
  packages/react-runtime/src/index.ts
  packages/runtime/src/internal/secret_internals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix image url
  packages/brick-kit/src/internal/images.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): refresh page if auth changed
  packages/brick-container/package.json
  packages/brick-container/src/AuthenticationChange.spec.ts
  packages/brick-container/src/AuthenticationChange.ts
  packages/brick-container/src/bootstrap.ts
  packages/brick-container/src/i18n.ts
  packages/brick-container/src/loadCheckLogin.ts
  packages/runtime/src/Dialog.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): refresh page if auth changed
  .size-limit.js
  packages/brick-kit/package.json
  packages/brick-kit/src/core/AuthenticationChange.spec.ts
  packages/brick-kit/src/core/AuthenticationChange.tsx
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/i18n/constants.ts
  packages/brick-kit/src/i18n/locales/en.ts
  packages/brick-kit/src/i18n/locales/zh.ts
  packages/rollup-config-factory/src/index.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
