Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

fix(): 自定义rate的颜色 refs BRICK_STORE-2660
  packages/brick-container/src/styles/antd.less
  packages/custom-antd-styles/src/rate.less
Due: none

refacotr(): 添加末尾行 refs BRICK_STORE-2660
  packages/custom-antd-styles/src/rate.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(general-button): 适配dark模式下按钮背景色
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

fix(): bg bricks should have no slot
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix getMenu later
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): update unit test
  packages/brick-kit/src/core/LocationContext.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency moment to v2.29.2 [SECURITY]
  yarn.lock
Due: none

chore(deps): Update dependency moment to ^2.29.2
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  packages/brick-utils/package.json
  packages/build-config-factory/package.json
  packages/pipes/package.json
  packages/supply/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prettier to ^2.6.2
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
  packages/easyops-illustrations/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency yargs to ^17.4.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency webpack-dev-server to ^4.8.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(): no menu for template preview
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support serving by https
  .gitignore
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serve.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): useProvider hook 支持query查询provider
  packages/brick-kit/src/hooks/useProvider/useProvider.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): handle checking isInIframeOfLegacyConsole when previewing in visual builder by iframe
  packages/brick-kit/src/internal/misc.spec.ts
  packages/brick-kit/src/internal/misc.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): reload bootstrap again when loading bricks failed
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix style
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 5.19.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^21.6.16
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(template-preview): support setting lifeCycle and events
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency react-i18next to ^11.16.6
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update type packages
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(statistic-card): 适配统计卡片暗色模式，增加一个图标
  packages/brick-icons/src/icons/colored-common/expansion-1.svg
Due: none

chore(deps): Update dependency semver to ^7.3.7
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency body-parser to ^1.20.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(loading-container): 适配暗色模式，修改加载容器的图标样式
  packages/custom-antd-styles/src/spin.less
Due: none

fix(general-modal): 给模态框加一个border
  packages/custom-antd-styles/src/modal.less
Due: none

fix(loading-container): 适配加载容器的暗色模式，修改颜色变量
  packages/custom-antd-styles/src/spin.less
Due: none

fix(brick-value-mapping): 修改颜色变量指向
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

fix(): put template preview route before others
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support setting targetRef as array
  etc/brick-types.api.md
  packages/brick-kit/src/internal/bindListeners.spec.ts
  packages/brick-kit/src/internal/bindListeners.ts
  packages/brick-types/src/manifest.ts
  packages/editor-bricks-helper/src/processors/getRelatedNodesBasedOnEvents.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
