Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

WIP
  packages/brick-container/serve/env.js
  packages/runtime/src/internal/RendererContext.ts
  packages/runtime/src/internal/Router.ts
  packages/types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support load deprecated brick
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
  packages/build-next-bricks/src/build.js
  packages/loader/src/stableLoadBricks.spec.ts
  packages/loader/src/stableLoadBricks.ts
  packages/loader/src/standalone.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/loader/CHANGELOG.md
  packages/loader/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

chore(): update next-core/theme
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): support build brick with stories
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/src/buildStories.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/build-next-bricks/CHANGELOG.md
  packages/build-next-bricks/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/yo/CHANGELOG.md
  packages/yo/package.json
Due: prettier --write

fix(): use substitution strings for console.*
  packages/runtime/src/internal/Renderer.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix permission check in dynamic menu items
  packages/easyops-runtime/src/menu/fetchMenuById.spec.ts
  packages/easyops-runtime/src/menu/loadDynamicMenuItems.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  bricks/e2e/CHANGELOG.md
  bricks/e2e/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-playground/CHANGELOG.md
  packages/brick-playground/package.json
  packages/easyops-runtime/CHANGELOG.md
  packages/easyops-runtime/package.json
  packages/preview/CHANGELOG.md
  packages/preview/package.json
  packages/react-runtime/CHANGELOG.md
  packages/react-runtime/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write

fix(): 增加事件总线icon refs ALERT_EVENT-974
  packages/brick-icons/src/icons/app/event-bridge.svg
  packages/brick-icons/src/icons/second-menu/event-bridge-second-menu.svg
  packages/brick-icons/src/icons/second-menu/target-second-menu.svg
  packages/brick-icons/src/icons/third-menu/event-bridge-third-menu.svg
  packages/brick-icons/src/icons/third-menu/target-third-menu.svg
Due: none

chore(): 增加事件总线icon refs ALERT_EVENT-974
  packages/brick-icons/src/icons/app/event-bridge.svg
  packages/brick-icons/src/icons/second-menu/event-bridge-second-menu.svg
  packages/brick-icons/src/icons/second-menu/target-second-menu.svg
  packages/brick-icons/src/icons/third-menu/event-bridge-third-menu.svg
  packages/brick-icons/src/icons/third-menu/target-third-menu.svg
Due: none

chore():add icons
  packages/brick-icons/src/icons/monitor/root-cause-alert.svg
  packages/brick-icons/src/icons/monitor/root-cause-deployment.svg
  packages/brick-icons/src/icons/monitor/root-cause-high-load.svg
  packages/brick-icons/src/icons/monitor/root-cause-oom.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): debugger with public dependencies mode
  packages/brick-container/serve/getProxy.js
  packages/brick-container/serve/utils/injectIndexHtml.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): replace icons
  packages/brick-icons/src/icons/colored-common/root-cause-alert.svg
  packages/brick-icons/src/icons/colored-common/root-cause-deployment.svg
  packages/brick-icons/src/icons/colored-common/root-cause-high-load.svg
  packages/brick-icons/src/icons/colored-common/root-cause-oom.svg
  packages/brick-icons/src/icons/monitor/root-cause-high-load.svg
Due: none

fix(): debugger with public dependencies mode
  packages/brick-container/serve/getIndexHtml.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serveLocal.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add sys-setting-sdk
  packages/public-scoped-sdk/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/public-scoped-sdk/CHANGELOG.md
  packages/public-scoped-sdk/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

chore(): add sys-setting
  packages/public-scoped-sdk/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/public-scoped-sdk/CHANGELOG.md
  packages/public-scoped-sdk/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

chore(): sdk update
  packages/public-scoped-sdk/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support real time query
  packages/runtime/src/internal/compute/evaluate.spec.ts
  packages/runtime/src/internal/compute/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): optional use real time query
  packages/brick-kit/src/getRealValue.spec.ts
  packages/brick-kit/src/getRealValue.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update docs etc
  etc/brick-kit.api.md
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): Provider::saveAs requires the first argument to be the filename
  packages/brick-kit/src/core/FlowApi.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): Provider::saveAs requires the first argument to be the filename
  packages/easyops-runtime/src/flowApi/FlowApi.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): throw when v2-adapter not found if using v2 bricks
  packages/loader/src/stableLoadBricks.spec.ts
  packages/loader/src/stableLoadBricks.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): 上传图标
  packages/brick-icons/src/icons/second-menu/permission-inheritance-second-menu.svg
Due: none

fix(): optional use real time query in placeholders
  packages/brick-kit/src/getRealValue.spec.ts
  packages/brick-kit/src/getRealValue.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: (((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.json)
