Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(): add icon
  packages/brick-icons/src/icons/monitor/prometheus.svg
  packages/brick-icons/src/icons/monitor/zabbix.svg
Due: none

feat(): support to pass commonjs options
  packages/rollup-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(create-provider): new method `saveAs`, save blob, refs AGILE_V2-105
  .size-limit.js
  package.json
  packages/brick-utils/package.json
  packages/brick-utils/rollup.config.js
  packages/brick-utils/src/createProviderClass.spec.ts
  packages/brick-utils/src/createProviderClass.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update jest monorepo to ^25.3.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/jest-dom to ^5.4.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.4.0
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency url-loader to ^4.1.0
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.33
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.1.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.6.5
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.2.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/jest-dom to ^5.5.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.34
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency husky to ^4.2.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.4.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(router): log location change, refs BRICK_STORE-1307
  packages/brick-container/assets/ea/analytics.jpg
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency css-loader to ^3.5.2
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency semver to ^7.2.2
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.4.1
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.6.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(brick-container): show versions of core packages
  packages/brick-container/src/index.ts
  packages/brick-container/webpack.common.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(webpack): fix dll not refreshing after updated in development
  packages/brick-container/package.json
  packages/brick-container/webpack.common.js
  packages/brick-container/webpack.dev.js
  packages/brick-container/webpack.prod.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(devtools): hooks to support devtools
  jest.config.js
  packages/brick-kit/src/UpdatingElement.spec.ts
  packages/brick-kit/src/UpdatingElement.ts
  packages/brick-kit/src/core/BrickNode.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/reconciler.ts
  packages/brick-utils/src/createProviderClass.spec.ts
  packages/brick-utils/src/createProviderClass.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.6.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): check if `src` exists (provider packages don't have a `src` dir)
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): fix tests after using jsdom@16
  packages/brick-kit/src/core/CustomTemplates.spec.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/Resolver.spec.ts
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/template/bricks-pkg/src/index.spec.ts
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 2.28.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup-plugin-postcss to ^2.6.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency semver to ^7.2.3
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

feat(webpack): ensure usages of imports of antd
  packages/webpack-config-factory/src/bricks/ScanCustomElementsPlugin.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
  packages/babel-preset-prismjs/CHANGELOG.md
  packages/babel-preset-prismjs/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(): update test templates after upgraded jsdom@16
  packages/brick-scripts/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
  packages/brick-scripts/template/brick/index.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup-plugin-postcss to ^2.6.2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(defineResolves): support placeholders in defineResolves
  jest.config.js
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.spec.ts
  packages/brick-kit/src/core/Resolver.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
