Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

feat(build-config-factory): 在providers生成custom elements时如果有重复就报错
  packages/build-config-factory/src/pre-build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(brick-icon): add image upload icon
  packages/brick-icons/src/icons/image-upload.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency rollup-plugin-postcss to ^3.1.3
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo to ^7.10.5
  package.json
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): update antd checkbox style
  packages/brick-container/src/styles/antd.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): add flounder icon
  packages/brick-icons/src/icons/flounder.svg
Due: none

chore(deps): Update dependency @testing-library/react to ^10.4.7
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.6.1
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update Font Awesome
  packages/fontawesome-library/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/jest-dom to ^5.11.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency chokidar to ^3.4.1
  packages/brick-container/package.json
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(useResolves): support useProvider
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Resolver.spec.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-types/src/manifest.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.spec.ts
  packages/brick-utils/src/getDllAndDepsOfStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): scan bricks by useProvider
  packages/brick-utils/src/scanBricksInStoryboard.spec.ts
  packages/brick-utils/src/scanBricksInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency i18next to ^19.6.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency less to ^3.12.2
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @size-limit/file to ^4.5.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~3.9.7
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency size-limit to ^4.5.5
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): fix error of `new Headers(undefined)` in older browsers
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(events): pass event as default arg for brick method event handlers
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(serve): fix glob patterns not working when watch symlinks
  packages/brick-container/dev-server/index.js
  packages/brick-container/serve/index.js
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rollup to ^2.22.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/jest to ^26.0.5
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.5.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.22.1
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): add icon
  packages/brick-container/src/styles/antd.less
  packages/brick-icons/src/icons/quick-add-me.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 3.7.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(): make sure babel-runtime is newest as @easyops/babel-runtime-helpers
  package.json
  yarn.lock
Due: prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

fix(): use source-map-loader to correct brick-dll source mapping
  packages/brick-dll/package.json
  packages/brick-dll/webpack.dll.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
  packages/babel-runtime-helpers/CHANGELOG.md
  packages/babel-runtime-helpers/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/fontawesome-library/CHANGELOG.md
  packages/fontawesome-library/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(brick-container): listRealpathOfSubdir 方法在调用 readdirSync 前，先用 existsSync 检查目录是否存在
  packages/brick-container/serve/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.158
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write
