Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

Update ci.yml
  .github/workflows/ci.yml
Due: none

feat(): gauge-chart add other properties
  bricks/data-view/src/data-view-variables.shadow.css
  bricks/data-view/src/gauge-chart/gauge-chart.shadow.css
  bricks/data-view/src/gauge-chart/index.spec.ts
  bricks/data-view/src/gauge-chart/index.tsx
  bricks/data-view/src/modern-style-component-title/index.tsx
  bricks/data-view/src/modern-style-component-title/modern-style-component-title.shadow.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): init itsc-mobile project Refs ITSERVICE_NEXT-5845
  bricks/itsc-mobile/build.config.js
  bricks/itsc-mobile/package.json
  bricks/itsc-mobile/src/bootstrap.ts
  bricks/itsc-mobile/src/index.ts
  bricks/itsc-mobile/src/interface.ts
  bricks/itsc-mobile/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(codecov): fix coverage report (#2843)
  .github/workflows/ci.yml
  codecov.yml
Due: none

chore(): update dependencies
  docker-compose.yml
  package.json
  packages/brick-container/package.json
  packages/brick-playground/package.json
  packages/build-next-bricks/package.json
  packages/create-api-sdk/package.json
  packages/eslint-config-next/package.json
  packages/i18n/package.json
  packages/test-next/package.json
  yarn.lock
Due: prettier --write

fix(): use core-js 3.29
  packages/babel-preset-next/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): ignore some dev-only parts
  packages/element/src/createDecorators.ts
  packages/runtime/src/internal/Renderer.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support modern-style-page-title
  bricks/data-view/src/bootstrap.ts
  bricks/data-view/src/data-view-variables.shadow.css
  bricks/data-view/src/gauge-chart/index.tsx
  bricks/data-view/src/modern-style-component-title/index.tsx
  bricks/data-view/src/modern-style-component-title/modern-style-component-title.shadow.css
  bricks/data-view/src/modern-style-page-title/example.html
  bricks/data-view/src/modern-style-page-title/index.spec.ts
  bricks/data-view/src/modern-style-page-title/index.tsx
  bricks/data-view/src/modern-style-page-title/modern-style-page-title.shadow.css
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): override prettier parser temporarily
  .prettierrc
Due: none

fix(wrapBrick): make event props as optional
  packages/react-element/src/wrapBrick.spec.tsx
  packages/react-element/src/wrapBrick.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add form component Refs ITSERVICE_NEXT-5898
  bricks/itsc-mobile/package.json
  bricks/itsc-mobile/src/bootstrap.ts
  bricks/itsc-mobile/src/form/index.tsx
  bricks/itsc-mobile/src/interface.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix check installed apps
  packages/runtime/src/internal/checkInstalledApps.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test(): add tests
  packages/i18n/src/index.spec.ts
  packages/i18n/src/index.ts
  packages/i18n/src/init.spec.ts
  packages/i18n/src/init.ts
  packages/i18n/src/react.spec.ts
  packages/runtime/src/internal/CustomTemplates/utils.spec.ts
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/checkInstalledApps.spec.ts
  packages/runtime/src/internal/compute/getNextStateOfUseBrick.spec.ts
  packages/runtime/src/internal/loadBootstrapData.spec.ts
  packages/runtime/src/internal/secret_internals.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): resume prettier
  .prettierrc
  package.json
  packages/create-api-sdk/package.json
  yarn.lock
Due: prettier --write

chore(): fix tests
  packages/runtime/src/internal/checkInstalledApps.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): add tests
  packages/runtime/src/internal/Renderer.spec.ts
  packages/runtime/src/internal/Runtime.spec.ts
  packages/runtime/src/internal/Runtime.ts
  packages/runtime/src/internal/menu/fetchMenuById.spec.ts
  packages/runtime/src/internal/menu/mergeMenu.ts
  packages/runtime/src/internal/secret_internals.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): simplify workspaces
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

chore(ci): publish on v3
  .github/workflows/ci.yml
Due: none

chore(): set all brick packages as private temporarily
  bricks/advanced/package.json
  bricks/basic/package.json
  bricks/data-view/package.json
  bricks/icons/package.json
  bricks/v2-adapter/package.json
Due: prettier --write

fix(): fix deps
  packages/create-api-sdk/package.json
Due: prettier --write

chore(): update deps
  bricks/advanced/package.json
  bricks/basic/package.json
  bricks/containers/package.json
  bricks/data-view/package.json
  bricks/demo-widgets/package.json
  bricks/e2e/package.json
  bricks/icons/package.json
  bricks/v2-adapter/package.json
  package.json
  packages/create-api-sdk/template.json
Due: prettier --write

chore(): update tests
  packages/create-api-sdk/src/loaders/__snapshots__/loadTemplate.spec.ts.snap
Due: none

chore(): house cleaning [skip ci]
  README.md
  codecov.yml
  renovate.json
Due: prettier --write

feat(): type export json schema
  packages/types/package.json
  packages/types/scripts/post-build.cjs
  packages/types/yarn.lock
  yarn.lock
Due: prettier --write

feat(): update file
  packages/types/package.json
  packages/types/scripts/post-build.js
  packages/types/yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update yarn.lock
  yarn.lock
Due: none

feat(): update file export path
  packages/types/package.json
  packages/types/scripts/post-build.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update export file
  packages/types/package.json
Due: prettier --write

Sailorshe/master/type export json schema (#2857)
  packages/types/package.json
  packages/types/scripts/post-build.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(ci): allow release on v3
  .github/workflows/release-after-merged.yml
Due: none
