Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): wip
  bricks/basic/package.json
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/index.ts
  bricks/basic/src/x-button/index.tsx
  bricks/basic/src/y-button/index.tsx
  bricks/basic/tsconfig.json
  bricks/form/package.json
  bricks/form/src/bootstrap.ts
  bricks/form/src/f-input/index.tsx
  bricks/form/src/f-select/index.tsx
  bricks/form/src/index.ts
  bricks/form/tsconfig.json
  lerna.json
  package.json
  packages/brick-container/bnb.config.js
  packages/brick-container/package.json
  packages/brick-container/scripts/pre-build.js
  packages/brick-container/scripts/server.js
  packages/brick-container/src/index.ts
  packages/brick-dll/package.json
  packages/brick-icons/package.json
  packages/brick-kit/package.json
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/index.js
  packages/editor-bricks-helper/package.json
  packages/eslint-config-next/index.js
  packages/runtime/package.json
  packages/runtime/src/Runtime.ts
  packages/runtime/src/index.ts
  packages/runtime/tsconfig.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): remove unused deps
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(): add work-calendar svg icon
  packages/brick-icons/src/icons/work-calendar.svg
Due: none

chore(): wip
  lerna.json
  package.json
  packages/brick-container/scripts/server.js
  packages/dev-dependencies/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): make parallel requests for runtime api
  declarations/global.d.ts
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/standaloneBootstrap.spec.ts
  packages/brick-kit/src/core/standaloneBootstrap.ts
  packages/brick-kit/src/internal/getStandaloneInstalledApps.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(): scan bricks
  bricks/basic/package.json
  bricks/form/package.json
  packages/brick-container/bricks.config.js
  packages/brick-container/scripts/server.js
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/jsconfig.json
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/index.js
  packages/build-next-bricks/src/scanBricks.js
  packages/eslint-config-next/index.js
  packages/runtime/src/Runtime.ts
  packages/runtime/src/internal/Kernel.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/history.ts
  packages/runtime/src/internal/loadCheckLogin.ts
  packages/runtime/src/internal/loadMicroApps.ts
  packages/runtime/tsconfig.json
  packages/storyboard/src/interfaces.ts
  packages/storyboard/src/parseStoryboard.ts
  packages/storyboard/src/traverseStoryboard.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): scan bricks
  bricks/basic/src/x-button/index.tsx
  bricks/basic/src/y-button/index.tsx
  packages/brick-container/scripts/server.js
  packages/brick-container/src/index.ts
  packages/brick-container/src/loadBrick.ts
  packages/brick-container/src/loadScript.ts
  packages/brick-container/tsconfig.json
  packages/brick-types/package.json
  packages/build-next-bricks/src/index.js
  packages/build-next-bricks/src/scanBricks.js
  packages/element/src/decorators/UpdatingElement.ts
  packages/element/src/decorators/createDecorators.ts
  packages/element/src/decorators/interfaces.ts
  packages/eslint-config-next/index.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): decorators
  bricks/basic/src/x-button/index.tsx
  packages/brick-container/scripts/server.js
  packages/element/src/decorators/createDecorators.ts
  packages/element/src/decorators/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): react-element
  bricks/basic/package.json
  bricks/basic/src/x-button/index.tsx
  bricks/form/package.json
  bricks/form/src/f-input/index.tsx
  bricks/form/src/f-select/index.tsx
  packages/brick-container/package.json
  packages/brick-container/scripts/serve.js
  packages/brick-container/scripts/serveBricks.js
  packages/brick-container/scripts/start.js
  packages/brick-container/src/index.ts
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/scanBricksV2.js
  packages/element/src/decorators/createDecorators.ts
  packages/react-element/package.json
  packages/react-element/src/ReactUpdatingElement.tsx
  packages/react-element/src/index.ts
  packages/react-element/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): scan custom processors
  bricks/basic/bricks.config.js
  bricks/basic/src/bootstrap.ts
  bricks/basic/src/processors/sayHello.ts
  bricks/basic/src/x-button/index.tsx
  bricks/basic/src/y-button/index.tsx
  bricks/basic/src/y-button/y-button.css
  bricks/form/src/f-input/index.tsx
  bricks/form/src/f-select/index.tsx
  packages/brick-container/package.json
  packages/brick-container/src/index.ts
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/getCamelPackageName.js
  packages/build-next-bricks/src/scanBricks.js
  packages/loader/package.json
  packages/loader/src/index.ts
  packages/loader/src/loadScript.ts
  packages/loader/src/loadSharedModule.ts
  packages/loader/tsconfig.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): manage style in shadow DOM
  bricks/basic/src/x-button/index.tsx
  bricks/basic/src/x-button/x-button.shadow.css
  bricks/basic/src/y-button/index.tsx
  bricks/basic/src/y-button/y-button.shadow.css
  bricks/basic/tsconfig.json
  bricks/form/src/f-input/index.tsx
  bricks/form/src/f-select/index.tsx
  bricks/form/tsconfig.json
  declarations/global.d.ts
  lerna.json
  package.json
  packages/build-next-bricks/package.json
  packages/build-next-bricks/src/build.js
  packages/build-next-bricks/src/scanBricks.js
  packages/dev-dependencies/package.json
  packages/element/src/decorators/NextElement.ts
  packages/element/src/decorators/createDecorators.ts
  packages/element/src/index.ts
  packages/react-element/src/ReactNextElement.tsx
  packages/react-element/src/ReactUpdatingElement.tsx
  packages/react-element/src/index.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): yarn.lock
  yarn.lock
Due: none

chore(): catch invalid usage of decorators
  bricks/basic/src/x-button/index.tsx
  packages/element/src/decorators/createDecorators.ts
  packages/element/src/decorators/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): load shared modules from bricks/basic if possible
  bricks/basic/src/x-button/index.tsx
  bricks/basic/tsconfig.json
  bricks/form/tsconfig.json
  mock-micro-apps/bootstrap.hash.json
  mock-micro-apps/test/storyboard.yaml
  packages/brick-container/package.json
  packages/brick-container/scripts/serveBricks.js
  packages/brick-container/src/index.ejs
  packages/brick-container/src/index.ts
  packages/brick-types/src/index.ts
  packages/brick-types/src/manifest.ts
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/index.d.ts
  packages/build-next-bricks/src/EmitBricksJsonPlugin.js
  packages/build-next-bricks/src/build.js
  packages/element/src/decorators/createDecorators.ts
  packages/element/src/decorators/interfaces.ts
  packages/element/src/index.ts
  packages/loader/package.json
  packages/runtime/package.json
  packages/runtime/src/Runtime.ts
  packages/runtime/src/internal/Kernel.ts
  packages/runtime/src/internal/Router.ts
  packages/runtime/src/internal/Transpiler.ts
  packages/runtime/src/internal/loadBootstrapData.ts
  packages/runtime/src/internal/loadMicroApps.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

WIP
  bricks/basic/src/x-button/index.tsx
  bricks/basic/src/y-button/index.tsx
  packages/element/src/decorators/NextElement.ts
  packages/element/src/decorators/createDecorators.ts
  packages/react-element/src/ReactNextElement.tsx
  packages/runtime/src/internal/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat():新增formstate.update,新增formstate数据追踪，refs:ella/FORM_BUILDER-182
  etc/brick-types.api.md
  packages/brick-kit/src/core/CustomForms/CustomFormContext.ts
  packages/brick-kit/src/core/StoryboardContext.spec.ts
  packages/brick-kit/src/core/StoryboardContext.ts
  packages/brick-kit/src/internal/bindListeners.ts
  packages/brick-kit/src/internal/listenOnTrackingContext.spec.ts
  packages/brick-kit/src/internal/listenOnTrackingContext.ts
  packages/brick-kit/src/internal/setProperties.spec.ts
  packages/brick-kit/src/internal/setProperties.ts
  packages/brick-kit/src/transformProperties.ts
  packages/brick-types/src/manifest.ts
  packages/brick-utils/src/track.spec.ts
  packages/brick-utils/src/track.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat():update snapshot
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

feat():formstate设置onchange，track为true时，进行数据追踪
  packages/brick-kit/src/core/StoryboardContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
Due: prettier --write

test():修正单元测试
  packages/brick-kit/src/transformProperties.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

test():修正单测
  packages/brick-kit/src/internal/listenOnTrackingContext.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/storyboard/CHANGELOG.md
  packages/storyboard/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

feat(): 修改表格自带的过滤样式 close DESIGNER_ROUTINE-608
  packages/custom-antd-styles/src/table.less
Due: none

feat(): 修改table.less close DESIGNER_ROUTINE-594
  packages/custom-antd-styles/src/table.less
Due: none

fix(): 去掉!important
  packages/custom-antd-styles/src/table.less
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

WIP
  .eslintrc
  __jest__/setup.ts
  __mocks__/pngMock.js
  __mocks__/styleMock.js
  __mocks__/styleTextMock.js
  bricks/basic/build.config.js
  bricks/basic/jest.config.js
  bricks/basic/package.json
  bricks/basic/src/x-button/index.spec.tsx
  bricks/basic/src/x-button/index.tsx
  bricks/basic/src/y-button/index.spec.ts
  bricks/basic/src/y-button/index.tsx
  bricks/basic/test.config.js
  nx.json
  package.json
  packages/brick-container/build.config.js
  packages/brick-container/scripts/start.js
  packages/build-next-bricks/bin/build-next-bricks.js
  packages/build-next-bricks/index.d.ts
  packages/element/src/decorators/NextElement.ts
  packages/element/src/decorators/createDecorators.ts
  packages/eslint-config-next/index.js
  packages/jest-config-factory/bin/next-jest.js
  packages/jest-config-factory/index.d.ts
  packages/jest-config-factory/package.json
  packages/react-element/src/ReactNextElement.tsx
  packages/runtime/src/internal/Kernel.ts
  packages/test-next/bin/test-next-bricks.js
  packages/test-next/bin/test-next.js
  packages/test-next/index.d.ts
  packages/test-next/jsconfig.json
  packages/test-next/package.json
  packages/test-next/src/createJestConfig.js
  packages/test-next/src/findFileUpward.js
  packages/test-next/src/index.js
  packages/test-next/src/run.js
  packages/test-next/src/runAsRoot.js
  packages/test-next/src/transforms/file.js
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support VB scan context & complete bricks in storyboard
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/scanCompleteBricksInStoryboard.spec.ts
  packages/brick-utils/src/scanCompleteBricksInStoryboard.ts
  packages/brick-utils/src/scanContextInStoryboard.spec.ts
  packages/brick-utils/src/scanContextInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Revert "chore(release): publish"
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): 修改tableFilter的样式
  packages/custom-antd-styles/src/table.less
Due: none

fix(): 更改tableFilter图标样式
  packages/custom-antd-styles/src/table.less
Due: none

chore(): ts-check on some js files
  bricks/basic/build.config.js
  bricks/basic/src/y-button/index.tsx
  bricks/form/test.config.js
  packages/brick-container/build.config.js
  packages/build-next-bricks/src/getCamelPackageName.js
  packages/build-next-bricks/src/scanBricks.js
  packages/eslint-config-next/index.js
  packages/test-next/src/createJestConfig.js
  packages/test-next/src/findFileUpward.js
  packages/test-next/src/run.js
  packages/test-next/src/runAsProject.js
  packages/test-next/src/transforms/file.js
  tsconfig.json
  tsconfig.module.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): allow boolean property with default true to reset to false by attr
  packages/element/src/NextElement.spec.ts
  packages/element/src/createDecorators.ts
  packages/element/src/interfaces.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): auto-accessors can have types now
  bricks/basic/src/x-button/index.tsx
  packages/element/src/NextElement.ts
  packages/react-element/src/ReactNextElement.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fix types after babel supports type annotations on auto-accessors
  bricks/basic/src/y-button/index.tsx
  bricks/form/src/f-input/index.tsx
  bricks/form/src/f-select/index.tsx
  packages/element/src/NextElement.spec.ts
  packages/react-element/src/ReactNextElement.spec.tsx
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update yarn.lock
  yarn.lock
Due: none

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
