Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

feat(): move node up or down
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @testing-library/jest-dom to ^5.16.3
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency inquirer to ^8.2.2
  packages/brick-scripts/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript to ~4.6.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

chore(deps): Update dependency prettier to ^2.6.1
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
  packages/easyops-illustrations/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.16.2
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @rollup/plugin-commonjs to ^21.0.3
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): refine style
  packages/brick-container/src/styles/theme/dark.css
  packages/brick-container/src/styles/theme/default.css
  packages/custom-antd-styles/src/date-picker.less
  packages/custom-antd-styles/src/var.less
  packages/less-plugin-css-variables/src/LessReplacer.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/less-plugin-css-variables/CHANGELOG.md
  packages/less-plugin-css-variables/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(preview): add types for context menu on brick
  etc/brick-types.api.md
  packages/brick-types/src/preview.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(): switch style
  packages/brick-container/src/styles/theme/dark.css
Due: prettier --write

fix(): remove preview types from brick-types
  etc/brick-types.api.md
  packages/brick-container/src/index.tsx
  packages/brick-types/src/index.ts
  packages/brick-types/src/preview.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency rc-tabs to ~11.12.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 5.17.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^9.5.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress/included to v9.5.3
  docker-compose.yml
Due: none

feat(): adapt to the dark theme Refs#BRICK_STORE-2651
  packages/custom-antd-styles/src/tree/mixin.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

chore(): fix styles
  packages/custom-antd-styles/src/tree/mixin.less
Due: none

feat(): support updating storyboard on the fly
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/developHelper.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): update docs etc
  etc/brick-kit.api.md
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): replace APP.getMenu data Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): replace APP.getMenu data Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/Runtime.ts
  packages/brick-kit/src/internal/devtools.spec.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): delete unused code Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add MEDIA gloabl object and onMediaChange life cycle
  __jest__/setup.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/mediaQuery.spec.ts
  packages/brick-kit/src/internal/mediaQuery.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): cache fetchMenu, and APP.getMenu change Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): update type Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(easyops-illustrations): 替换插画图片 Closes DESIGNER_ROUTINE-546
  packages/easyops-illustrations/src/images/default/browser-version-low-dark.png
  packages/easyops-illustrations/src/images/default/browser-version-low.png
  packages/easyops-illustrations/src/images/default/create-content-dark.png
  packages/easyops-illustrations/src/images/default/create-content.png
  packages/easyops-illustrations/src/images/default/no-content-dark.png
  packages/easyops-illustrations/src/images/default/no-content.png
  packages/easyops-illustrations/src/images/default/no-history-dark.png
  packages/easyops-illustrations/src/images/default/no-history.png
  packages/easyops-illustrations/src/images/default/search-empty-dark.png
  packages/easyops-illustrations/src/images/default/search-empty.png
  packages/easyops-illustrations/src/images/exception/http-403-dark.png
  packages/easyops-illustrations/src/images/exception/http-403.png
  packages/easyops-illustrations/src/images/exception/http-404-dark.png
  packages/easyops-illustrations/src/images/exception/http-404.png
  packages/easyops-illustrations/src/images/exception/http-500-dark.png
  packages/easyops-illustrations/src/images/exception/http-500.png
  packages/easyops-illustrations/src/images/feedback/exception-dark.png
  packages/easyops-illustrations/src/images/feedback/exception.png
  packages/easyops-illustrations/src/images/feedback/fail-dark.png
  packages/easyops-illustrations/src/images/feedback/fail.png
  packages/easyops-illustrations/src/images/feedback/info-dark.png
  packages/easyops-illustrations/src/images/feedback/info.png
  packages/easyops-illustrations/src/images/feedback/success-dark.png
  packages/easyops-illustrations/src/images/feedback/success.png
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(): update docs etc
  etc/brick-types.api.md
Due: prettier --write

chore(deps): Update dependency @next-bricks/basic-bricks to ^1.174.0
  package.json
  yarn.lock
Due: prettier --write

chore(): increase size limit of brick-kit
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): APP.getMenu support scan template & routes Refs: NEXT_BUILDER-1459
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.181
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write
