Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency @types/prettier to ^2.3.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency http-proxy-middleware to ^2.0.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.14.10
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(deps): Update dependency @ant-design/icons to ^4.6.2
  package.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.52.7
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(cook): support tagged template
  packages/brick-utils/src/cook/CookVisitor.ts
  packages/brick-utils/src/cook/PrecookVisitor.ts
  packages/brick-utils/src/cook/__snapshots__/cook.spec.ts.snap
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/precook.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(evaluate): support TAG_URL
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/supply.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency eslint to v7.30.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prismjs to ^1.24.1
  packages/babel-preset-prismjs/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency ws to ^7.5.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.28.2
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency react-i18next to ^11.11.1
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

feat(): add deploy icons
  packages/brick-icons/src/icons/deploy/develop.svg
  packages/brick-icons/src/icons/deploy/prerelease.svg
  packages/brick-icons/src/icons/deploy/production.svg
  packages/brick-icons/src/icons/deploy/test.svg
Due: none

feat(): support sessionStorage.getItem,sessionStorage.setItem and SESSION_STORAGE
  packages/brick-kit/src/bindListeners.spec.ts
  packages/brick-kit/src/bindListeners.ts
  packages/brick-kit/src/core/Storage.spec.ts
  packages/brick-kit/src/core/Storage.ts
  packages/brick-kit/src/core/localStorage.spec.ts
  packages/brick-kit/src/core/localStorage.ts
  packages/brick-kit/src/evaluate.spec.ts
  packages/brick-kit/src/evaluate.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): update docs etc
  etc/brick-types.api.md
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency husky to v7
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.52.8
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(renovate): group type packages
  renovate.json
Due: prettier --write

chore(deps): Update dependency @types/dompurify to ^2.2.3
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.9.9
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/enzyme to ^3.10.9
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/fs-extra to ^9.0.12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/history to ^4.7.9
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/inquirer to ^7.3.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/jest to ^26.0.24
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/js-yaml to ^3.12.7
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/lodash to ^4.14.171
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/lolex to ^5.1.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/node to ^12.20.16
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update cypress/included Docker tag to v7.7.0
  docker-compose.yml
Due: none

chore(deps): Update dependency babel-plugin-prismjs to ^2.1.0
  packages/babel-preset-prismjs/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to ^7.7.0
  package.json
  yarn.lock
Due: prettier --write

feat(builder): support to expand templates
  .size-limit.js
  packages/editor-bricks-helper/src/DropZone/DropZone.tsx
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.spec.tsx
  packages/editor-bricks-helper/src/EditorContainer/EditorContainer.tsx
  packages/editor-bricks-helper/src/EditorContainer/isCurrentTargetByClassName.spec.ts
  packages/editor-bricks-helper/src/EditorContainer/isCurrentTargetByClassName.ts
  packages/editor-bricks-helper/src/hooks/useBuilderGroupedChildNodes.spec.tsx
  packages/editor-bricks-helper/src/hooks/useBuilderGroupedChildNodes.ts
  packages/editor-bricks-helper/src/hooks/useBuilderMountPointChildNodes.spec.tsx
  packages/editor-bricks-helper/src/hooks/useBuilderMountPointChildNodes.ts
  packages/editor-bricks-helper/src/hooks/useBuilderNodeMountPoints.spec.tsx
  packages/editor-bricks-helper/src/hooks/useBuilderNodeMountPoints.ts
  packages/editor-bricks-helper/src/hooks/useBuilderParentNode.spec.tsx
  packages/editor-bricks-helper/src/hooks/useBuilderParentNode.ts
  packages/editor-bricks-helper/src/interfaces.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.spec.ts
  packages/editor-bricks-helper/src/internal/BuilderDataManager.ts
  packages/editor-bricks-helper/src/internal/deleteNodeFromTree.ts
  packages/editor-bricks-helper/src/internal/expandTemplateEdges.spec.ts
  packages/editor-bricks-helper/src/internal/expandTemplateEdges.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.spec.ts
  packages/editor-bricks-helper/src/internal/getAppendingNodesAndEdges.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.spec.ts
  packages/editor-bricks-helper/src/internal/getBuilderNode.ts
  packages/editor-bricks-helper/src/internal/isParentExpandableTemplate.ts
  packages/editor-bricks-helper/src/internal/reorderBuilderEdges.spec.ts
  packages/editor-bricks-helper/src/internal/reorderBuilderEdges.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
Due: prettier --write

feat(story): support parenthesized type
  packages/build-config-factory/src/generateBrickDocs.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
