Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support loading gltf
  packages/webpack-config-factory/src/bricks/webpack.base.factory.js
  packages/webpack-config-factory/src/loaders/gltf-loader.js
  packages/webpack-config-factory/src/loaders/utils.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

fix(): fix menu prefetch in standalone apps
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/core/LocationContext.spec.ts
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): support setting standalone app root
  CONTRIBUTING.md
  packages/brick-container/serve/getEnv.js
  packages/brick-container/serve/getProxies.js
  packages/brick-container/serve/serve.js
  packages/brick-container/serve/serveLocal.js
  packages/brick-container/webpack/common.js
  packages/brick-container/webpack/dev.js
  packages/brick-kit/src/core/standaloneBootstrap.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support crsf token
  etc/brick-types.api.md
  packages/brick-container/src/index.tsx
  packages/brick-kit/src/auth.ts
  packages/brick-types/src/manifest.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/cook/CHANGELOG.md
  packages/cook/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-illustrations/CHANGELOG.md
  packages/easyops-illustrations/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
  packages/supply/CHANGELOG.md
  packages/supply/package.json
Due: prettier --write

fix(handleHttpError): 修复请求报错msg超出弹窗的问题 refs INSTANCE-2681
  packages/brick-kit/src/handleHttpError.spec.tsx
  packages/brick-kit/src/handleHttpError.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Revert "fix(handleHttpError): 修复请求报错msg超出弹窗的问题 refs INSTANCE-2681"
  packages/brick-kit/src/handleHttpError.spec.tsx
  packages/brick-kit/src/handleHttpError.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support clearPreviewRequestCacheIgnoreList
  packages/brick-container/src/index.tsx
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(): support MISC variable
  packages/brick-kit/src/internal/getGeneralGlobals.spec.ts
  packages/brick-kit/src/internal/getGeneralGlobals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): fulfill i18n only when loading injected menus
  .size-limit.js
  etc/brick-types.api.md
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
  packages/brick-types/src/manifest.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support lazy context
  etc/brick-types.api.md
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/StoryboardContext.spec.ts
  packages/brick-kit/src/core/StoryboardContext.ts
  packages/brick-kit/src/internal/bindListeners.spec.ts
  packages/brick-kit/src/internal/bindListeners.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): addNewColor close none
  packages/brick-container/src/styles/theme/default.css
Due: prettier --write

feat(): context can track its deps now
  etc/brick-types.api.md
  packages/brick-kit/src/core/Resolver.spec.ts
  packages/brick-kit/src/core/Resolver.ts
  packages/brick-kit/src/core/StoryboardContext.spec.ts
  packages/brick-kit/src/core/StoryboardContext.ts
  packages/brick-types/src/manifest.ts
  packages/brick-utils/src/track.spec.ts
  packages/brick-utils/src/track.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update dll manifest
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-dll/manifest.snapshot.json
Due: prettier --write

fix(): add new icon
  packages/brick-icons/src/icons/itsc-form/tips.svg
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(): preview error when legacy was iframe
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): the next site in iframe and loading bar is triggered by outerside
  etc/brick-kit.api.md
  packages/brick-container/src/index.tsx
  packages/brick-container/src/styles/default.css
  packages/brick-dll/manifest.snapshot.json
  packages/brick-kit/src/core/Kernel.ts
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Revert "feat(): support MISC variable"
  dll/editor-bricks-helper/manifest.snapshot.json
  packages/brick-kit/src/internal/getGeneralGlobals.spec.ts
  packages/brick-kit/src/internal/getGeneralGlobals.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): preview route render error
  packages/brick-kit/src/core/Kernel.spec.ts
  packages/brick-kit/src/core/Kernel.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support bundling menu with i18n
  etc/brick-types.api.md
  packages/brick-kit/src/i18n/index.ts
  packages/brick-kit/src/internal/evaluate.spec.ts
  packages/brick-kit/src/internal/evaluate.ts
  packages/brick-kit/src/internal/getGeneralGlobals.ts
  packages/brick-kit/src/internal/menu.spec.ts
  packages/brick-kit/src/internal/menu.ts
  packages/brick-kit/src/internal/setProperties.ts
  packages/brick-types/src/manifest.ts
  packages/brick-types/src/menu.ts
  packages/brick-types/src/runtime.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(easyops-analytics): support more metric
  packages/easyops-analytics/src/ApiAnalysis.spec.ts
  packages/easyops-analytics/src/ApiAnalysis.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/editor-bricks-helper/CHANGELOG.md
  dll/editor-bricks-helper/package.json
  dll/react-dnd/CHANGELOG.md
  dll/react-dnd/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/editor-bricks-helper/CHANGELOG.md
  packages/editor-bricks-helper/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

feat(brick-container): expose getHistory and getBasePath on window for cypress testing
  packages/brick-container/src/index.tsx
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(easyops-analytics): support more metric
  packages/easyops-analytics/src/ApiAnalysis.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(easyops-analytics): support more metric
  packages/easyops-analytics/src/ApiAnalysis.spec.ts
  packages/easyops-analytics/src/ApiAnalysis.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write
