Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "cross-env ESLINT_ENV='production' eslint --fix --quiet",
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.html": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}

chore(deps): Update dependency typedoc to ^0.19.1
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency antd to ^4.6.3
  .size-limit.js
  packages/brick-dll/manifest.snapshot.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(): dependencies
  packages/brick-container/deploy/package.conf.yaml
Due: none

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency husky to ^4.3.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency whatwg-fetch to ^3.4.1
  packages/brick-http/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.1.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to ^4.6.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(renovate): add antd_v4_migration into base branches and auto renew @next
  packages/dev-dependencies/index.js
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

feat(): upgrade d3-* to v2
  dll/d3/manifest.snapshot.json
  dll/d3/package.json
  yarn.lock
Due: prettier --write

fix(): move antd and d3-* to workspace level to avoid dll manifest breaking
  .size-limit.js
  package.json
  packages/brick-dll/manifest.snapshot.json
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/d3/CHANGELOG.md
  dll/d3/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency rollup to ^2.26.11
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(renovate): add antd_v4_migration into base branches only for next-core packages
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/enzyme to ^3.10.6
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency css-loader to ^4.3.0
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^0.11.1
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

feat(rollup-config-factory): postcss 增加 nested 插件
  packages/rollup-config-factory/package.json
  packages/rollup-config-factory/src/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
Due: prettier --write

fix(): all micro-apps and templates should be compatible with brick_next v2
  .eslintrc
  packages/dev-dependencies/package.json
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/index.js
  packages/dev-dependencies/patches/majorBrickNext.js
  packages/dev-dependencies/patches/majorBrickNext.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency webpack-merge to ^5.1.4
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(custom-antd-styles): move general-transfer global style here
  packages/brick-container/src/styles/antd.less
  packages/custom-antd-styles/src/transfer.less
Due: none

chore(deps): Update dependency eslint-plugin-react-hooks to v4.1.1
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

docs(): use api-extractor to build markdown docs
  .gitignore
  .prettierignore
  api-extractor.json
  etc/brick-kit.api.md
  etc/brick-types.api.md
  package.json
  packages/brick-kit/api-extractor.json
  packages/brick-kit/package.json
  packages/brick-kit/src/ErrorBoundary.tsx
  packages/brick-kit/src/runtime.ts
  packages/brick-types/api-extractor.json
  packages/brick-types/package.json
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(table): 规范嵌套子表格的样式和间距 Closes UISIX-21
  packages/custom-antd-styles/src/table.less
Due: none

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-types/CHANGELOG.md
  packages/brick-types/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

fix(antd): 修复6.0样式优先级问题 Closes UISIX-46
  packages/custom-antd-styles/src/table.less
  packages/custom-antd-styles/src/transfer.less
Due: none

chore(deps): Update dependency eslint-plugin-react-hooks to v4.1.2
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typedoc-plugin-no-inherit to ^1.2.0
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
Due: prettier --write

chore(deps): Update dependency mini-css-extract-plugin to ^0.11.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint to v7.9.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

fix(): fix patch version for major brick next
  packages/dev-dependencies/patch.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): do not throw for unexpected brick next version
  packages/dev-dependencies/patch.js
  packages/dev-dependencies/patches/majorBrickNext.js
  packages/dev-dependencies/patches/majorBrickNext.spec.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write
