Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency webpack to ^4.42.1
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency prettier to v2
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to v2
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(): update test snapshots after upgrade prettier to v2
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
Due: none

fix(): update after upgrade http-proxy-middleware
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @types/js-yaml to ^3.12.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency inquirer to ^7.1.0
  packages/brick-scripts/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typedoc to ^0.17.3
  packages/build-config-factory/package.json
  yarn.lock
Due: prettier --write

fix(): remember injected and do not inject again
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/injected.spec.ts
  packages/brick-kit/src/injected.ts
  packages/brick-kit/src/setProperties.ts
  packages/brick-kit/src/transformProperties.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): yarn deduplicate
  yarn.lock
Due: none

chore(): increase size limit of font-awesome
  .size-limit.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(pipes): nullish
  packages/brick-utils/src/placeholder/pipes/PipeRegistry.ts
  packages/brick-utils/src/placeholder/pipes/processPipes.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(evaluate): supply `LOCATION.href`, refs MONITOR-432
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/supply.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support moment for cooking
  packages/brick-utils/src/cook/__snapshots__/cook.spec.ts.snap
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/supply.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @size-limit/file to ^4.4.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update babel monorepo
  package.json
  packages/brick-utils/package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/react to ^9.5.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/classnames to ^2.2.10
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/node to ^12.12.31
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react to ^7.19.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency size-limit to ^4.4.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^25.2.0
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

fix(): listen on `localhost`
  packages/brick-container/serve/index.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(pipe): graphTree
  packages/brick-utils/src/placeholder/pipes/PipeRegistry.ts
  packages/brick-utils/src/placeholder/pipes/processPipes.spec.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  dll/echarts/CHANGELOG.md
  dll/echarts/package.json
  packages/babel-preset-next/CHANGELOG.md
  packages/babel-preset-next/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-scripts/CHANGELOG.md
  packages/brick-scripts/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/eslint-config-next/CHANGELOG.md
  packages/eslint-config-next/package.json
  packages/fontawesome-library/CHANGELOG.md
  packages/fontawesome-library/package.json
  packages/rollup-config-factory/CHANGELOG.md
  packages/rollup-config-factory/package.json
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/CHANGELOG.md
  packages/webpack-config-factory/package.json
Due: prettier --write

chore(deps): Update dependency @typescript-eslint/eslint-plugin to ^2.25.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react-hooks to ^2.5.1
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency html-webpack-plugin to ^4.0.2
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/jest-dom to ^5.3.0
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @testing-library/react to v10
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-plugin-react-hooks to v3
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.9.26
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update jest monorepo to ^25.2.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @size-limit/file to ^4.4.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency size-limit to ^4.4.2
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

feat(): export transform functions
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @sdk/cmdb-sdk
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency i18next to ^19.3.4
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @sdk/cmdb-sdk to ^0.13.0
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

feat(): support ObjectPattern and ArrayPattern
  packages/brick-utils/src/cook/CookVisitor.ts
  packages/brick-utils/src/cook/PrecookVisitor.ts
  packages/brick-utils/src/cook/__snapshots__/cook.spec.ts.snap
  packages/brick-utils/src/cook/cook.spec.ts
  packages/brick-utils/src/cook/cook.ts
  packages/brick-utils/src/cook/interfaces.ts
  packages/brick-utils/src/cook/precook.spec.ts
  packages/brick-utils/src/cook/precook.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
