Repository easyops-cn/next-core: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

fix(): refine exported names of literal interfaces
  packages/sdk-scripts/src/lib/Api.ts
  packages/sdk-scripts/src/lib/InternalInterfaces.ts
  packages/sdk-scripts/src/lib/MixedType.ts
  packages/sdk-scripts/src/lib/Model.ts
  packages/sdk-scripts/src/lib/ObjectType.ts
  packages/sdk-scripts/src/lib/PartialModelType.ts
  packages/sdk-scripts/src/lib/ProbablyObjectType.ts
  packages/sdk-scripts/src/lib/SourceFile.ts
  packages/sdk-scripts/src/lib/TypeDefinition.ts
  packages/sdk-scripts/src/lib/UnionType.ts
  packages/sdk-scripts/src/loaders/__snapshots__/loadService.spec.ts.snap
  packages/sdk-scripts/src/main.ts
  packages/sdk-scripts/yaml/api/cd/package/list_name_service.yaml
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  packages/sdk-scripts/CHANGELOG.md
  packages/sdk-scripts/package.json
Due: prettier --write

chore(deps): Update dependency @babel/core to ^7.12.9
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @fortawesome/react-fontawesome to ^0.1.13
  packages/brick-dll/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/echarts to ^4.9.2
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @types/react to ^16.14.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency babel-plugin-import to ^1.13.3
  packages/babel-preset-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency lint-staged to ^10.5.2
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript-json-schema to ^0.44.0
  packages/brick-types/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update typescript-eslint monorepo to >= 4.8.2
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency cypress to v6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency core-js to ^3.8.0
  packages/brick-container/package.json
  yarn.lock
Due: prettier --write

fix(): handle login session timeout
  packages/brick-kit/package.json
  packages/brick-kit/src/handleHttpError.spec.tsx
  packages/brick-kit/src/handleHttpError.tsx
  packages/brick-kit/src/i18n/constants.ts
  packages/brick-kit/src/i18n/locales/en.ts
  packages/brick-kit/src/i18n/locales/zh.ts
  packages/brick-kit/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency babel-loader to ^8.2.2
  packages/brick-container/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency typescript-json-schema to ^0.44.1
  packages/brick-types/package.json
  yarn.lock
Due: prettier --write

fix(serve): fail on unknown options
  packages/brick-container/serve/getEnv.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency @sdk/cmdb-sdk to ^0.15.13
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(report_brick_next_package): 上报NB包时，先检查org是否存在 refs INSTANCE-1280
  packages/brick-container/tools/report_installed_brick_next_package.py
Due: none

chore(icon): add icon
  packages/brick-icons/src/icons/agile/easy-now.svg
Due: none

chore(deps): Update dependency prettier to ^2.2.1
  package.json
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/dll-differ/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency rollup to ^2.34.0
  packages/rollup-config-factory/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency @sdk/micro-app-sdk to ^0.8.3
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

fix(): fix dark theme styles
  packages/brick-container/src/styles/variables.css
  packages/custom-antd-styles/src/button.less
  packages/custom-antd-styles/src/input.less
  packages/custom-antd-styles/src/select.less
  packages/custom-antd-styles/src/table.less
  packages/custom-antd-styles/src/var.less
Due: prettier --write

chore(deps): Update dependency cross-env to ^7.0.3
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency semver to ^7.3.4
  packages/create-next-repo/package.json
  packages/dev-dependencies/package.json
  packages/sdk-scripts/package.json
  yarn.lock
Due: prettier --write

fix(): fix content type detected and body modified twice
  packages/brick-http/src/http.spec.ts
  packages/brick-http/src/http.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency change-case to ^4.1.2
  packages/brick-icons/package.json
  packages/brick-scripts/package.json
  packages/build-config-factory/package.json
  packages/create-next-repo/package.json
  packages/sdk-scripts/package.json
  packages/webpack-config-factory/package.json
  yarn.lock
Due: prettier --write

feat(): scanPermissionActionsInStoryboard
  packages/brick-dll/manifest.snapshot.json
  packages/brick-utils/src/index.ts
  packages/brick-utils/src/scanPermissionActionsInStoryboard.spec.ts
  packages/brick-utils/src/scanPermissionActionsInStoryboard.ts
  packages/brick-utils/src/scanProcessorsInStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): support `PERMISSIONS.check(...)`
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-kit/package.json
  packages/brick-kit/src/core/Router.spec.ts
  packages/brick-kit/src/core/Router.ts
  packages/brick-kit/src/core/checkPermissions.spec.ts
  packages/brick-kit/src/core/checkPermissions.ts
  packages/brick-kit/src/evaluate.spec.ts
  packages/brick-kit/src/evaluate.ts
  yarn.lock
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-http/CHANGELOG.md
  packages/brick-http/package.json
  packages/brick-icons/CHANGELOG.md
  packages/brick-icons/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/brick-utils/CHANGELOG.md
  packages/brick-utils/package.json
  packages/build-config-factory/CHANGELOG.md
  packages/build-config-factory/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/custom-antd-styles/CHANGELOG.md
  packages/custom-antd-styles/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/easyops-analytics/CHANGELOG.md
  packages/easyops-analytics/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

chore(deps): Update dependency cypress to ^6.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): Update size-limit packages to ^4.9.1
  package.json
  packages/dev-dependencies/package.json
  yarn.lock
Due: prettier --write

chore(): Update antd to ^4.9.1
  package.json
  packages/brick-dll/manifest.snapshot.json
  packages/brick-dll/package.json
  packages/brick-kit/package.json
  yarn.lock
Due: prettier --write

chore(shouldUpgrade): remove antd condition
  packages/dev-dependencies/extract.js
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  dll/ace/CHANGELOG.md
  dll/ace/package.json
  packages/brick-container/CHANGELOG.md
  packages/brick-container/package.json
  packages/brick-dll/CHANGELOG.md
  packages/brick-dll/package.json
  packages/brick-kit/CHANGELOG.md
  packages/brick-kit/package.json
  packages/create-next-repo/CHANGELOG.md
  packages/create-next-repo/package.json
  packages/dev-dependencies/CHANGELOG.md
  packages/dev-dependencies/package.json
  packages/next-docs/CHANGELOG.md
  packages/next-docs/package.json
Due: prettier --write

fix(): passing route alias path to app bar
  packages/brick-container/deploy/package.conf.yaml
  packages/brick-kit/src/core/LocationContext.ts
  packages/brick-kit/src/core/Router.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(deps): Update dependency eslint to v7.15.0
  package.json
  packages/dev-dependencies/package.json
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

chore(deps): Update dependency eslint-config-prettier to v7
  packages/eslint-config-next/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
